---
interface CTAButton {
	children: string;
	href: string;
	primary?: boolean;
}

const { children, href, primary } = Astro.props;
---

<a
  href={href}
  class={`min-w-[200px] rounded-md px-8 py-3 text-center font-semibold transition-all duration-300 ${
    primary
      ? 'text-blood-red-800 bg-white shadow-lg hover:border-spacing-1 hover:bg-transparent hover:shadow-xl'
      : 'border-2 border-white bg-transparent text-[#d9d9d9] hover:bg-white/10'
  }`}
>
  {children}
</a>
