body {
  background: var(--color-dark);
  color: var(--color-light);
  font-size: var(--size-step-0);
  line-height: var(--leading-standard);
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading, 1.2);
  font-family: var(--font-display, var(--font-primary));
}

h1 {
  font-size: var(--size-step-5);
}

:is(h1, h2, h3) {
  font-weight: var(--font-weight-heading, bold);
  line-height: var(--line-height-heading, 1.25);
  font-family: var(--font-family-heading, inherit);
  letter-spacing: var(--letter-spacing-heading, 0);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-xxl, unset);
}

h2 {
  font-size: var(--font-size-xl, unset);
}

h3 {
  font-size: var(--font-size-l, unset);
}

h4 {
  font-size: var(--font-size-m, unset);
}

h5 {
  font-size: var(--font-size-s, unset);
}

h6 {
  font-size: var(--font-size-xs, unset);
}

main:focus {
  outline: none;
}

p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

p:not([class]) {
  max-width: var(--width-l);
}

ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

:is(ul, ol):not([class]) {
  padding-inline-start: 1.7ch;
}

li:not([class]) {
  max-width: var(--width-l);
}

pre {
  --pre-background: var(--color-neutral-100);
  background: var(--theme-pre-background, var(--pre-background));
}

@media (prefers-color-scheme: dark) {
  pre {
    --pre-background: var(--color-neutral-700);
  }
}

blockquote {
  margin: 0;
}

blockquote:not([class]) {
  border-left: solid var(--border-l) var(--color-current);
  padding-inline-start: var(--space-s);
  max-width: var(--width-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height);
  font-family: var(--font-heading);
}

blockquote:not([class]) p:last-of-type,
blockquote:not([class]) cite,
blockquote:not([class]) footer {
  margin-block-start: var(--space-xxs);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

figure {
  margin: 0;
}

figcaption {
  margin-block-start: var(--space-xxs, 0.5rem);
  font-size: var(--font-size-xs);
  text-align: center;
}

hr {
  position: relative;
  margin: var(--space-l) 0;
  border: none;
  border-top: solid var(--border-s) currentColor;
}

a {
  cursor: var(--cursor-pointer, pointer);
  color: var(--color-link, unset);
  font-size: inherit;
  line-height: inherit;
}

a:hover,
a:focus,
a:active {
  cursor: var(--cursor-pointer, pointer);
}

a:not([class]) {
  --offset: 0.1em;
  --offset-hover: 0.25em;
  transition: all var(--transition);
  text-decoration: underline;
  text-underline-offset: var(--offset, 0.1em);
}

a:not([class]):hover,
a:not([class]):focus {
  --offset: var(--offset-hover, 0.25em);
  color: inherit;
  text-decoration: underline;
}

a[data-variant="naked"] {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

mark,
::selection {
  background-color: var(--color-highlight, #849cdb);
  color: var(--color-text-selection, #ffffff);
}

small,
sub,
sup {
  font-size: var(--font-size-s);
}

code {
  vertical-align: bottom;
  --code-background: var(--color-neutral-100);
  --code-color: var(--color-neutral-900);
  background: var(--theme-code-background, var(--code-background));
  color: var(--theme-code-color, var(--code-color));
}

@media (prefers-color-scheme: dark) {
  code {
    --code-background: var(--color-neutral-700);
    --code-color: var(--color-neutral-300);
  }
}

kbd {
  border: solid var(--border-s);
  border-radius: var(--border-radius-s);
  padding: 0.115rem 0.25rem;
  font-size: 1rem;
  font-family: var(--font-family-accent);
  --kbd-background: var(--color-neutral-700);
  --kbd-border-color: var(--color-neutral-500);
  border-color: var(--theme-kbd-border-color, var(--kbd-border-color));
  background-color: var(--theme-kbd-background, var(--kbd-background));
}

@media (prefers-color-scheme: dark) {
  kbd {
    --kbd-background: var(--color-neutral-900);
    --kbd-border-color: var(--color-neutral-600);
  }
}

img,
picture {
  display: block;
  max-width: 100%;
}

img {
  border: none;
}

svg {
  flex-shrink: 0;
}

svg:not([class]) {
  width: auto;
  height: 2ex;
}

svg:not([class]) path {
  fill: var(--color-current);
}

svg[role="img"][width][height] {
  width: revert;
  height: revert;
}

iframe {
  border: none;
}

tr {
  --tr-background-odd: var(--color-white);
  --tr-background-even: var(--color-neutral-50);
  background-color: var(--theme-tr-background-odd, var(--tr-background-odd));
}

tr:nth-child(2n) {
  background-color: var(--theme-tr-background-even, var(--tr-background-even));
}

@media (prefers-color-scheme: dark) {
  tr {
    --tr-background-odd: var(--color-neutral-800);
    --tr-background-even: var(--color-neutral-700);
  }
}

th {
  background-color: var(--color-neutral-200);
}

fieldset {
  border: solid var(--border-m);
  border-radius: var(--border-radius);
  --fieldset-border-color: var(--color-neutral-300);
  border-color: var(
    --theme-fieldset-border-color,
    var(--fieldset-border-color)
  );
}

@media (prefers-color-scheme: dark) {
  fieldset {
    --fieldset-border-color: var(--color-neutral-600);
  }
}

legend {
  --legend-background-color: var(--color-white);
  background-color: var(
    --theme-legend-background-color,
    var(--legend-background-color)
  );
}

@media (prefers-color-scheme: dark) {
  legend {
    --legend-background-color: var(--color-neutral-900);
  }
}

input,
textarea,
select,
button {
  font: inherit;
}

button[role="combobox"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  border: solid var(--border-m);
  border-radius: var(--border-radius);
  --input-background: var(--color-white);
  --input-border-color: var(--color-black);
  --input-color: var(--color-black);
  border-color: var(--theme-input-border-color, var(--input-border-color));
  background: var(--theme-input-background, var(--input-background));
  color: var(--theme-input-color, var(--input-color));
}

@media (prefers-color-scheme: dark) {
  button[role="combobox"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
    --input-background: var(--color-neutral-800);
    --input-border-color: var(--color-neutral-600);
    --input-color: var(--color-neutral-300);
  }
}

input[type="checkbox"],
input[type="radio"] {
  border: solid var(--border-m);
  --checkbox-background: var(--color-white);
  --checkbox-border-color: var(--color-neutral-300);
  --checkbox-color: var(--color-neutral-900);
  border-color: var(
    --theme-checkbox-border-color,
    var(--checkbox-border-color)
  );
  background: var(--theme-checkbox-background, var(--checkbox-background));
  color: var(--theme-checkbox-color, var(--checkbox-color));
}

input[type="checkbox"] {
  border-radius: var(--border-radius);
}

details {
  border-radius: var(--border-radius);
  background: var(--color-neutral-200);
}

dialog,
[role="dialog"] {
  box-shadow: 0 0 0.5rem var(--color-black);
  padding: var(--space-l);
  --dialog-background: var(--color-neutral-100);
  --dialog-color: var(--color-black);
  --dialog-shadow: 0 0 0.5rem var(--color-black);
  box-shadow: var(--theme-dialog-shadow, var(--dialog-shadow));
  background: var(--theme-dialog-background, var(--dialog-background));
  color: var(--theme-dialog-color, var(--dialog-color));
}

dialog::backdrop {
  background-color: #171717d9;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: var(--outline, dotted 2px currentColor);
  outline-offset: var(--outline-offset, 2px);
}

:target {
  scroll-margin-top: 2ex;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
