@font-face {
  font-style: normal;
  font-weight: 400;
  src: local(),
    url("/assets/fonts/source/source-sans-regular.woff2") format("woff2");
  font-family: "Source Sans 3";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: local(),
    url("/assets/fonts/source/source-sans-bold.woff2") format("woff2");
  font-family: "Source Sans 3";
  font-display: swap;
}
