---
layout: base
---

<section class="hero | relative" id="hero" aria-labelledby="hero-section">
  <div class="welcome wrapper">
    <div data-layout="50-50" class="grid">
      <div class="hero__content" style="--flow-space:var(--space-s-m);">
        <h1 class="hero__title text-step-3" id="hero-section">
          {{hero.title}}  
        </h1>
        <p>{{hero.headline}}</p>
        <p>{{hero.intro}}</p>

        <ul class="hero__list" role="list">
          <li class="hero__item">
            <a href="/sobre" class="hero__link">
              Sobre mim
            </a>
          </li>
          <li class="hero__item">
            <a href="/agora" class="hero__link">
              O que estou fazendo agora
            </a>
          </li>
        </ul>
      </div>
      <figure class="hero__image | color-brand region flow | text-right">
        {% image hero.image, hero.alt, null, "eager" %}
      </figure>
    </div>
  </div>
</section>

<!-- Stream -->
<article class="full region region-space-2xl">
  <div class="wrapper flow prose">
    <h2>{{ about.title }}</h2>
    <div class="flow prose">
      {{ content | safe }}
    </div>
  </div>
</article>

<!-- Writing -->
<!-- Work -->
<!-- Newsletter -->
{% set show_cta = true %}
{% include 'partials/cta.njk' %}


<article class="full section overflow-hidden" data-color="royal-blue">
    <div class="section__inner">
      <div class="wrapper flow">
        <div class="mascot projects">
          <div class="flow region pr-l text-gray-100">
            <h2>{{ projects.title }}</h2>
            <p>{{ projects.teaser }}</p>
            <p>
              <a href="{{ projects.goal }}" class="button" data-funky-button>{{ projects.button }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</article>

<section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>

      {% if blog.intro %}
      <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections["blog_" + page.lang] | categoryFilter("blogpost") %}
          {% asyncEach item in itemList.slice(0, 4) %}
          {% set headingLevel = "h3" %}
          {% include "partials/card-blog.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>
    </div>
</section>



{%- css "local" -%}
  {%- include 'css/home.css' -%}
  {%- include 'css/column.css' -%}
{%- endcss -%}
</div>