{% extends "../base/base.njk" %}
{% from 'schemas/schemas.njk' import serviceSchema, breadcrumbSchema %}

{% block head %}
{{ serviceSchema(service, serviceDescription, url, priceRange) }}

{% set breadcrumbs = [
{ name: 'Bruno Pulis', url: '/' },
{ name: 'Serviços', url: '/servicos/' },
{ name: service, url: url }
] %}
{{ breadcrumbSchema(breadcrumbs) }}

{% endblock %}

{% block main_class %}servico-page{% endblock %}

{% block content %}
<article class="servico-content">
  {{ content | safe }}
</article>

{% set related = serviceId | getRelatedServices %}
{% if related.length > 0 %}
<aside class="related-services">
  <h3>Serviços Relacionados</h3>
  <ul>
    {% for srv in related %}
    <li>
      <a href="{{ srv.url }}">{{ srv.icon }} {{ srv.title }}</a>
      <p>{{ srv.description }}</p>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
{% endblock %}

{% block after_main %}
{% include 'partials/cta.njk' %}
{% endblock %}