/* 
Details and summary styles

Format the expanding box, a.k.a accordion.

Ditch these styles altogether if not required for the website.
*/
details {
  background: var(--color-surface);
  border-radius: var(--radius);
}

summary {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  padding: .5rem 1rem;
}

details[open] {
  padding: .5rem 1rem .75rem 1rem;
}

details[open] summary {
  margin-bottom: .5rem;
  padding: 0;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

/* Variant to enhance the style of accordions with fancy arrows */

details[data-variant='fancy'] {
  position: relative;

  summary {
    /* Hide marker on Safari */
    list-style-type: none;
    list-style: none;
  }

  summary::-webkit-details-marker,
  summary::marker {
    content: "";
    /* Hide marker on iOS */
    display:none;
  }

  summary:after {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NDgiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+PHBhdGggZD0iTTIwMS40IDQwNi42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE5Mi0xOTJjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjI0IDMzOC43IDU0LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE5MiAxOTJ6IiBmaWxsPSIjMUQxRDFEIi8+PC9zdmc+');
    /* Use light chevron for darkmode */
    @media (prefers-color-scheme: dark) {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NDgiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+PHBhdGggZD0iTTIwMS40IDQwNi42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE5Mi0xOTJjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjI0IDMzOC43IDU0LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE5MiAxOTJ6IiBmaWxsPSIjQ0VEM0U4Ii8+PC9zdmc+');
    }
    height: 1.5rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: .7rem;
    transform: rotate(180deg);
  }
}

details[open][data-variant='fancy'] {
  summary:after {
    top: .7rem;
    transform: rotate(0deg);
  }
}