@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/source-sans/source-sans-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/source-sans/source-sans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/noto-sans/noto-sans-bold.woff2") format("woff2");
}
