.external {
  word-wrap: break-word;
  color: #3366bb;
  word-break: break-all;
}

a[href ^="https://"]
{
  background: url('/external.svg') center right no-repeat;
  padding-right: 1em;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
