.prose {
  --flow-space: var(--space-2xl);
  line-height: var(--line-height-base);
}

.prose :is(p, ul:not([class]), ol:not([class])) {
  max-width: var(--measure-longform);
}

.prose :is(blockquote) {
  line-height: var(--line-height-base);
  max-width: 55ch;
}

.prose :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  --flow-space: var(--space-l-xl);
}
