/*
SECTION-HEADING
A heading with optional decorative line
*/
.section-heading {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  margin-block-end: var(--space-l);
}

.section-heading::after {
  content: '';
  flex-grow: 1;
  height: 2px;
  background-color: var(--color-border);
}
