// =============================================================================
// Tags
// =============================================================================

.tag__list {
  column-count: 3;
  column-gap: var(--space-s-m);
}

.tag__item {
  margin-block: 0.875rem;
}

.tag__link {
  text-transform: capitalize;
}
