.card {
  background-color: var(--color-light);
  padding: 1.5rem;
  border: 1px solid var(--color-dark);
  height: 100%;
}

.card h3 {
  margin-bottom: 0.25rem;
  color: var(--color-dark);
}

.card p {
  color: var(--color-surface);
}

.card a {
  color: var(--color-surface);
  text-decoration: none;
}

.card a:hover {
  color: var(--color-blue);
}

.card time {
  display: block;
  margin-top: 1rem;
  color: var(--color-red);
}
