.hero {
  background-color: var(--color-red-800);
  padding-inline: 3rem;
  overflow: hidden;

  /* overflow-hidden relative text-white to-red-950 via-red-800 */

  position: relative; 

overflow: hidden; 

.hero :where(h1, p) {
  color: #fff;
  
}

color: rgb(255,255,255);
}