.services {
  color: var(--color-light);
}

.services .wrapper {
  padding-block: clamp(3rem, 6vw, 6rem);
}

.services ul {
  margin-top: 2rem;
}

.services li {
  padding-left: 1rem;
  border-left: 3px solid var(--color-blue);
}

.services h3 {
  margin-bottom: 0.25rem;
}
