.title {
  border-bottom: solid var(--border-m) var(--color-current);
  padding-bottom: var(--space-xxs);
  min-width: 100%;
  font-size: var(--font-size-4xl);
  color: var(--color-primary);
}

.title[data-color="light"] {
  color: var(--color-light);
}

.title[data-color="dark"] {
  color: var(--color-dark);
}
