@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "abstracts/bootstrap" as *;

@use "@fortawesome/fontawesome-free/scss/fontawesome" as *;
@use "@fortawesome/fontawesome-free/scss/solid" as *;
@use "@fortawesome/fontawesome-free/scss/regular" as *;
@use "@fortawesome/fontawesome-free/scss/brands" as *;

// 3. Base
@use "base/typography" as *;
@use "base/reset" as *;

// 4. layouts
@use "layout/header" as *;
@use "layout/footer" as *;

// 5. Componentes
@use "components/buttons" as *;
@use "components/cards" as *;
@use "components/hero" as *;
@use "components/stream" as *;
@use "components/sidebar" as *;
@use "components/newsletter" as *;
@use "components/forms" as *;

// 6. Páginas Específicas
@use "pages/portfolio" as *;
@use "pages/contact" as *;
@use "pages/explore" as *;

@use "utilities/utilities" as *;
@use "utilities/prism-diff" as *;
