// CORES
$color-accent-primary: #610404;
$color-accent-secondary: #849cdb;

$color-bg-root: #171e1e;
$color-bg-surface: #1f2626;
$color-bg-elevated: #262e2e;

$color-text-root: #171e1e;
$color-text-primary: #ffffff;
$color-text-secondary: #d9d9d9;
$color-text-muted: rgba(217, 217, 217, 0.7);

$color-border-subtle: rgba(255, 255, 255, 0.08);

// TIPOGRAFIA
$font-text: "Source Sans 3", system-ui, sans-serif;
$font-display: "Noto Sans", system-ui, sans-serif;

// FONT SCALE
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-md: 1.125rem;
$fs-lg: 1.375rem;
$fs-xl: 1.75rem;
$fs-2xl: 2.25rem;
$fs-3xl: 3rem;

// ESPAÇAMENTO
$space-0: 0;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.5rem;
$space-6: 2rem;
$space-7: 3rem;
$space-8: 4rem;
$space-9: 6rem;

// BORDER
$border-radius-base: 0.5rem;
$border-radius-pill: 50rem;
$border-radius-md: 0.25rem;
