<div class="last-update">
  <p>
    {% lucide "clock" %}
    Última atualização: {{ page.date | formatDate('MMMM D, YYYY') }}
  </p>
  <a href="#main-nav">
    Voltar ao topo {% lucide "arrow-up" %}
  </a>
</div>