<section class="card region">
  {% if site.newsletter.enabled %}
  <div class="flow">
    <h3>{{ site.newsletter.title }}</h3>
    <p>{{ site.newsletter.description }}
      <a href="https://brunopulis.substack.com" rel="noopener noreferrer" target="_blank">Inscrever</a>
    </p>
  </div>
  {% endif %}
</section>