<section class="wrapper" aria-labelledby="posts-title">
  <header class="region | flow">
    <h2 id="post-title">Últimas notas</h2>
    <p>Notas curtas, pensamentos aleatórios e curiosidades. Meu microblog pessoal.</p>
  </header>

  {% set posts = collections.notes %}
  {% if (posts | length) == 0 %}
  {% set posts = collections.searchIndex | default([]) %}
  {% endif %}

  {% if posts %}
  <div class="grid" data-layout="33x3">
    {% for post in posts.slice(0, 3) %}
    {% set title = post.data.title %}
    {% set dateVal = post.data.pubDate %}
    {% set desc = post.templateContent | striptags | truncate(80) %}
    {% set tags = post.data.tags %}
    <article class="card h-entry">
      <div class="flow">
        <div class="e-content">
          {{ desc }}
        </div>
        <time class="dt-published" datetime="{{ dateVal | toISOString }}">
          {{ dateVal | readableDate }}
        </time>

        {% if tags %}
        <div class="mt-4">
          {% for tag in tags %}
          <span class="tags">#{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
  {% endif %}

  <div class="region | flow">
    <a href="/notas" class="button">
      ver todas as notas {% lucide "chevron-right" %}
    </a>
  </div>
</section>