<div class="container">
  {% if pagination and pagination.pages.length > 1 %}
    <div class="">
      <nav class="flex p-4 text-bold" aria-label="Paginação">
        {% if pagination.previousPageHref %}
          <a 
            href="{{ pagination.previousPageHref }}" 
            class="px-4 py-2 underline underline-offset-8 hover:no-underline"
            rel="prev"
          >
            ← Anterior
          </a>
        {% else %}
          <span class="px-4 py-2 text-gray-700 cursor-not-allowed">← Anterior</span>
        {% endif %}

        <span class="px-4 py-2 text-gray-700">
          Página {{ pagination.pageNumber + 1 }} de {{ pagination.pages.length }}
        </span>

        {% if pagination.nextPageHref %}
          <a 
            href="{{ pagination.nextPageHref }}" 
            class="px-4 py-2 underline underline-offset-8 hover:no-underline"
            rel="next"
          >
            Próxima →
          </a>
        {% else %}
          <span class="px-4 py-2 text-gray-700 cursor-not-allowed">Próxima →</span>
        {% endif %}
      </nav>
  {% endif %}
</div>