<section aria-labelledby="portfolio-title">
  <h2 id="portfolio-title">Portfólio</h2>
  <p>Alguns trabalhos que realizei</p>

  <div class="grid">
    {% set projects = portfolio.projects %}
    {% for project in projects.slice(0, 3) %}
      <article>
        <figure>
          <img alt="{{ project.imageAlt }}" src="{{ project.image }}" />
        </figure>

        <div>
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
  <a href="/portfolio">
    ver todos projetos {% lucide "chevron-right", { "class": "w-4 h-4" } %}
  </a>
</section>
