{%- set defaultVariant = variant or 'default' -%}
{%- set defaultEmail = email or 'brunopulis@protonmail.com' -%}
{%- set pTitle = postTitle or title -%}
{%- set pUrl = postUrl or (meta.url + page.url) -%}
{%- set subject = ('Re: ' + pTitle) | urlencode -%}
{%- set bodyText = 'Olá! Li seu post "' + pTitle + '" e gostaria de comentar:\n\n' + pUrl + '\n\n' -%}
{%- set body = bodyText | urlencode -%}
{%- set mailToLink = 'mailto:' + defaultEmail + '?subject=' + subject + '&body=' + body -%}


<div>
  <div>
    <p>Obrigado pela leitura! Gostou deste post? Assine meu <a href="https://brunopulis.com/feed.xml" target="_blank"
        rel="alternate">RSS</a>.</p>
  </div>

  <div>
    <ul>
      <li><a href="{{ mailToLink }}">Responder por e-mail</a></li>
      <li>
        <a href="https://twitter.com/intent/tweet?url={{ meta.url }}{{ page.url }}&text={{ title | urlencode }}&via=brunopulis"
          target="_blank" rel="noopener noreferrer">
          Twitter
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ meta.url }}{{ page.url }}" target="_blank"
          rel="noopener noreferrer">LinkedIn</a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ meta.url }}{{ page.url }}" target="_blank"
          rel="noopener noreferrer">
          Facebook
        </a>
      </li>
      <li>
        <a href="https://bsky.app/intent/compose?text={{ title | urlencode }}%0A{{ meta.url }}{{ page.url }}"
          target="_blank" rel="noopener noreferrer">
          Bluesky
        </a>
      </li>
      <li>
        <a href="https://toot.kytta.dev/?text={{ title | urlencode }}%0A{{ meta.url }}{{ page.url }}" target="_blank"
          rel="noopener noreferrer">
          Mastodon
        </a>
      </li>
    </ul>
  </div>
</div>