<section class="mx-3 pt-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-blue-50 border border-blue-100 rounded-lg p-8">
    <h2 class="mb-4 font-bold text-3xl">Trabalhando</h2>
    <p class="mb-4">
      Ajudo empresas e produtos a serem mais acessíveis através de consultoria,
      auditorias e treinamentos em acessibilidade web.
    </p>
    <a href="/trabalho" class="underline underline-offset-8 hover:no-underline">vamos trabalhar juntos</a>
  </div>
</section>