<section class="wrapper" aria-labelledby="posts-title">
  <header class="region | flow">
    <h2 id="post-title">Últimos artigos</h2>
    <p>Escrevo para organizar ideias, compartilhar aprendizados e questionar práticas comuns da web.</p>
  </header>

  {% set posts = collections.posts %}
  {% if (posts | length) == 0 %}
  {% set posts = collections.searchIndex | default([]) %}
  {% endif %}

  {% if posts | length > 0 %}
  <div class="grid" data-layout="33x3">
    {% for post in posts.slice(0, 3) %}
    {% set title = post.data.title %}
    {% set dateVal = post.data.pubDate %}
    {% set desc = post.data.description | striptags | truncate(160) %}
    {% set tags = post.data.tags %}
    <article class="h-entry card">
      <div class="flow">
        <h3>
          <a href="{{ post.url }}" class="u-url">{{ title }}</a>
        </h3>
        <time class="dt-published" datetime="{{ dateVal | toISOString }}">
          {{ dateVal | readableDate }}
        </time>

        {% if desc %}
        <p>{{ desc }}</p>
        {% endif %}
        {% if tags %}
        <div>
          {% for tag in tags %}
          <a href="/tag/{{ tag | slug }}/">#{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
  {% endif %}

  <div class="region | flow">
    <a href="/blog" class="button">
      ver todos os artigos <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </a>
  </div>
</section>
