@use "../abstracts/variables" as *;


.bg-rosewood-900 {
  background: $rosewood-900;
}

.bg-alto-50 {
  background: $alto-50;
}

.pixelated {
  image-rendering: optimizeQuality;
  width: 88px;
  height: 31px;
}

a:has(.pixelated) {
  padding-inline-end: 0;
}

a:has(.pixelated)::after {
  content: none;
}
