{% macro Hero(data) %}
<section class="hero" style="background-image:url('{{ data.backgroundImage }}');">
  <div class="hero__content">
    <h1 class="hero__title">{{ data.title }}</h1>
    {% if data.subtitle %}
      <p class="hero__subtitle">{{ data.subtitle }}</p>
    {% endif %}
    {% if data.ctaText and data.ctaLink %}
      <a href="{{ data.ctaLink }}" class="btn btn-primary">{{ data.ctaText }}</a>
    {% endif %}
  </div>
</section>
{% endmacro %}