{% macro Writing(posts, locale='pt-br') %}
<section class="writing">
  <h2 class="section-title">{{ 'home.writing.title' | t(locale) }}</h2>
  <ul class="writing__list">
    {% for p in posts %}
      <li class="writing__item">
        <a href="{{ p.url }}" class="writing__link">
          <h3 class="writing__title">{{ p.title }}</h3>
          <p class="writing__excerpt">{{ p.excerpt }}</p>
          <time datetime="{{ p.date }}">{{ p.date | date('LL', locale) }}</time>
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="/writing" class="btn btn-outline">{{ 'home.writing.more' | t(locale) }}</a>
</section>
{% endmacro %}