---
layout: page
title: Bruno Pulis
permalink: /{{ lang }}/index.html
---

{% import "sections/hero.njk" as hero %}
{% import "sections/stream.njk" as streamSec %}
{% import "sections/writing.njk" as writingSec %}
{% import "sections/work.njk" as workSec %}
{% import "sections/newsletter.njk" as nlSec %}

{{ hero.Hero(hero) }}

{# ---- STREAM ---- #}
{% set streams = collections.allStreams | byLang(page.lang) %}
{% set recentStreams = streams | slice(0, 6) %}
{{ streamSec.StreamFeed(recentStreams, page.lang) }}

{# ---- WRITING (posts) ---- #}
{% set posts = collections.allPosts | byLang(page.lang) %}
{% set recentPosts = posts | slice(0, 5) %}
{{ writingSec.Writing(recentPosts, page.lang) }}

{{ workSec.Work(work, page.lang) }}
{{ nlSec.Newsletter(newsletter, page.lang) }}