---json
{
  "permalink": "/feeds/blog/feed.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Bruno Pulis - Blog",
    "description": "Artigos sobre teologia, frontend e qualidade de software",
    "language": "pt-br",
    "base": "https://www.brunopulis.com",
    "author": {
      "name": "Bruno Pulis",
      "email": "brunopulis@protonmail.com"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }} - Blog",
  "description": "{{ metadata.description }}",
  "home_page_url": "{{ metadata.base | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(metadata.base) }}",
  "language": "{{ metadata.language }}",
  "authors": [
    {
      "name": "{{ metadata.author.name }}",
      "url": "{{ metadata.base | addPathPrefixToFullUrl }}"
    }
  ],
  "items": [
    {%- for post in collections.posts | reverse | limit(10) %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": {{ post.data.title | dump | safe }},
      "content_html": {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }},
      {%- if post.data.summary %}
        "summary": {{ post.data.summary | dump | safe }},
      {%- endif %}
      "date_published": "{{ post.date | toRfc822Date }}",
      "date_modified": "{{ post.data.updated | default(post.date) | toRfc822Date }}"
      {%- if post.data.tags %},
        "tags": {{ post.data.tags | dump | safe }}
      {%- endif %}
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}