---json
{
  "permalink": "/feeds/blog/rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Bruno Pulis - Blog",
    "subtitle": "Artigos sobre acessibilidade web, teologia e tecnologia",
    "description": "Artigos sobre teologia, frontend e qualidade de software",
    "language": "pt-br",
    "base": "https://www.brunopulis.com",
    "author": {
      "name": "Bruno Pulis",
      "email": "brunopulis@protonmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feeds/pretty-feed-v3.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}"
  xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    {%- set posts = collections.posts %}
    {%- for post in posts.slice(0, 10) %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.content | renderTransforms(post.data.page, metadata.base) }}</description>
      <pubDate>{{ (post.data.pubDate or post.date) | toRfc822Date }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
      {%- if post.data.tags %}
      {%- for tag in post.data.tags %}
      {%- if tag not in ["posts", "all"] %}
      <category>{{ tag }}</category>
      {%- endif %}
      {%- endfor %}
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>