@use "../abstracts/tokens";

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/source-sans/source-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/source-sans/source-sans-bold.woff2') format('woff2');
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/source-sans/source-sans-black.woff2') format('woff2');
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/noto-sans/noto-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/noto-sans/noto-sans-bold.woff2') format('woff2');
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/noto-sans/noto-sans-black.woff2') format('woff2');
}

h1, h2, h3, h4 {
  font-family: tokens.$font-display;
  color: tokens.$color-text-primary;
  line-height: 1.25;
  margin-bottom: tokens.$space-4;
}

h1 { font-size: tokens.$fs-3xl; }
h2 { font-size: tokens.$fs-2xl; }
h3 { font-size: tokens.$fs-xl; }

p {
  max-width: 65ch;
  margin-bottom: tokens.$space-4;
}
