---
import mentoria from '@/assets/mentoria.avif'
import audit from '@/assets/audit.avif'
import talks from '@/assets/talks.avif'

import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header.astro'
import HeroSection from '@/components/layout/HeroSection.astro'
import ServiceCard from '@/components/ServiceCard.astro'
import ServiceCTA from '@/components/ServiceCTA.astro'
import Footer from '@/components/layout/Footer.astro'
---

<Layout title="Serviços - Bruno Pulis">
  <Header />
  <main>
    <div class="min-h-screen">
      <HeroSection
        title="Meus"
        highlightText=" Serviços"
        description="Oferecemos soluções completas em acessibilidade digital para tornar seus produtos mais inclusivos e alcançar mais pessoas."
      />

      <section class="bg-white py-20">
        <div class="container-custom mx-auto px-6">
          <ServiceCard
            title="Mentoria e Consultoria"
            description="Acompanhamento estratégico e personalizado para quem deseja implementar acessibilidade com segurança, clareza e autonomia."
            image={mentoria}
            alt="Mentoria"
            deliveries={[
              'Diagnóstico inicial e definição de objetivos claros;',
              'Sessões individuais ou em grupo, com foco prático;',
              'Apoio técnico na tomada de decisões, implementação e validação;',
            ]}
            link="/servicos/mentoria-consultoria"
            linkText="Conheça a mentoria"
            imagePosition="right"
          />

          <ServiceCard
            title="Auditoria de Acessibilidade"
            description="Vamos verificar se seu site, app ou documento pode ser usado por pessoas com deficiência. Encontramos os problemas e mostramos como resolver."
            image={audit}
            alt="Mentoria"
            deliveries={[
              'Análise técnica com base nas diretrizes de acessibilidade;',
              'Testes com ferramentas automáticas e manuais;',
              'Relatório completo com imagens e instruções passo a passo.',
            ]}
            link="/servicos/auditoria-de-acessibilidade"
            linkText="Conheça minhas auditorias"
            imagePosition="left"
          />

          <ServiceCard
            title="Palestras e Treinamentos"
            description="Ensinamos sobre acessibilidade digital de um jeito claro, prático e inspirador."
            image={talks}
            alt="Mentoria"
            deliveries={[
              'Palestras com conteúdo atual e linguagem acessível;',
              'Workshops com atividades práticas, dinâmicas;',
              'Treinamentos técnicos para devs, designers e QAs;',
              'Materiais de apoio e certificado de participação;',
            ]}
            link="/servicos/palestras-treinamentos"
            linkText="Contrate minhas palestras"
            imagePosition="right"
          />
        </div>
      </section>

      <ServiceCTA />
    </div>
  </main>
  <Footer />
</Layout>
