---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header.astro'
import Hero from '@/components/mentoria/Hero.astro'
import PillarSection from '@/components/mentoria/PillarSection.astro'
import TargetAudienceSection from '@/components/mentoria/TargetAudienceSection.astro'
import ProgramBenefitsSection from '@/components/mentoria/ProgramBenefitsSection.astro'
import BenefitsSection from '@/components/mentoria/BenefitsSection.astro'
import MentorSection from '@/components/mentoria/MentorSection.astro'
import TestimonialsSection from '@/components/mentoria/TestimonialsSection.astro'
import FAQSection from '@/components/mentoria/FAQSection.astro'
import CTASection from '@/components/mentoria/CTASection.astro'
import Footer from '@/components/layout/Footer.astro'
---

<Layout title="Mentoria BASE - Bruno Pulis">
  <Header />
  <main id="main-content">
    <Hero />
    <PillarSection />
    <TargetAudienceSection />
    <ProgramBenefitsSection />
    <BenefitsSection />
    <MentorSection />
    <TestimonialsSection />
    <FAQSection />
    <CTASection />
  </main>
  <Footer />
</Layout>
