---
import Layout from "@layout/Layout.astro";

import Hero from "@components/mentoria/Hero.astro";
import PillarSection from "@components/mentoria/PillarSection.astro";
import TargetAudienceSection from "@components/mentoria/TargetAudienceSection.astro";
import ProgramBenefitsSection from "@components/mentoria/ProgramBenefitsSection.astro";
import BenefitsSection from "@components/mentoria/BenefitsSection.astro";
import MentorSection from "@components/mentoria/MentorSection.astro";
import TestimonialsSection from "@components/mentoria/TestimonialsSection.astro";
import FAQSection from "@components/mentoria/FAQSection.astro";
import CTASection from "@components/mentoria/CTASection.astro";
---

<Layout title="Mentoria BASE - Bruno Pulis">
  <main id="main-content">
    <Hero />
    <PillarSection />
    <TargetAudienceSection />
    <ProgramBenefitsSection />
    <BenefitsSection />
    <MentorSection />
    <TestimonialsSection />
    <FAQSection />
    <CTASection />
  </main>
</Layout>
