<section class="region">
  <div class="wrapper flow">
    <div class="card">
      <h2 class="title" data-color="dark">{{ cta.title }}</h2>
      <p>{{ cta.description }}</p>

      <ul class="cluster flow" role="list">
        {% if cta.primary %}
          <li><a href="{{ cta.link }}">{{ cta.primary }}</a></li>
        {% endif %}
        {% if cta.secondary %}
          <li><a href="{{ cta.link }}">{{ cta.secondary }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>