<section class="">
  <div class="wrapper">
    <div class="bg-brand-red-500">
      <h2 class="text-white" data-color="dark">{{ cta.title }}</h2>
      <p>{{ cta.description }}</p>

      <ul class="cluster flow" role="list">
        {% if cta.primary %}
          <li><a href="{{ cta.link }}">{{ cta.primary }}</a></li>
        {% endif %}
        {% if cta.secondary %}
          <li><a href="{{ cta.link }}">{{ cta.secondary }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>