@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/source/source-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: bold;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/source/source-sans-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/source/source-sans-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2') format('woff2');
}
