/* Error: expected "{".
 *    ,
 * 25 | @media screen(md) {
 *    |              ^
 *    '
 *   src/assets/scss/components/prose.css 25:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 25 \2502  @media screen(md) {\a    \2502               ^\a    \2575 \a   src/assets/scss/components/prose.css 25:14  root stylesheet';
}
