{%- js "inline" %} <!-- inlined for all pages -->
{% include "scripts/is-land.js" %}
{% include "scripts/details.js" %}
{% include "scripts/dialog.js" %}
{% include "scripts/nav-drawer.js" %}
{% include "scripts/nav-sub.js" %}
{% endjs %}