{% set metaDescription %}
  {%- if discover.description -%}
    {{- discover.description -}}
  {%- elif description -%}
    {{- description -}}
  {%- else -%}
    {{- meta.siteDescription -}}
  {%- endif -%}
{% endset %}

<meta name="description" content="{{ metaDescription }}" />
<meta name="theme-color" content="{{ meta.themeDark }}" media="(prefers-color-scheme: dark)" />
<meta name="theme-color" content="{{ meta.themeLight }}" media="(prefers-color-scheme: light)" />

<!-- Search Engines -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- Made with Eleventy! -->
<meta name="generator" content="{{ eleventy.generator }}" />
<meta name="color-scheme" content="light dark" />
<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
<link rel="author" href="humans.txt" />

<!-- webmention -->
<link rel="webmention" href="https://webmention.io/brunopulis.com/webmention" />
<link rel="pingback" href="https://webmention.io/brunopulis.com/xmlrpc" />

{% if personal.platforms.mastodon %}
  <link rel="me" href="{{ personal.platforms.mastodon }}" />
{% endif %}

{% if meta.author.fediverse %}
  <meta name="fediverse:creator" content="{{ meta.author.fediverse }}" />
{% endif %}

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{%- if discover.title -%}
    {{- discover.title -}}
  {%- elif title -%}
    {{- title -}}
  {%- else -%}
    {{- meta.siteName -}}
  {%- endif -%}"
/>
<meta
  property="og:image"
  content="{%- if layout == 'post' -%}
    {{- meta.url -}}/assets/og-images/{{ title | slugify }}-preview.jpeg
  {%- else -%}
    {{- meta.url -}}{{- meta.opengraph_default -}}
  {%- endif -%}"
/>
<meta
  property="og:image:alt"
  content="{%- if layout == 'post' -%}
    {{- title -}}
  {%- else -%}
    {{- meta.opengraph_default_alt -}}
  {%- endif -%}"
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta property="og:site_name" content="{{ meta.siteName }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="article:author" content="{{ meta.author.name }}" />

<!-- RSS Autodiscovery. Loops over meta.blog.feedLinks -->
<link rel="alternate" type="application/rss+xml" title="Feed Completo" href="{{ meta.url }}/feed.xml">
<link rel="alternate" type="application/rss+xml" title="Blog" href="{{ meta.url }}/feeds/blog.xml">
<link rel="alternate" type="application/rss+xml" title="Notas" href="{{ meta.url }}/feeds/notas.xml">
<link rel="alternate" type="application/rss+xml" title="Streams" href="{{ meta.url }}/feeds/streams.xml">
<link rel="alternate" type="application/rss+xml" title="Livros" href="{{ meta.url }}/feeds/livros.xml">
<link rel="alternate" type="application/rss+xml" title="Músicas" href="{{ meta.url }}/feeds/musicas.xml">

<!-- Favicon: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
