.section {
  padding: var(--size-space-xl) var(--size-space-md);
}

.section--accent {
  background-color: var(--color-bg-alt);
}

.section__container {
  margin: 0 auto;
  max-width: 56rem;
}

.section__header {
  margin-bottom: var(--size-space-3xl);
  text-align: center;
}

.section__title {
  margin-bottom: var(--size-space-lg);
  color: var(--color-text);
  font-weight: 700;
  font-size: var(--font-size-4xl);
  line-height: 1.2;
}

.section__subtitle {
  margin-bottom: var(--size-space-md);
  color: var(--color-text-light);
  font-size: var(--font-size-lg);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-lg);
}
