{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="pt-br" class="scroll-smooth">

<head>
  <!-- 1 charset/viewport -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- 2 title -->
  <title>
    {%- if title -%}
      {{- title -}}
    {%- else -%}
      {{- meta.siteName -}}
    {%- endif -%}
  </title>
  <base href="{{ page.url }}" />

  <!-- 3 synchronous js  -->
  {% include "head/js-inline.njk" %}

  <!-- 4 schema settings -->
  {% include "head/schema.njk" %}

  <!-- 5 CSS  -->
  <!-- <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" /> -->
  {% include "head/css-inline.njk" %}
  <link rel="stylesheet" href="/assets/css/main.css">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="88ff3bbf-61c5-4303-bea2-f0da4f5dbb53"></script>
</head>

<body>
  <a href="#main" class="skip-link">{{ site.skipContent }}</a>
  {% include "partials/header.njk" %}

  <main id="main">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}

</html>
