---
layout: base
---

<section class="hero--inner" id="hero" aria-labelledby="hero-title">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h1 class="fw-bold lh-1 mb-4 text-black" id="hero-title">{{ title }}</h1>
        <p class="text-black">{{ description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
      {{ content | safe }}
  </div>
</section>

<style>
 .hero--inner {
    min-height: 390px;
 }
</style>
