---
layout: base
---

<section class="hero py-5">
  <div class="container">
    <header class="mb-5">
      <h1 class="display-5 fw-bold text-white">{{ title }}</h1>
      <p class="lead text-white">{{ description }}</p>
    </header>
  </div>
</section>

<section class="container">
  <div class="row">
    {{ content | safe }}
  </div>
</section>