---
layout: base
---

<section class="hero">
  <div class="container">
    <div class="row">
      <h1 class="display-5 fw-bold text-white">{{ title }}</h1>
      <p class="lead text-white">{{ description }}</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row py-4">
      {{ content | safe }}
    </div>
  </div>
</section>