---
layout: base
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p class="p-note">{{ description }}</p>
  </header>

  <article class="h-entry flow">
    <div class="e-content prose flow">
      {{ content | safe }}
    </div>

    {% include "components/post-engagement.njk" %}
  </article>
</div>