---
layout: base
schema: BlogPosting
---

<header class="hero" aria-labelledby="post-title">
  <div class="wrapper">
    <div class="flow">
      <h1 class="title p-name" id="post-title">{{ title }}</h1>
      <p>{{ description }}</p>

      <div>
        {% set definedDate = pubDate %}
        <time class="dt-published text-sm text-white" datetime="{{ definedDate | toISOString }}">
          Publicado em: {{ definedDate | formatDate('MMMM D, YYYY') | capitalize
          }}
        </time>
      </div>
    </div>
  </div>
</header>

<div class="wrapper | region">
  <div class="flow">
    <article class="h-entry" itemscope itemtype="https://schema.org/BlogPosting" data-pagefind-body>
      {% if image %} {% image image, alt or "", credit, "eager", "feature" %} {%
      endif %}
      <div class="e-content flow">{{ content | safe }}</div>
    </article>

    <footer class="after-article flow">
      <h2 class="title">Tags</h2>
      <ul class="cluster" role="list">
        {% for tag in tags %} {% if tag != "posts" %}
        <li class="tag">
          <a href="/tags/{{ tag | slugify }}/" class="p-category">{{ tag }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>

      {% set postTitle = title %}
      {% set postUrl = page.url %}
      {% set email = "brunopulis@protonmail.com" %}
      {% include "components/post-engagement.njk" %}
      {% include "partials/webmentions.njk" %}
    </footer>
  </div>
  {% include "components/newsletter.njk" %}
  {% include "components/authorship.njk" %}
</div>