---
layout: base
---

<div class="wrapper region">
  <nav class="flow region" aria-label="breadcrumb">
    <ol class="cluster" role="list">
      <li><a href="/">Home</a></li>
      <li><span aria-hidden="true">›</span></li>
      <li><a href="/blog/">Blog</a></li>
      <li><span aria-hidden="true">›</span></li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <article class="h-entry flow ">
    <h1 class="p-name">{{ title }}</h1>
    <p class="subtitle">{{ subtitle }}</p>

    <div>
      Publicado em
      <time class="dt-published" datetime="{{ page.date | toISOString }}">
        {{ page.date | readableDate}}
      </time>
      • <a class="hidden u-url" href="{{ page.url }}">Link permanente</a>
    </div>


    <div class="e-content prose flow">
      {{ content | safe }}
    </div>

    {% if tags %}
    <div class="mt-8 pt-6 border-gray-200 border-t post-tags">
      <h3 class="mb-2 font-semibold text-brand-red-500 text-sm">Tags</h3>
      <div class="flex flex-wrap gap-2">
        {% for tag in tags %}
        <a class="bg-brand-gray-200 p-category px-2 py-0.5 rounded font-bold text-brand-dark-500"
          href="/tags/{{ tag | slug }}/">#{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% include "components/post-engagement.njk" %}
    {% include "components/newsletter.njk" %}
  </article>
</div>