---
import Layout from '@layout/Layout.astro';
import SiteMapTree from '@components/SiteMapTree.astro';
---

<Layout title="Sitemap">
  <main class="wrapper">
    <h1>/ Sitemap</h1>
    <p>Site structure in English:</p>

    <SiteMapTree lang="en" />
  </main>
</Layout>
