---
layout: page
title: "Blogroll"
description: "Pessoas incríveis na web, em ordem aleatória."
permalink: "/blogroll/index.html"
---

<ul class="grid" role="list" data-layout="50-50">
  {% for blog in blogroll %}
  <li>
    <article class="blog-header">
      <h2>
        <a href="{{ blog.url }}" target="_blank" rel="noopener noreferrer">
          {{ blog.title }}
        </a>
      </h2>
      <p>{{ blog.description }}</p>
      <p><span>Categoria:</span> <span class="blog-category">{{ blog.category }}</span></p>
    </article>
  </li>
  {% endfor %}
</ul>