---
layout: page
title: "Meus livros"
permalink: "/livros/index.html"
description: "Uma coleção dos meus livros"
---

{% set booksByYear = collections.books | groupBy("attendedYear") %}
{% for year in booksByYear | sortKeys %}
<section class="mb-12 year-section" data-year="{{ year }}">
  <div class="space-y-6">
    <h2 class="font-bold text-2xl text-blood-red-800">Lidos em {{ year }}</h2>
    <p class="text-sm">{{ booksByYear[year] | length }} livro(s)</p>
  </div>
 <div class="container">
  <div class="row">
    {% for book in booksByYear[year] | sort(attribute="data.date") | reverse %}
    <article class="col-lg-3">
      {% if book.data.cover %}
      <img src="{{ book.data.cover }}" alt="{{ book.data.title }}" class="img-fluid" height="270" loading="lazy"
        decoding="async" />
      {% endif %}

      <div class="py-4 gap-4">
        <h3 class="font-semibold mb-1 text-sm">
          {% if book.data.url %}
          <a href="{{ book.data.url }}" target="_blank" rel="noopener noreferrer" class="text-blood-red-800  underline underline-offset-8 hover:no-underline">
            {{ book.data.title }}
          </a>
          {% else %}
            {{ book.data.title }}
          {% endif %}
        </h3>
        {% if book.data.subtitle %}
          <p class="text-sm mb-4 text-gray-700">{{ book.data.subtitle }}</p>
        {% endif %}
        {% if book.data.description %}
          <p class="text-sm mb-4 text-gray-700">{{ book.data.description }}</p>
        {% endif %}
        {% if book.data.author %}
          <p class="text-sm text-gray-600 mb-2">{{ book.data.author }}</p>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
  <hr class="border-gray-700 mb-12" />
</section>
{% endfor %}

{% if collections.media.length === 0 %}
<div class="flex items-center justify-center h-96">
  <div class="text-center text-gray-500">
    <p class="text-xl mb-2">Nenhum livro por enquanto</p>
    <p class="text-sm">Comece a adicionar seus livros favoritos!</p>
  </div>
</div>
{% endif %}
</div>
</div>
