---
layout: page
title: "Explore"
permalink: "/explore/index.html"
description: 'Uma grande lista de todas as páginas, projetos e postagens do meu site.'
---

<section aria-labelledby="e-content pages-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/pesquisa">Pesquisa</a>
            	</h3>
            	<p class="card-text">Pesquise no meu site.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/sobre">Sobre</a>
            	</h3>
            	<p class="card-text">Saiba mais sobre mim.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/now">Agora</a>
            	</h3>
            	<p class="card-text">O que estou dedicado agora.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/cv">Currículo</a>
            	</h3>
            	<p class="card-text">Meu resumo profissional.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/colophon">Colophon</a>
            	</h3>
            	<p class="card-text">Tecnologias que usei para construir meu site.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/log">Changelog</a>
            	</h3>
            	<p class="card-text">Mudanças e versões anteriores desse site.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/bookmarks">Links</a>
            	</h3>
            	<p class="card-text">Links interessantes que gostei.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/afiliados">Afiliados</a>
            	</h3>
            	<p class="card-text">Use esses links de referência para serviços que eu uso e nós dois ganhamos coisas grátis.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/inscreva">Inscreva</a>
            	</h3>
            	<p class="card-text">Formas para acompanhar o conteúdo postado por aqui.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/interesses">Interesses</a>
            	</h3>
            	<p class="card-text">Coisas que me interessam, pelas quais sou apaixonado ou que gosto de alguma outra forma.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/fotos">Fotos</a>
            	</h3>
            	<p class="card-text">Minha galeria de fotoso.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/blog">Blog</a>
            	</h3>
            	<p class="card-text">Postagens com conteúdos longos.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/notas">Notas</a>
            	</h3>
            	<p class="card-text">Notas, posts curtos e tudo que der na minha cabeça.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/livros">Biblioteca</a>
            	</h3>
            	<p class="card-text">Minha biblioteca de livros lidos ao longo dos anos.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/jogos">Jogos</a>
            	</h3>
            	<p class="card-text">Minha coleção de jogos.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/filmes">Filmes</a>
            	</h3>
            	<p class="card-text">Filmes vistos ao longo dos anos.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/projetos">Projetos</a>
            	</h3>
            	<p class="card-text">Projetos open-source que mantenho.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/ia">Uso de IA</a>
            	</h3>
            	<p class="card-text">Formas que utilizo IA no meu site.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/disclaimer">Disclaimer</a>
            	</h3>
            	<p class="card-text">Disclaimer sobre o conteúdo do meu site.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/uses">Uses</a>
            	</h3>
            	<p class="card-text">Tecnologias que uso no meu cotidiano.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/posse">POSSE</a>
            	</h3>
            	<p class="card-text">Estratégias adotadas usando o princípio POSSE da Indie Web.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/contato">Contato</a>
            	</h3>
            	<p class="card-text">Formas de entrar em contato comigo.</p>
          	</div>
          </article>
      </div>
			<div class="col-lg-4 col-md-6 col-12">
          <article class="card">
          	<div class="card-body">
            	<h3 class="card-title">
              	<a href="/verifique">Verifique-me</a>
            	</h3>
            	<p class="card-text">Verificação da minha identidade online.</p>
          	</div>
          </article>
      </div>
    </div>
  </div>
</section>
