---
layout: page
title: "Minhas fotos"
permalink: "/fotos/index.html"
description: "Uma coleção das minhas fotos"
---


<section id="gallery" class="gallery section">
  <div class="container">
    <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

         <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->

         <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="https://unsplash.com/pt-br/fotografias/silhueta-de-uma-girafa-contra-o-ceu-do-por-do-sol-kQIIwEX1emg" loading="lazy" class="img-fluid" alt="">
            </div>
          </div><!-- End Gallery Item -->
        </div>
      </div>
    </section>
</div>
