---
layout: page
title: "Minhas fotos"
permalink: "/fotos/index.html"
key: 'photos'
description: "Uma coleção das minhas fotos"
---

<section id="gallery" class="flow">
  <ul class="grid" role="list" data-layout="thirds">
    <li class="photo__item">
      <img src="/assets/images/gallery/papai.webp" alt="" loading="lazy">
    </li>
    <li class="photo__item">
      <img src="/assets/images/gallery/casamento.webp" alt="" loading="lazy">
    </li>
    <li class="photo__item">
      <img src="/assets/images/gallery/papai.webp" alt="" loading="lazy">
    </li>
    <li class="photo__item">
      <img src="/assets/images/gallery/papai.webp" alt="" loading="lazy">
    </li>
    <li class="photo__item">
      <img src="/assets/images/gallery/papai.webp" alt="" loading="lazy">
    </li>
    <li class="photo__item">
      <img src="/assets/images/gallery/papai.webp" alt="" loading="lazy">
    </li>
  </ul>
</section>
