---
layout: base
permalink: /
title: Bruno Pulis
---

<div class="wrapper">
  {% include "components/hero.njk" %}
  {% include "components/stream.njk" %}
  {% include "components/writing.njk" %}
  {% include "components/work.njk" %}
</div>