---
layout: base
title: "Página Inicial"
permalink: /
---

{% include "components/hero.njk" %}
{% include "components/work.njk" %}
{% include "components/stream.njk" %}
{% include "components/writing.njk" %}
{% include "components/newsletter.njk" %}
