---
layout: page
title: "Notas"
description: "Meus pensamentos em tempo real"
permalink: "{% if pagination.pageNumber > 0 %}/notas/page/{{ pagination.pageNumber + 1 }}/{% else %}/notas/{% endif %}"
key: "notes"
pagination:
  data: collections.notes
  size: 10
  reverse: false
---

<div class="divide-y divide-gray-700">
  {% for note in pagination.items %}
    <article class="border bg-white border-gray-200 hover:shadow-md mb-6 p-6 rounded-xl shadow-sm transition">
      <div class="flex mb-4 items-start justify-between">
        <div class="flex items-center gap-3">
          <div>
            <div class="font-bold text-gray-900">Bruno Pulis</div>
            <time datetime="{{ note.pubDate | toISOString }}" class="dt-published flex items-center gap-2 text-gray-500 text-sm">
              {{ note.pubDate | formatDate('DD/MM/YYYY') }}
            </time>
          </div>
        </div>
      </div>
      
      <div class="mb-4 max-w-none prose prose-gray">
        {{ note.content | safe }}
      </div>
      
      <div class="flex gap-2 flex-wrap mb-4">
        {% if note.data.tags and note.data.tags.length > 0 %}
          {% for tag in note.data.tags %}
            {% if tag !== "notes" %}
              <span class="items-center bg-gray-100 border border-gray-300 font-semibold gap-1 inline-flex px-3 py-1 rounded-full text-gray-700 text-xs">#{{ tag }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>

{% include 'components/pagination.njk' %}
