---
layout: page
title: "Pesquisa"
description: "Pesquise conteudos no meu site"
permalink: /pesquisa/index.html
---

<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">

<style>
  @media (prefers-color-scheme: dark) {
    :root {
      --pagefind-ui-primary: #eeeeee;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #152028;
      --pagefind-ui-border: #152028;
      --pagefind-ui-tag: #152028;
    }
  }
</style>

<h2>Search</h2>

<div id="search" class="search"></div>
<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
