:root {
  --bg: #fff;
  --accent-bg: #fbf9fa;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

body {
  grid-template-columns: 1fr min(60rem, 90%) 1fr;
}

header {
  background-color: var(--accent-bg);
}