@layer reset, tokens, base, composition, utility, block, exception;


@import './base/reset.css' layer(reset);
@import './base/fonts.css' layer(fonts);

@import './base/variables.css' layer(variables);
@import './base/global-styles.css' layer(global);

@import './compositions/*.css' layer(compositions);
@import './blocks/*.css' layer(blocks);
@import './utilities/*.css' layer(utilities);

/* debugging */
/* @import './tests/*.css' layer(test); */
