@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Brand Red (#610404) */
  --color-brand-red-50: #f7f2f2;
  --color-brand-red-100: #efe5e5;
  --color-brand-red-200: #d7c0c0;
  --color-brand-red-300: #b08181;
  --color-brand-red-400: #884242;
  --color-brand-red-500: #610404;
  --color-brand-red-600: #570303;
  --color-brand-red-700: #480303;
  --color-brand-red-800: #350202;
  --color-brand-red-900: #210101;
  --color-brand-red-950: #0e0000;

  /* Brand Dark (#171e1e) */
  --color-brand-dark-50: #f3f3f3;
  --color-brand-dark-100: #e7e8e8;
  --color-brand-dark-200: #c5c6c6;
  --color-brand-dark-300: #8b8e8e;
  --color-brand-dark-400: #515656;
  --color-brand-dark-500: #171e1e;
  --color-brand-dark-600: #141b1b;
  --color-brand-dark-700: #111616;
  --color-brand-dark-800: #0c1010;
  --color-brand-dark-900: #080a0a;
  --color-brand-dark-950: #030404;

  /* Brand Gray (#d9d9d9) */
  --color-brand-gray-50: #fdfdfd;
  --color-brand-gray-100: #fbfbfb;
  --color-brand-gray-200: #f5f5f5;
  --color-brand-gray-300: #ececec;
  --color-brand-gray-400: #e2e2e2;
  --color-brand-gray-500: #d9d9d9;
  --color-brand-gray-600: #c3c3c3;
  --color-brand-gray-700: #a2a2a2;
  --color-brand-gray-800: #777777;
  --color-brand-gray-900: #4b4b4b;
  --color-brand-gray-950: #202020;

  /* Brand Blue (#849cdb) */
  --color-brand-blue-50: #f8fafd;
  --color-brand-blue-100: #f2f5fb;
  --color-brand-blue-200: #e0e6f6;
  --color-brand-blue-300: #c1cded;
  --color-brand-blue-400: #a2b4e4;
  --color-brand-blue-500: #849cdb;
  --color-brand-blue-600: #768cc5;
  --color-brand-blue-700: #6375a4;
  --color-brand-blue-800: #485578;
  --color-brand-blue-900: #2e364c;
  --color-brand-blue-950: #131720;
}
@layer reset, tokens, base, composition, utility, block, exception;

/* @import './tests/debug.css' layer(base); */
