@layer reset, tokens, base, composition, utility, block, exception;

@import "./base/reset.css" layer(reset);
@import "./base/fonts.css" layer(tokens);

@import "./global/variables.css" layer(tokens);
@import "./global/base.css" layer(base);

/* @import './tests/debug.css' layer(base); */

@import "./composition/index.css" layer(composition);
@import "./utilities/index.css" layer(utility);
@import "./blocks/index.css" layer(block);
@import "./exceptions/index.css" layer(exception);
