---
import SkipLink from '@components/utils/SkipLink.astro';

import LogoNav from '@components/LogoNav.astro';
import MainNav from '@components/MainNav.astro';
---

<SkipLink />
<header class="header">
  <div class="wrapper">
    <div class="header__grid flow" style="--space-lg: 3rem;">
      <LogoNav />
      <MainNav />
    </div>
  </div>
</header>
