---
import Navigation from '@components/Navigation.astro';
import { Image } from 'astro:assets';

import pulisLogo from '@assets/images/horizontal/blood.svg';

const { currentLocale } = Astro.props;
---

<header class="header">
  <div class="wrapper">
    <div class="header__logo">
      <a href="/" class="" aria-label="Ir para página inicial">
        <Image
          src={pulisLogo}
          class="w-auto"
          alt="Bruno Pulis"
          loading="eager"
        />
      </a>
    </div>

    <Navigation currentLocale={currentLocale} />
  </div>
</header>
