---
import { Breadcrumbs } from 'astro-breadcrumbs';
import 'astro-breadcrumbs/breadcrumbs.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<section id="hero" aria-labellledby="hero-section">
  <div class="l-container">
    <Breadcrumbs />
    <div>
      <h1 id="hero-section">{title}</h1>
      <p class="mb-6 text-2xl font-light text-errie-black-900">
        {description}
      </p>
    </div>
  </div>
</section>
