---
import Layout from "@/layouts/Layout.astro";
import TagsList from '@/components/TagsList.astro';

const { tag } = Astro.params;
const posts = await getPostsByTag(tag);
---

<Layout>
  <h1>Posts com a tag: {tag}</h1>
  <TagsList tags={posts.map(post => post.tags).flat()} />
  
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.title}</a>
      </li>
    ))}
  </ul>
</Layout>