---
permalink: /feed/notas.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ meta.siteName }} - Notas</title>
    <link>{{ meta.url }}/notas</link>
    <atom:link href="{{ meta.url }}/feed/notas.xml" rel="self" type="application/rss+xml" />
    <description>Notas rápidas e pensamentos soltos</description>
    <language>{{ meta.language }}</language>
    <lastBuildDate>{{ now | toRfc822Date }}</lastBuildDate>

    {%- for note in collections.notes | slice(0, 30) %}
    <item>
      <title>{{ note.data.title or note.content | striptags | truncate(50) }}</title>
      <link>{{ meta.url }}{{ note.url }}</link>
      <guid isPermaLink="true">{{ meta.url }}{{ note.url }}</guid>
      <description>{{ note.data.description or note.content | striptags | truncate(200) }}</description>
      <content:encoded><![CDATA[{{ note.content }}]]></content:encoded>
      <pubDate>{{ note.data.date | toRfc822Date }}</pubDate>
      <author>{{ meta.author.email }}</author>
    </item>
    {%- endfor %}
  </channel>
</rss>