---
permalink: /feed/streams.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ meta.siteName }} - Fluxo</title>
    <link>{{ meta.url }}/fluxo</link>
    <atom:link href="{{ meta.url }}/feed/streams.xml" rel="self" type="application/rss+xml" />
    <description>Livros, filmes, músicas, links e reflexões</description>
    <language>{{ meta.language }}</language>
    <lastBuildDate>{{ now | toRfc822Date }}</lastBuildDate>

    {%- for item in collections.streams | slice(0, 50) %}
    <item>
      <title>[{{ item.data.type | upper }}] {{ item.data.title }}</title>
      <link>{{ meta.url }}/fluxo</link>
      <guid isPermaLink="false">{{ meta.url }}/stream/{{ item.data.type }}/{{ item.data.title | slug }}</guid>
      <description>
        <![CDATA[
          <strong>Tipo:</strong> {{ item.data.type }}<br>
          {% if item.data.detail %}<p>{{ item.data.detail }}</p>{% endif %}
          {% if item.data.author %}<p><strong>Autor:</strong> {{ item.data.author }}</p>{% endif %}
          {% if item.data.rating %}<p><strong>Avaliação:</strong> {{ '⭐' | repeat(item.data.rating) }}</p>{% endif %}
        ]]>
      </description>
      <content:encoded><![CDATA[{{ item.content }}]]></content:encoded>
      <pubDate>{{ item.data.date | toRfc822Date }}</pubDate>
      <category>{{ item.data.type }}</category>
    </item>
    {%- endfor %}
  </channel>
</rss>