---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import HeroSection from "@/components/HeroSection.astro";
import ProjetosPessoais from "@/components/home/ProjetosPessoais.astro";
import Footer from "@/components/Footer.astro";

import { Icon } from "astro-icon/components";

import config from "@/data/site.config.json";

import meImage from "@/assets/me.png";

import { Image } from "astro:assets";

import me from "@/assets/palestras.webp";
---

<Layout title="Sobre mim - Bruno Pulis">
  <Header />
  <main>
    <!-- <HeroSection title="Sobre" description="Um pouco da minha trajetória profissional" /> -->
    <section class="body-font bg-red-950 text-white">
      <div class="container mx-auto flex flex-col items-center px-5 py-6 md:flex-row">
        <div
          class="mb-16 flex flex-col items-center text-center md:mb-0 md:w-1/2 md:items-start md:pr-16 md:text-left lg:flex-grow lg:pr-24"
        >
          <hr class="mb-5 h-1 w-24 bg-white" />
          <h1 class="title-font mb-4 text-3xl font-medium sm:text-4xl">
            Sobre mim
          </h1>
          <p class="mb-3 text-lg leading-relaxed font-light">
            Minha trajetória até aqui.
          </p>
        </div>
        <div class="w-5/6 md:w-1/2 lg:w-full lg:max-w-lg">
          <img
            class="rounded-lg object-cover object-center"
            alt="hero"
            src={meImage.src}
          />
        </div>
      </div>
    </section>

    <section class="bg-white py-16 dark:bg-gray-800">
      <div class="container mx-auto px-5">
        <div class="mb-6 grid items-center gap-12 md:grid-cols-2">
          <div>
            <h2 class="mb-6 text-3xl font-bold text-gray-900">
              Quem é Bruno Pulis?
            </h2>
            <p class="mb-4 text-gray-600">
              Sou um engenheiro de acessibilidade, palestrante, mentor e
              instrutor. Adoro os padrões web e quero tornar a web acessível
              para todos. Me sinto privilegiado em poder construir um futuro
              mais acessível. Sou formado em Sistemas para Internet e trabalho
              na área de desenvolvimento desde 2010.
            </p>
            <p class="mb-4 text-gray-600">
              Já ministrei diversos treinamentos para empresas, incluindo uma
              parceria com o <strong>Movimento Web para Todos</strong> fui professor
              convidado no <strong
                >Curso de Acessibilidade Digital: Elimine barreiras de acesso</strong
              > da HOW TO Bootcamps.
            </p>
            <p class="mb-4 text-gray-600">
              Hoje, dedico a ensinar desenvolvedores e analistas de qualidade a
              criarem e testarem interfaces acessíveis atráves dos meus
              conteúdos e da mentoria BASE
            </p>
          </div>
        </div>
        <div class="mb-6">
          <h2 class="mb-6 text-3xl font-bold text-gray-900">
            No que posso te ajudar
          </h2>

					<ul class="list-disc list-inside">
						<li>Palestras e Workshops;</li>
						<li>Consultoria em Acessibilidade;</li>
						<li>Desenvolvimento web.</li>
					</ul>
        </div>
			</div>
			<ProjetosPessoais />
    </section>
  </main>
  <Footer />
</Layout>
