---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import HeroSection from "@/components/HeroSection.astro";
import ProjetosPessoais from "@/components/home/ProjetosPessoais.astro";
import Footer from "@/components/Footer.astro";
import meImage from "@/assets/me.png";
import BackToTop from "@/components/ui/BackToTop.astro";
---

<Layout title="Sobre - Bruno Pulis">
  <Header />
  <main>
    <HeroSection
      title="Sobre"
      description="Um pouco da minha trajetória profissional"
    />
    <section class="bg-white py-16 dark:bg-gray-800">
      <div class="container mx-auto px-5">
        <div class="mb-6 grid items-center gap-12 md:grid-cols-2">
          <div>
            <h2 class="mb-6 text-3xl font-bold text-gray-900">
              Quem é Bruno Pulis?
            </h2>
            <p class="mb-4 text-gray-600">
              Sou um engenheiro de acessibilidade, palestrante, mentor e
              instrutor. Adoro os padrões web e quero tornar a web acessível
              para todos. Me sinto privilegiado em poder construir um futuro
              mais acessível. Sou formado em Sistemas para Internet e trabalho
              na área de desenvolvimento desde 2010.
            </p>
            <p class="mb-4 text-gray-600">
              Já ministrei diversos treinamentos para empresas, incluindo uma
              parceria com o <strong>Movimento Web para Todos</strong> fui professor
              convidado no <strong
                >Curso de Acessibilidade Digital: Elimine barreiras de acesso</strong
              > da HOW TO Bootcamps.
            </p>
            <p class="mb-4 text-gray-600">
              Hoje, dedico a ensinar desenvolvedores e analistas de qualidade a
              criarem e testarem interfaces acessíveis atráves dos meus
              conteúdos e da mentoria BASE
            </p>
          </div>
          <div>
            <img
              class="rounded-lg object-cover object-center"
              alt="hero"
              src={meImage.src}
            />
          </div>
        </div>
        <div class="mb-6">
          <h2 class="mb-6 text-3xl font-bold text-gray-900">
            No que posso te ajudar
          </h2>

          <ul class="list-inside list-disc">
            <li>Palestras e Workshops;</li>
            <li>Consultoria em Acessibilidade;</li>
            <li>Desenvolvimento web.</li>
          </ul>
        </div>
      </div>
      <ProjetosPessoais />
    </section>
    <BackToTop />
  </main>
  <Footer />
</Layout>
