---
layout: base
title: 'Declaração de Acessibilidade'
permalink: /accessibility/index.html
description: 'Compromisso com a acessibilidade digital e como relatar problemas de acessibilidade.'
date: "Last Modified"
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="prose">
    <p>O design de acessibilidade visa garantir acesso igualitário para pessoas com deficiência. Trata-se de remover
      barreiras ao acesso.</p>

    <p>Estou muito comprometido com esse princípio e procuro continuamente melhorar a experiência do usuário para
      todos.
    </p>

    <h2>Status de conformidade</h2>
    <p>
      As <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Diretrizes de Acessibilidade para Conteúdo Web
        (WCAG)</a> definem requisitos para designers e desenvolvedores melhorarem a acessibilidade para pessoas com
      deficiência. Elas definem três níveis de conformidade: Nível A, Nível AA e Nível AAA.</p>

    <p>A conformidade depende de como os usuários implementam e personalizam o starter para seus conteúdos e casos de
      uso específicos.</p>

    <h2>Testes</h2>
    <p>O <a href="https://github.com/pa11y/pa11y-ci">pa11y-ci</a> é usado para executar testes automatizados de
      acessibilidade, <a href="/docs/tests/">consulte a documentação</a>.</p>

    <h2>Feedback</h2>
    <p>Agradeço muito seus comentários e sugestões sobre a acessibilidade deste projeto inicial. Informe-me se você
      encontrar alguma barreira de acessibilidade:</p>

    <ul>
      <li><a href="https://github.com/brunopulis/personal-site/issues">Problemas no GitHub</a></li>
      <li>E-mail: <a hrtef="mailto:brunopulis@protonmail.com">brunopulis@protonmail.com</a></li>
    </ul>
    <p>Tempo de resposta: meu objetivo é responder aos comentários em até uma semana.</p>
  </div>
</div>