---
layout: base
title: "Uso de inteligência artificial"
description: "Como eu uso a inteligência artificial nesse site"
permalink: /ai/index.html
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="prose">
    <p>Essa página tem o objetivo de mostrar quais são os usos de IA nesse site.</p>

    <h2>Uso IA para</h2>
    <ul>
      <li>Realizar pesquisas</li>
      <li>Construir componentes Astro</li>
      <li>Dúvidas relacionadas a desenvolvimento</li>
      <li>Refinamento de ideias</li>
    </ul>

    <h2>Não uso para</h2>
    <ul>
      <li>Criar conteúdo</li>
    </ul>
  </div>
</div>