---
layout: base
title: Postagens de
description: "Artigos de {year}"
pagination:
  data: collections.postYears
  size: 1
  alias: year
permalink: "/blog/{{ year }}/"
---

{% set postsAno = collections.posts | filterByYear(year) %}

<section class="wrapper region">
  <header class="flow">
    <h1>{{ title }} {{ year }}</h1>
    <p>Artigos publicados em {{ year }}</p>
    <nav aria-label="Navegação por ano">
      <ul class="cluster" role="list">
        <li>
          <a href="/blog/">Todos</a>
        </li>
        {% for y in collections.postYears %}
        <li>
          <a href="/blog/{{ y }}/" {% if y == year %}aria-current="page"{% endif %}>
            {{ y }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="h-feed flow region" style="--flow-space: var(--space-xl)">
    {% for post in postsAno %}
    <article class="h-entry standard-post | flow">
      <header class="flow">
        <h2 class="p-name">
          <a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <time class="text-step--1 dt-published" datetime="{{ post.data.pubDate | toISOString }}">
          {{ post.data.pubDate | readableDate }}
        </time>
      </header>

      <div class="prose">
        <p class="p-summary">
          {{ post.data.description or (post.templateContent | striptags | truncate(200)) }}
        </p>
      </div>

      <div class="tags-list | cluster" role="list">
        {% for tag in post.data.tags %}
        <a class="p-category" href="/tags/{{ tag | slug }}/">#{{ tag }}</a>
        {% endfor %}
      </div>

      {% if not loop.last %}<hr class="post-separator">{% endif %}
    </article>
    {% endfor %}
  </div>
</section>
