---
layout: base.njk
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: '/blog/{% if pagination.pageNumber >= 1 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
title: Blog
---

<div class="h-feed">
  <h1 class="mb-6 p-name font-bold text-2xl">Blog</h1>
  <a class="hidden u-url" href="{{ site.url }}/blog/"></a>

  <div class="space-y-8">
    {% for post in posts %}
      {% set tags = (post.data and post.data.tags) or post.tags or [] %}
      <article class="pb-6 border-b h-entry">
        <h3 class="p-name font-semibold text-xl">
          <a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <time
          class="text-sm dt-published"
          datetime="{{ post.date | htmlDateString }}">
          {{ post.date | readableDate }}
        </time>
        <div class="mt-2 p-summary">
          {{ post.data.description or (post.templateContent | striptags | truncate(160)) }}
        </div>
        {% if tags %}
          <div class="flex flex-wrap gap-2 my-2">
            {% for tag in tags %}
              <a
                class="bg-vista-blue-500 p-category px-2 py-1 rounded font-bold text-errie-black-950 text-xs transition-colors"
                href="/tags/{{ tag | slug }}/"
                >#{{ tag }}</a
              >
            {% endfor %}
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </div>

  <nav class="flex justify-between items-center mt-8" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="bg-blood-red-950 hover:bg-blood-red-900 px-3 py-2 border rounded font-bold text-white" href="{{ pagination.href.previous }}">Anterior</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if pagination.href.next %}
      <a class="bg-blood-red-950 hover:bg-blood-red-900 px-3 py-2 border rounded font-bold text-white" href="{{ pagination.href.next }}">Próximo</a>
    {% endif %}
  </nav>
</div>
