---
layout: base.njk
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: '/blog/{% if pagination.pageNumber >= 1 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
title: Blog
---

<div class="h-feed">
  <h1 class="mb-6 p-name font-bold text-2xl">Blog</h1>
  <a class="hidden u-url" href="{{ site.url }}/blog/"></a>

  <div class="space-y-8">
    {% for post in collections.posts.slice(0, 12) %}
      <article class="pb-6 border-b h-entry">
        <h3 class="p-name font-semibold text-xl">
          <a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <time
          class="text-gray-500 dark:text-gray-400 text-sm dt-published"
          datetime="{{ post.date | htmlDateString }}"
          >{{ post.date | readableDate }}</time
        >
        <div class="mt-2 p-summary text-gray-700 dark:text-gray-300">
          {{ post.data.description or (post.templateContent | striptags | truncate(160)) }}
        </div>
        <div class="space-x-2 mt-2 text-sm">
          {% for tag in post.data.tags %}
            <a class="bg-gray-100 dark:bg-gray-800 p-category px-2 py-0.5 rounded" href="/tags/{{ tag | slug }}/">#{{ tag }}</a>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="flex justify-between items-center mt-8" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="px-3 py-2 border rounded" href="{{ pagination.href.previous }}">Próximo</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if pagination.href.next %}
      <a class="px-3 py-2 border rounded" href="{{ pagination.href.next }}">Anterior</a>
    {% endif %}
  </nav>
</div>
