---
layout: base
title: "Blogroll"
description: "Pessoas e blogs incríveis que acompanho na web."
permalink: "/blogroll/index.html"
date: Last Modified
---

<section class="wrapper region">
  <header class="flow">
    <h1 class="p-name">Blogroll</h1>
    <p class="p-note">
      Uma lista curada de pessoas, blogs e recursos que acompanho e recomendo.
    </p>
  </header>

  {% set groupedBlogs = blogroll | groupBy('category') %}
  <div class="h-feed">
    {% for category, blogs in groupedBlogs | dictsort %}
    <section class="region flow" aria-labelledby="cat-{{ category | slugifyString }}">
      <h2 id="cat-{{ category | slugifyString }}"
        class="flex items-center gap-3 mb-8 font-bold text-brand-red-500 text-2xl">
        {{ category }}
      </h2>

      <div class="grid" data-layout="33x3">
        {% for blog in blogs %}
        <article class="card">
          <div class="flow">
            <h3>
              <a href="{{ blog.url }}" target="_blank" rel="noopener noreferrer">
                {{ blog.title }}
              </a>
            </h3>
            <p>{{ blog.description }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </div>

  {% if (blogroll | length) == 0 %}
  <div
    class="bg-gray-50 dark:bg-gray-900 py-20 border-2 border-gray-200 dark:border-gray-800 border-dashed rounded-3xl text-center">
    {% lucide "search-x", { "class": "w-12 h-12 mx-auto text-gray-400 mb-4" } %}
    <p class="text-gray-500 dark:text-gray-400 text-lg">Nenhum blog encontrado no momento.</p>
  </div>
  {% endif %}

  {% include "components/last-update.njk" %}
</section>