---
layout: base
title: "Links interessantes"
description: 'Uma coleção de links interessantes que vi por ai'
permalink: "{% if pagination.pageNumber > 0 %}/bookmarks/page/{{ pagination.pageNumber + 1 }}/{% else %}/bookmarks/{%endif %}"
date: Last Modified
pagination:
  data: collections.bookmarks
  size: 10
---

<div class="mx-auto my-24 px-6 container">
  <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{title}}</h1>

  <div class="h-entry">
    {% for item in pagination.items %}
    <article class="mb-12 py-6 border-brand-gray-500 border-b h-entry">
      <h2 class="text-3xl">
        <a href="{{ item.data.url }}" rel="noopener noreferral" target="_blank">
          {{ item.data.title }}
        </a>
      </h2>
      <div class="flex items-center gap-2 text-gray-500 text-sm">
        <p class="m-0">Salvo em:</p>
        <time class="inline-flex dt-published" datetime="{{ item.data.pubDate | toISOString }}">
          {{ item.data.pubDate | readableDate }}
        </time>
      </div>

      <div class="content mt-4">
        {{ item.content | safe }}
      </div>
    </article>
    {% endfor %}
  </div>

  {% if pagination.pages.length > 1 %}
  {% include 'components/pagination.njk' %}
  {% endif %}

  {% include 'components/last-update.njk' %}
</div>