---
layout: page
title: "Colophon"
permalink: "colophon/index.html"
description: "Tecnologias que usei no site"
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <article class="flow">
    <p>Este site foi projetado com foco em simplicidade, performance e acessibilidade.</p>

    <h2>Tecnologias usadas</h2>
    <ul>
      <li>Gerador: <a href="https://11ty.dev/" class="u-url" target="_blank" rel="noopener noreferrer">11ty</a></li>
      <li>Hospedagem: <a href="http://vercel.com/" class="u-url" target="_blank" rel="noopener noreferrer">Vercel</a>
      </li>
      <li>Versionamento: Git e <a href="https://github.com/brunopulis/personal-site" class="u-url" target="_blank"
          rel="noopener noreferrer">GitHub</a></li>
      <li>CMS: Markdown e <a href="https://tina.io/" class="u-url" target="_blank" rel="noopener noreferrer">Tina
          CMS</a></li>
    </ul>

    <h3>Design e Tipografia</h3>
    <ul>
      <li>Tipografia: Source Sans 3 e Noto Sans</li>
      <li>Ícones: <a href="https://lucide.dev/" class="u-url" target="_blank" rel="noopener noreferrer">Lucide Icons</a>
      </li>
      <li>Tema: Criado por mim, com grandes contribuições de <a href="https://wagnerbeethoven.com.br/" class="u-url"
          target="_blank" rel="noopener noreferrer">Wagner Beethoveen</a></li>
    </ul>

    <h3>Acessibilidade e QA</h3>
    <ul>
      <li>Validação: HTML5 Semântico</li>
      <li>Testes: Validado com Axe DevTools, NVDA e Lighthouse.</li>
      <li>Performance: Sem scripts de rastreamento ou bloatware.</li>
    </ul>

    <p><a href="https://en.wikipedia.org/wiki/Colophon_(publishing)">Colophon</a> é um termo editorial normalmente
      utilizado para descrever o processo de publicação, mas que foi alargado aos sites da Internet.</p>

    <p>Esta página foi inspirada por <a href="https://binyam.in" class="u-url" target="_blank"
        rel="noopener noreferrer">Binyamin Aron Green</a> e <a href="https://ericwbailey.website/" class="u-url"
        target="_blank" rel="noopener noreferrer">Eric Bailey</a>.</p>
  </article>
</div>