---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import ContactForm from '@/components/Contact.astro';
import Footer from '@/components/Footer.astro';
import HeroSection from '@/components/HeroSection.astro';
---

<Layout title="Contato - Bruno Pulis">
  <Header />
  <main>
    <HeroSection
      title="Entre em contato"
      description="Estamos aqui para ajudar com qualquer dúvida que você possa ter sobre nossos serviços."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
