---
layout: base.njk
permalink: '/contact/'
title: Contato
---

<div class="h-card prose">
  <h1 class="mb-6 font-bold text-2xl">Entre em contato</h1>

  <p>
    Se você quiser conversar comigo ou me dar sugestões, este é o lugar certo. Siga qualquer link abaixo para encontrar os lugares aonde costumo estar.
  </p>

  <blockquote class="font-bold">A melhor forma de falar comigo é por e-mail.</blockquote>

  <h2>Redes sociais</h2>
  <ul class="space-y-3 mt-4">
    <li class="flex items-center gap-3">
      <span class="text-blue-600">📧</span>
      <a href="mailto:{{ site.email }}" class="hover:text-blue-600">{{ site.email }}</a>
    </li>
    {% if site.social.github %}
      <li class="flex items-center gap-3">
        <span class="text-blue-600">🐙</span>
        <a
          href="https://github.com/{{ site.social.github }}"
          target="_blank"
          rel="noopener"
          class="hover:text-blue-600"
          >GitHub</a
        >
      </li>
    {% endif %}
    {% if site.social.bluesky %}
      <li class="flex items-center gap-3">
        <span class="text-blue-600">🦋</span>
        <a
          href="{{ site.social.mastodon | replace('@', 'https://') | replace('@', '/') }}"
          target="_blank"
          rel="noopener"
          class="hover:text-blue-600"
          >Bluesky</a
        >
      </li>
    {% endif %}
    {% if site.social.mastodon %}
      <li class="flex items-center gap-3">
        <span class="text-blue-600">📺</span>
        <a
          href="{{ site.social.mastodon | replace('@', 'https://') | replace('@', '/') }}"
          target="_blank"
          rel="noopener"
          class="hover:text-blue-600"
          >Mastodon</a
        >
      </li>
    {% endif %}
    {% if site.social.youtube %}
      <li class="flex items-center gap-3">
        <span class="text-blue-600">🐘</span>
        <a
          href="{{ site.social.mastodon | replace('@', 'https://') | replace('@', '/') }}"
          target="_blank"
          rel="noopener"
          class="hover:text-blue-600"
          >YouTube</a
        >
      </li>
    {% endif %}
    {% if site.social.linkedin %}
      <li class="flex items-center gap-3">
        <span class="text-blue-600">🎓</span>
        <a
          href="{{ site.social.linkedin | replace('@', 'https://') | replace('@', '/') }}"
          target="_blank"
          rel="noopener"
          class="hover:text-blue-600"
          >LinkedIn</a
        >
      </li>
    {% endif %}
  </ul>
</div>
