---
layout: page
title: "Meu epitáfio"
description: O que fazer se caso eu morrer
permalink: "death/index.html"
pubDate: '2025-11-18'
date: Last Modified
---

<div class="mx-auto my-24 max-w-6xl">
  <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
  <p class="mb-4">{{ description }}</p>

  <div class="prose">
  </div>

  {% include "components/last-update.njk" %}
</div>
