---
layout: base
title: "Isenção de responsabilidade"
permalink: "disclaimer/index.html"
description: "Isenção de responsabilidade sobre o conteudo do meu site."
date: Last Modified
---

<div class="max-w-4xl">
  <h1 class="flex items-center gap-2 mb-2 font-bold text-3xl">
    🗺️ {{ title }}
  </h1>
  <p class="mb-8">
    {{ description }}
  </p>

  <div class="prose">
    <ul class="space-y-4">
      <li>
        <strong>Opiniões Pessoais</strong>: Todo o conteúdo reflete apenas as minhas opiniões, não as do meu empregador.
        Meus pontos de vista evoluem; posts antigos podem não representar meu pensamento atual.
      </li>
      <li>
        <strong>Conteúdo Técnico</strong>: Os tutoriais descrevem como eu resolvi problemas específicos naquele momento.
        Não são garantias de "melhores práticas" universais.
      </li>
      <li>
        <strong>Nível Técnico</strong>: O conteúdo pressupõe familiaridade com tecnologia (ex: uso de terminal).
      </li>
      <li>
        <strong>Sem Garantias</strong>: O material é fornecido "como está". Não me responsabilizo por eventuais danos
        aos
        seus sistemas ou dados decorrentes do uso destas informações. Use por sua conta e risco.
      </li>
    </ul>
  </div>
</div>

{% include "components/last-update.njk" %}