---
layout: base
permalink: "/explore/"
title: Mapa do site
description: Explore todas as páginas do meu site.
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="h-feed region flow">
    <h2>Páginas Principais</h2>
    <ul>
      <li>
        <span aria-hidden="true">🏠</span>
        <a href="/">Home</a>
      </li>
      <li>
        <span aria-hidden="true">✍️</span>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <span aria-hidden="true">💬</span>
        <a href="/contact/">Contato</a>
      </li>
    </ul>

    <h2>Páginas Pessoais</h2>
    <ul>
      <li>
        <span aria-hidden="true">🧔</span>
        <a href="/about/">Sobre mim</a>
      </li>
      <li>
        <span aria-hidden="true">🛠️</span>
        <a href="/uses/">O que uso</a>
      </li>
      <li>
        <span aria-hidden="true">📍</span>
        <a href="/now/">Fazendo agora</a>
      </li>
      <li>
        <span aria-hidden="true">💖</span>
        <a href="/support/">Apoie meu trabalho</a>
      </li>
    </ul>

    <h2>Descobertas</h2>
    <ul>
      <li>
        <span aria-hidden="true">📅</span>
        <a href="/archive/">Arquivo</a>
      </li>
      <li>
        <span aria-hidden="true">🔗</span>
        <a href="/blogroll/">Blogroll</a>
      </li>
      <li>
        <span aria-hidden="true">🪧</span>
        <a href="/colophon/">Colophon</a>
      </li>
      <li>
        <span aria-hidden="true">📡</span>
        <a href="/subscribe/">Feeds</a>
      </li>
      <li>
        <span aria-hidden="true">🧭</span>
        <a href="/bookmarks/">Links</a>
      </li>
    </ul>

    <h2>Coleções</h2>
    <ul>
      <li>
        <span aria-hidden="true">📚</span>
        <a href="/livros/">Livros</a>
      </li>
      <li>
        <span aria-hidden="true">👍</span>
        <a href="/likes/">Likes</a>
      </li>
      <li>
        <span aria-hidden="true">🎬</span>
        <a href="/media/">Mídias</a>
      </li>
      <li>
        <span aria-hidden="true">🎮</span>
        <a href="/jogos/">Jogos</a>
      </li>
      <li>
        <span aria-hidden="true">📷</span>
        <a href="/fotos/">Galeria de Fotos</a>
      </li>
      <li>
        <span aria-hidden="true">📝</span>
        <a href="/notas/">Notas</a>
      </li>
      <li>
        <span aria-hidden="true">🖋️</span>
        <a href="/poemas/">Poemas</a>
      </li>
    </ul>

    <h2>Trabalho</h2>
    <ul>
      <li>
        <span aria-hidden="true">🛠️</span>
        <a href="/projetos/">Projetos</a>
      </li>
      <li>
        <span aria-hidden="true">📄</span>
        <a href="/resume/">Currículo</a>
      </li>
    </ul>
  </div>
</div>
