---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header.astro'
import Footer from '@/components/layout/Footer.astro'
import HeroSection from '@/components/layout/HeroSection.astro'

const slashes = [
  {
    title: 'Livro de visitas',
    description: 'Assine meu livro de visitas.',
    link: '/visitas',
  },
  {
    title: 'Blogroll',
    description: 'Blogs que eu sigo e recomendo.',
    link: '/blogroll',
  },
  {
    title: 'Minhas Leituras',
    description: 'Os livros que li desde 2018.',
    link: '/leituras',
  },
  {
    title: 'Minhas Notas',
    description: 'Minhas notas curtas.',
    link: '/notas',
  },
  {
    title: 'Meus filmes',
    description: 'Coisas que estou fazendo agora.',
    link: '/filmes',
  },
  {
    title: 'Como uso IA no meu site',
    description: 'Como utilizo inteligência artificial no meu site.',
    link: '/ia',
  },
  {
    title: 'O que estou fazendo agora',
    description: 'Coisas que estou fazendo agora.',
    link: '/now',
  },
  {
    title: 'Links de afiliado',
    description: 'Meus links de afiliado.',
    link: '/afiliados',
  },
]
---

<Layout title="Explore - Bruno Pulis">
  <Header />
  <main id="main-content">
    <div class="min-h-screen">
      <HeroSection title="Explore" description="Uma grande lista de todas as páginas, projetos, posts no meu site." />
      <section>
        <div class="container-custom py-8">
          <h2>Lista das páginas</h2>
          <p>
            Essa é minha <span lang="en">slash page</span>, você pode encontrar todos os tipos em <a
              href="https://slashpages.net/">slashes pages</a
            >
          </p>

          <div class="mt-8 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            {
              slashes.map((slash) => (
                <a
                  href={slash.link}
                  class="block h-full rounded-xl border border-gray-200 bg-gray-100 p-6 shadow-md transition-shadow hover:shadow-lg"
                >
                  <h3 class="text-blood-red-800 mb-2 text-xl font-bold">{slash.title}</h3>
                  <p class="mb-4 text-gray-700">{slash.description}</p>
                  <span class="text-blood-red-800 mt-auto inline-block font-semibold -underline-offset-8 hover:underline">
                    Acessar
                  </span>
                </a>
              ))
            }
          </div>
        </div>
      </section>
    </div>
  </main>
	<Footer />
</Layout>
