---
import Layout from "@layouts/Layout.astro";

import Header from "@components/layout/Header.astro";
import HeroSection from "@components/layout/HeroSection.astro";
import Footer from "@components/layout/Footer.astro";
---

<Layout title="Uso de IA - Bruno Pulis">
  <Header />
  <main id="main-content">
    <HeroSection title="Uso de IA" />
    <section class="py-16">
      <div class="container-custom max-3xl mx-auto">
        <article class="prose prose-lg max-w-none">
          <h2 class="mb-5">Uso Inteligência Artificial no meu site</h2>
          <p class="mb-3">A inteligência artifical não faz parte essencial do meu site.</p>
          <p class="mb-3">Considero a escrita uma arte nobre e acredito que toda escrita deve ser feita por humanos.</p>
          <p class="mb-3">E isso faz sentido para blog pessoais.</p>

          <p class="mb-3">Utilizo a IA para:</p>
          <ul class="mb-3 list-inside list-disc">
            <li>Realizar pesquisas;</li>
            <li>Refinar conceitos;</li>
            <li>Correções ortográficas.</li>
          </ul>

          <p class="mb-3">Não utilizo a IA para:</p>
          <ul class="mb-3 list-inside list-disc">
            <li>Criar posts automáticos;</li>
            <li>Gerar código fonte.</li>
          </ul>
        </article>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
