---
layout: base
title: "Página Inicial"
permalink: /
---

<div class="h-feed">
  {% include "components/hero.njk" %}
  {% include "components/portfolio.njk" %}
  {% include "components/services.njk" %}
  {% include "components/writing.njk" %}
  {% include "components/explore.njk" %}
</div>