---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header.astro'
import Hero from '@/components/home/Hero.astro'
import About from '@/components/home/About.astro'
import Features from '@/components/home/Features.astro'
import Projects from '@/components/home/Projects.astro'
import Blog from '@/components/home/Blog.astro'
import Testimonials from '@/components/home/Testimonials.astro'
import CTA from '@/components/home/CTA.astro'
import Footer from '@/components/layout/Footer.astro'
---

<Layout
  title="Bruno Pulis - Engenheiro de Acessibilidade"
  description="Bruno Pulis - Mentor e engenheiro de acessibilidade web, desenvolvendo uma web para todos"
>
  <Header />
  <main>
    <Hero />
    <About />
    <Features />
    <Projects />
    <Testimonials />
    <Blog />
    <CTA />
  </main>
  <Footer />
</Layout>
