---
layout: base.njk
permalink: '/'
title: 'Página inicial'
---

<div class="h-feed">
  {% include "partials/home/hero.njk" %}
  {% include "partials/home/notes.njk" %}
  {% include "partials/home/posts.njk" %}
  {% include "partials/home/quick-links.njk" %}
</div>
