---
layout: page
title: "Interesses"
permalink: "/interests/index.html"
key: 'interesses'
description: 'Uma lista de coisas que gosto sem nenhuma ordem específica; talvez tenhamos alguns interesses em comum!'
date: Last Modified
---

<h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
<p class="mb-4">{{ description }}</p>

<div class="prose">
  <p>Meus interesses não estão em uma ordem cronológica.</p>
  <p>Essa página está em constante evolução.</p>

  <ul>
    <li>Sou fã de Linux e Open Source;</li>
    <li>Padrões Web;</li>
    <li>Teologia;</li>
    <li>Literatura;</li>
    <li>Cibersegurança;</li>
    <li>Música;</li>
    <li>Kung Fu.</li>
  </ul>
</div>

{% include "components/last-update.njk" %}