---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import HeroSection from '@/components/HeroSection.astro';
import Footer from '@/components/Footer.astro';

import { Facebook, Instagram } from '@lucide/astro';

---

<Layout title="Links - Bruno Pulis">
  <Header />
  <main>
    <HeroSection
      title="Links"
      description="Por onde me encontrar na web."
    />
    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container mx-auto">
  <div class="flex flex-wrap justify-center mx-auto lg:w-full md:w-5/6 xl:shadow-small-blue">

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <Facebook class="w-16 h-16 mx-auto text-green-900" />

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    Facebook
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <Instagram class="w-16 h-16 mx-auto text-green-900" />

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    Instagram
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-ecommerce-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    ecommerce
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-startup-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    startup
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-business-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    business
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-lifestyle-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    lifestyle
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-landing-page-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    landing pages
                </p>
            </div>
        </a>

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-health-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    health
                </p>
            </div>
        </a>

    </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
