---
import Layout from '@layout/Layout.astro';
import SiteMapTree from '@components/SiteMapTree.astro';
---

<Layout title="Mapa do Site">
  <main class="wrapper">
    <h1>Mapa do Site</h1>
    <p>Explorar a estrutura do site:</p>

    <SiteMapTree lang="pt" />
  </main>
</Layout>
