---
layout: base
title: "Filtro digital"
description: "Sua fonte de notícias sobre tecnologia, acessibilidade e desenvolvimento web"
permalink: "{% if pagination.pageNumber > 0 %}/newsletter/page/{{ pagination.pageNumber + 1 }}/{% else %}/newsletter/{%
endif %}"
date: Last Modified
pagination:
  data: collections.newsletters
  size: 12
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
    <p class="mb-4">{{ description }}</p>
    <a class="hidden u-url" href="{{ site.url }}/newsletter/"></a>
  </header>
  <hr />

  <ol class="region flow h-feed" role="list">
    {% for item in pagination.items %}
    <li class="card h-entry">
      <div class="flow">
        <h2 class="p-name">
          <a href="{{ item.url | url }}" class="u-url">
            {{ item.data.title }}
          </a>
        </h2>
        <time class="dt-published" datetime="{{ item.data.pubDate | toISOString }}">
          {{ item.data.pubDate | readableDate }}
        </time>
      </div>
    </li>
    {% endfor %}
  </ol>

  {% if pagination.pages.length > 1 %}
    {% include 'components/pagination.njk' %}
  {% endif %}
</div>