---
layout: base.njk
pagination:
  data: collections.newsletters
  size: 10
  alias: newsletters
permalink: '/newsletters/{% if pagination.pageNumber >= 1 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
title: Newsletters
---

<div class="h-feed">
  <h1 class="p-name">Newsletters</h1>
  <a class="visually-hidden u-url" href="{{ site.url }}/newsletters/" aria-label="Newsletters"></a>

  <div class="flow" style="--flow-space: var(--space-l)">
    {% for newsletter in newsletters %}
      <article class="flow h-entry pb-6 border-b" style="--flow-space: var(--space-2xs)">
        <h2 class="p-name">
          <a class="u-url" href="{{ newsletter.url }}">Edição #{{ newsletter.data.issue }}</a>
        </h3>
        <time
          class="meta dt-published"
          datetime="{{ newsletter.date | htmlDateString }}"
          >{{ newsletter.date | readableDate }}</time
        >
        <div class="tag-list">
          {% for tag in newsletter.data.tags %}
            <a class="p-category" href="/tags/{{ tag | slug }}/">#{{ tag }}</a>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="repel region" style="--region-space: var(--space-l)" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="button" href="{{ pagination.href.previous }}">Anterior</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if pagination.href.next %}
      <a class="button" href="{{ pagination.href.next }}">Próximo</a>
    {% endif %}
  </nav>
</div>
