---
layout: page
title: "Filtro digital"
description: "Sua fonte de notícias sobre tecnologia, acessibilidade e desenvolvimento web"
permalink: "{% if pagination.pageNumber > 0 %}/newsletter/page/{{ pagination.pageNumber + 1 }}/{% else %}/newsletter/{%
endif %}"
pagination:
  data: collections.newsletters
  size: 12
---

<ul class="flow" role="list">
{% for item in pagination.items %}
  <li class="article__entry h-entry">
    <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>  
    <time datetime="{{ item.data.pubDate | toISOString }}">
      {{ item.data.pubDate | readableDate }}
    </time>

    {% if item.data.description %}
    <p class="card-text">
      {{ item.data.description | markdownFormat | safe }}
    </p>
    {% endif %}
  </li>
{% endfor %}
</ul>

{% if pagination.pages.length > 1 %}
{% include 'components/pagination.njk' %}
{% endif %}