---
layout: base.njk
pagination:
  data: collections.newsletters
  size: 10
  alias: newsletters
permalink: '/newsletters/{% if pagination.pageNumber >= 1 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
title: Newsletters
---

<div class="h-feed">
  <h1 class="mb-6 p-name font-bold text-2xl">Newsletters</h1>
  <a class="hidden u-url" href="{{ site.url }}/newsletters/"></a>

  <div class="space-y-8">
    {% for newsletter in newsletters %}
      <article class="flex align-items-center justify-content-end pb-6 border-b h-entry">
        <h3 class="p-name font-semibold text-xl">
          <a class="u-url" href="{{ newsletter.url }}">Edição #{{ newsletter.data.issue }}</a>
        </h3>
        <time
          class="text-gray-500 dark:text-gray-400 text-sm dt-published"
          datetime="{{ newsletter.date | htmlDateString }}"
          >{{ newsletter.date | readableDate }}</time
        >
        <div class="space-x-2 mt-2 text-sm">
          {% for tag in newsletter.data.tags %}
            <a class="bg-gray-100 dark:bg-gray-800 p-category px-2 py-0.5 rounded" href="/tags/{{ tag | slug }}/">#{{ tag }}</a>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="flex justify-between items-center mt-8" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="px-3 py-2 border rounded" href="{{ pagination.href.previous }}">Anterior</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if pagination.href.next %}
      <a class="px-3 py-2 border rounded" href="{{ pagination.href.next }}">Próximo</a>
    {% endif %}
  </nav>
</div>
