---
layout: base
pagination:
  data: collections.notes
  size: 10
  alias: notes
permalink: '/notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
title: Notas
---

<div class="h-feed">
  <h1 class="mb-4 font-bold text-2xl">Notas</h1>
  <a class="hidden u-url" href="{{ site.url }}/notes/"></a>
  <p class="mb-6 text-gray-600 dark:text-gray-400">
    Ideias curtas e fáceis de conectar. Cada nota tem seu próprio link permanente.
  </p>

  <section class="space-y-8">
    {% for note in notes %}
      <article class="bg-light-silver-100 p-6 border border-light-silver-100 border-b rounded-lg h-entry">
        <time class="pb-4 text-xs dt-published" datetime="{{ note.date | htmlDateString }}">
          {{ note.date | readableDate }}
        </time>

        <div class="max-w-none e-content prose">
          {{ note.content | safe }}
        </div>
      </article>
    {% endfor %}
  </section>

  <nav class="flex justify-between items-center mt-8" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="bg-blood-red-950 hover:bg-blood-red-900 px-3 py-2 border rounded font-bold text-white" href="{{ pagination.href.previous }}">Anterior</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if pagination.href.next %}
      <a class="bg-blood-red-950 hover:bg-blood-red-900 px-3 py-2 border rounded font-bold text-white" href="{{ pagination.href.next }}">Próximo</a>
    {% endif %}
  </nav>
</div>
