---
layout: page
title: "Notas"
description: "Pensamentos curtos, links interessantes e atualizações rápidas."
permalink: "{% if pagination.pageNumber > 0 %}/notas/page/{{ pagination.pageNumber + 1 }}/{% else %}/notas/{% endif %}"
date: Last Modified
pagination:
  data: collections.notes
  size: 12
---

<h1 class="p-name">{{ title }}</h1>
<p class="p-note">{{ description }}</p>

<div class="h-feed">
  {% for note in pagination.items %}
  <article class="note">
    <time datetime="{{ note.data.pubDate | toISOString }}" class="dt-published">
      {{ note.data.pubDate | formatDate('DD/MM/YYYY') }}
    </time>

    <div class="e-content">
      {{ note.content | safe }}
    </div>

    {% if note.data.tags and note.data.tags.length > 0 %}
    <div class="tags">
      {% for tag in note.data.tags %}
      {% if tag !== "notes" %}
      <span class="p-category">#{{ tag }}</span>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </article>
  {% endfor %}
</div>

{% include 'components/pagination.njk' %}
{% include "components/last-update.njk" %}
</div>