---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import HeroSection from "@/components/layout/HeroSection.astro";
---

<Layout title="O que estou fazendo agora - Bruno Pulis">
  <Header />
  <main>
    <HeroSection
      title="Agora"
      description="Última atualização: Junho 22, 2025"
    />

    <section class="py-16">
      <div class="container mx-auto">
        <div class="max-w-4xl mx-auto prose ">
          <p class="lead">
            Essa página foi inspirado no trabalho de <a href="sive.rs">Derek Sivers</a> que você pode conferir em <a href="https://nownownow.com">nownownow</a>. 
            O objetivo é mostrar no que estou focado no momento.
          </p>
          <p>Esse site passou por atualizações recentes e é um trabalho em andamento.</p>

          <ul>
            <li>Tentando ser um discípulo mais consciente;</li>
            <li>Retornando a leitura diária da Bíblia e devocionais;</li>
            <li>Tentando ser uma pessoa menos estressada;</li>
            <li>Tentando ser um marido melhor;</li>
            <li>Reorganizando meu site;</li>
            <li>Vivendo em BH.</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
