---
layout: base.njk
permalink: "/now/"
title: Agora
---

<h1 class="mb-6 p-name font-bold text-blood-red-950 text-4xl">O que estou fazendo agora</h1>

<div class="prose prose-lg">
  <p>Esta é uma página <a href="https://nownownow.com/about" target="_blank" rel="noopener">/now</a>, inspirada por Derek Sivers. É um retrato daquilo em que estou focado neste momento.</p>

  <h2>Meu foco atual:</h2>
  <ul>
    <li>Curtindo a minha filha;</li>
    <li>Desacelerando nesse momento;</li>
    <li>Retornando a leitura diária da Bíblia e devocionais;</li>
    <li>Tentando ser um marido melhor.</li>
  </ul>

  <h2>Localização</h2>
  <p>Atualmente baseado em: <address>Belo Horizonte</address></p>

  <p class="mt-8text-sm">
    Última atualização: <time datetime="2024-01-01">{{ page.date | formatDate('MMMM D, YYYY') }}</time>
  </p>
</div>
