---
layout: base.njk
title: Poesias
pagination:
  data: collections.poetry
  size: 10
  alias: items
  reverse: true
permalink: '/poetry/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
---

<h1 class="mb-4 font-bold text-blood-red-950 text-2xl">
  {{ title }}
</h1>

<p class="mb-6">
  Coleção de poemas que escrevi ou que gostei.
</p>

{% set items = items | default([]) %}
{% if items | length == 0 %}
  <p class="italic">
    Nenhum poema cadastrado.
  </p>
{% else %}
  <section class="space-y-6">
    {% for item in items %}
      <article class="pb-4 border-b">
        <h2 class="font-semibold text-lg">
          <a href="{{ item.url }}">{{ item.data.title or 'Untitled' }}</a>
        </h2>
        {% if item.date %}
          <time class="text-xs" datetime="{{ item.date | htmlDateString }}"
            >{{ item.date | readableDate }}</time
          >
        {% endif %}
      </article>
    {% endfor %}
  </section>

  <nav class="flex justify-between items-center mt-8" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a
        class="bg-blood-red-950 hover:bg-blood-red-900 px-4 py-2 rounded font-bold text-white"
        href="{{ pagination.href.previous }}"
        >Anterior</a
      >
    {% else %}
      <span class="bg-blood-red-950 hover:bg-blood-red-900 px-4 py-2 rounded font-bold text-white">Anterior</span>
    {% endif %}

    <span class="text-sm">
      Página {{ pagination.pageNumber + 1 }} de {{ pagination.pages | length }}
    </span>

    {% if pagination.href.next %}
      <a
        class="bg-blood-red-950 hover:bg-blood-red-900 px-4 py-2 rounded font-bold text-white"
        href="{{ pagination.href.next }}">
        Próximo
      </a>
    {% else %}
      <span class="bg-blood-red-950 hover:bg-blood-red-900 px-4 py-2 rounded font-bold text-white">
        Próximo
      </span>
    {% endif %}
  </nav>
{% endif %}
