---
layout: base.njk
title: Poemas
pagination:
  data: collections.poetry
  size: 10
  alias: items
  reverse: true
permalink: '/poetry/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}'
---

<h1 class="p-name">
  {{ title }}
</h1>

<p>
  Coleção de poemas que escrevi ou que gostei.
</p>

{% set items = items | default([]) %}
{% if items | length == 0 %}
  <p class="italic">
    Nenhum poema cadastrado.
  </p>
{% else %}
  <section class="flow" style="--flow-space: var(--space-m)">
    {% for item in items %}
      <article class="flow pb-4 border-b" style="--flow-space: var(--space-2xs)">
        <h2>
          <a href="{{ item.url }}">{{ item.data.title or 'Untitled' }}</a>
        </h2>
        {% if item.date %}
          <time class="meta" datetime="{{ item.date | htmlDateString }}"
            >{{ item.date | readableDate }}</time
          >
        {% endif %}
      </article>
    {% endfor %}
  </section>

  <nav class="repel region" style="--region-space: var(--space-l)" aria-label="Pagination">
    {% if pagination.href.previous %}
      <a class="button" href="{{ pagination.href.previous }}">Anterior</a>
    {% else %}
      <span class="button" aria-disabled="true">Anterior</span>
    {% endif %}

    <span class="meta">
      Página {{ pagination.pageNumber + 1 }} de {{ pagination.pages | length }}
    </span>

    {% if pagination.href.next %}
      <a class="button" href="{{ pagination.href.next }}">
        Próximo
      </a>
    {% else %}
      <span class="button" aria-disabled="true">
        Próximo
      </span>
    {% endif %}
  </nav>
{% endif %}
