---
layout: base
title: "Política de Privacidade"
description: 'Coisas que faço para garantir a privacidade dos visitantes do site'
permalink: /privacy/index.html
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <article class="flow prose">
    <p>Minha abordagem é simples: respeito a sua privacidade tanto quanto protejo a minha. Este site opera com
      rastreamento zero.</p>
    <p>Respeito a <abbr title="Lei Geral de Proteção de Dados">LGPD</abbr> e <abbr lang="en"
        title="General Data Protection Regulation">GDPR</abbr> e este documento
      de política explica como recolho e trato qualquer informação que me forneça.
    </p>

    <h2>Quais dados de fundo são recolhidos?</h2>
    <p>Este site não utiliza nenhum script de rastreamento de terceiros.</p>

    <h2>Como utilizo os dados que me fornece?</h2>
    <p>Este website não recolhe quaisquer dados.</p>

    <h2>Quão seguros estão os seus dados?</h2>
    <p>Muito seguros, uma vez que este website não recolhe quaisquer informações.</p>

    <h2>Quão seguro é este website?</h2>
    <p>Este website transmite os seus dados utilizando HTTPS, encriptando todos os dados entre o navegador e o
      servidor.</p>
    <p>Seu provedor de internet ainda poderá ver que você está baixando arquivos deste site, mas não o conteúdo em si.
      Isso
      também protege você contra a interceptação de dados por terceiros, por exemplo, ao navegar em redes Wi-Fi
      públicas, ou
      contra a inserção de anúncios neste site por provedores de internet. Todos os cabeçalhos HTTP de resposta
      relevantes estão
      configurados para sua proteção e a Política de Segurança de Conteúdo está ajustada aos requisitos deste site.
    </p>

    <h2>Controlador de dados</h2>
    <p>{{ personal.address }}</p>
    <p>Em caso de dúvidas, entre em contato comigo: {{ personal.email }}.</p>

    <h2>Alterações na política</h2>
    <p>Se eu alterar o conteúdo desta política, as alterações entrarão em vigor no momento da publicação aqui.</p>

    <h2>Reclamações</h2>
    <p>Se você tiver algum motivo para reclamar sobre a forma como lido com sua privacidade, entre em contato comigo
      por
      e-mail: {{ personal.email }}.</p>

    <h2>Dados analíticos</h2>
    <p>Utilizo o <a href="https://umami.is/docs" rel="noopener noreferrer" target="_blank">Umami</a> para coletar
      somente estatísticas de navegação.</p>
    <p>Você pode ver o <a href="https://cloud.umami.is/analytics/us/share/JWxWUgpWDJBQZcAi"
        rel="noopener noreferrer">dashboard</a> em tempo real do meu site.</p>
    <p>Não há coleta de dados de navegação.</p>

    <h2>Cookies</h2>
    <ul>
      <li>Não há instalação de cookies no seu dispositivo.</li>
      <li>Não há identificadores únicos (IDs) para rastreamento.</li>
    </ul>

    <p>Verifique você mesmo: Sinta-se à vontade para usar ferramentas como o <a href="https://www.cookiemetrix.com/"
        rel="noopener noreferrer" target="_blank">Cookie Metrix</a>
      para auditar este site.</p>

    <p>O resultado será zero cookies.</p>

    <img src="/assets/images/pages/no-cookies.png" alt="Print da tela do site cookie metrix, mostrando que não possui
      nenhum cookie no site">
  </article>
</div>