---
layout: base
title: "Política de Privacidade"
description: 'Coisas que faço para garantir a privacidade dos visitantes do site'
permalink: /privacy/index.html
date: 2025-11-21
---

<div class="max-w-4xl">
  <h1 class="text-4xl font-bold">{{ title }}</h1>
  <p class="text-lg">{{ description }}</p>

  <div class="prose">
    <p>Minha abordagem é simples: respeito a sua privacidade tanto quanto protejo a minha. Este site opera com
      rastreamento zero.</p>
    <p>Respeito o Regulamento Geral de Proteção de Dados (RGPD) da UE e este documento de política explica como recolho
      e trato qualquer informação que me forneça.</p>

    <section aria-labelledby="quais-dados-sao-recolhidos">
      <h2 id="quais-dados-sao-recolhidos">Quais dados de fundo são recolhidos?</h2>

      <p>Este site não utiliza nenhum script de rastreamento de terceiros.</p>
    </section>

    <section aria-labelledby="como-utilizo-os-dados">
      <h2 id="como-utilizo-os-dados">Como utilizo os dados que me fornece?</h2>

      <p>Este website não recolhe quaisquer dados.</p>
    </section>

    <section aria-labelledby="quao-seguros-estao-os-seus-dados">
      <h2 id="quao-seguros-estao-os-seus-dados">Quão seguros estão os seus dados?</h2>
      <p>Muito seguros, uma vez que este website não recolhe quaisquer informações.</p>
    </section>

    <section aria-labelledby="quao-seguro-e-este-website">
      <h2 id="quao-seguro-e-este-website">Quão seguro é este website?</h2>

      <p>Este website transmite os seus dados utilizando HTTPS, encriptando todos os dados entre o navegador e o
        servidor.
        Seu
        provedor de internet ainda poderá ver que você está baixando arquivos deste site, mas não o conteúdo em si. Isso
        também
        protege você contra a interceptação de dados por terceiros, por exemplo, ao navegar em redes Wi-Fi públicas, ou
        contra
        a
        inserção de anúncios neste site por provedores de internet. Todos os cabeçalhos HTTP de resposta relevantes
        estão
        configurados para sua proteção e a Política de Segurança de Conteúdo está ajustada aos requisitos deste site.
      </p>
    </section>

    <section aria-labelledby="controlador-de-dados">
      <h2 id="controlador-de-dados">Controlador de dados</h2>

      <p>{{ personal.address }}</p>
      <p>Em caso de dúvidas, entre em contato comigo: {{ personal.email }}.</p>
    </section>

    <section aria-labelledby="alteracoes-na-politica">
      <h2 id="alteracoes-na-politica">Alterações na política</h2>
      <p>Se eu alterar o conteúdo desta política, as alterações entrarão em vigor no momento da publicação aqui.</p>
    </section>

    <section aria-labelledby="reclamacoes">
      <h2 id="reclamacoes">Reclamações</h2>
      <p>Se você tiver algum motivo para reclamar sobre a forma como lido com sua privacidade, entre em contato comigo
        por
        e-mail: {{ personal.email }}.</p>
    </section>

    <section aria-labelledby="analytics">
      <h2 id="analytics">Analytics</h2>
      <p>Utilizo o [Umami](https://umami.is/docs) para coletar somente estatísticas de navegação.</p>
      <p>Você pode ver o [dashboard em tempo real do meu
        site](https://cloud.umami.is/analytics/us/share/JWxWUgpWDJBQZcAi).</p>
      <p>Não há coleta de dados de navegação.</p>
    </section>

    <section aria-labelledby="cookies">
      <h2 id="cookies">Cookies</h2>

      <ul>
        <li>Não há instalação de cookies no seu dispositivo.</li>
        <li>Não há identificadores únicos (IDs) para rastreamento.</li>
      </ul>

      <p>Verifique você mesmo: Sinta-se à vontade para usar ferramentas como o [Cookie
        Metrix](https://www.cookiemetrix.com/)
        para auditar este site. O resultado será zero cookies.</p>

      <img src="/assets/images/pages/no-cookies.png" alt="Print da tela do site cookie metrix, mostrando que não possui
    nenhum cookie no site">
    </section>
  </div>
</div>