---
layout: base.njk
title: Projetos
permalink: /projects/
---

<h1 class="mb-4">{{ title }}</h1>
<p class="mb-6">
  Projetos de código aberto e experimentos pessoais.
</p>

<ul class="flow" style="--flow-space: var(--space-m)">
  <li class="callout flow" style="border-style: solid; --flow-space: var(--space-2xs)">
    <h2 lang="en">
      <a href="https://github.com/brunopulis/awesome-a11y">Awesome A11y</a>
    </h2>
    <p class="meta">Uma lista com incríveis recursos de acessibilidade.</p>
    <div class="cluster" style="--gutter: var(--space-2xs)">
      <span class="badge" style="background-color: #2563eb; color: var(--color-light-silver-50);">awesome list</span>
      <span class="badge" style="background-color: #16a34a; color: var(--color-light-silver-50);">a11y</span>
      <span class="badge" style="background-color: #db2777; color: var(--color-light-silver-50);">testing</span>
    </div>
  </li>

  <li class="callout flow" style="border-style: solid; --flow-space: var(--space-2xs)">
    <h2 lang="en">
      <a href="https://github.com/brunopulis/awesome-cypress">Awesome Cypress</a>
    </h2>
    <p class="meta">Uma lista com incríveis recursos sobre <span lang="en">Cypress</span>.</p>
    <div class="cluster" style="--gutter: var(--space-2xs)">
      <span class="badge" style="background-color: #2563eb; color: var(--color-light-silver-50);">awesome list</span>
      <span class="badge" style="background-color: #16a34a; color: var(--color-light-silver-50);">a11y</span>
      <span class="badge" style="background-color: #db2777; color: var(--color-light-silver-50);">testing</span>
    </div>
  </li>

  <li class="callout flow" style="border-style: solid; --flow-space: var(--space-2xs)">
    <h2>Minimal Style Guide</h2>
    <p class="meta">A living page to document typography and components.</p>
  </li>
</ul>
