---
layout: base
title: "Meus projetos"
permalink: "/projects/index.html"
key: 'projects'
description: "Projetos Open Source que mantenho"
---

<h1 class="mb-4 font-bold text-2xl">{{ title }}</h1>
<p class="mb-6">{{description}}</p>

<ul class="space-y-6">
  {% for project in projects %}
  <li class="bg-brand-gray-200 p-4 border border-brand-gray-200 rounded">
    <article>
      <h2 class="font-semibold text-lg">{{ project.title }}</h2>
      <p>{{ project.description }}</p>
       <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-content-center gap-2 my-2 font-bold underline hover:underline">
        Ver projeto <span class="sr-only">{{ project.title }}</span>
        {% lucide "chevron-right", { "class": "w-4 h-4" } %}        
      </a>
    </article>
  </li>
  {% endfor %}
</ul>