---
layout: base
title: "Afiliados"
permalink: /referrals/index.html
description: 'Links de afiliados de produtos e serviços que recomendo.'
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="prose">
    <p>Os links de referência são outra forma alternativa de <a href="/support">me apoiar</a> e ganhar
      recompensas extras. Tudo o que os produtos e serviços aqui apresentados são o que eu mesmo utilizo.</p>

    <p>Aqui estão alguns produtos e serviços que utilizo e recomendo:</p>
    <ul>
      <li><a href="https://hostinger.com.br?REFERRALCODE=1BRUNO6688" rel="sponsored" target="_blank">Hostinger</a>, uma
        excelente alternativa de hospedagem.</li>
    </ul>
  </div>
</div>