---
layout: page
title: "Pesquisa"
description: "Pesquise conteudos no meu site"
permalink: /pesquisa/index.html
date: Last Modified
---

<div class="mx-auto my-24 max-w-6xl">
  <h2>Search</h2>

  {% include "components/last-update.njk" %}
</div>
