---
import Layout from "@layout/Layout.astro";
import Header from "@components/layouts/Header.astro";
import HeroSection from "@components/layouts/HeroSection.astro";
import Footer from "@components/layouts/Footer.astro";

export const prerender = true;
---

<Layout title="Pesquisar - Bruno Pulis" description="Pesquise em todo o conteúdo do site">
  <Header />
  <main id="main-content">
    <HeroSection title="Pesquisa" description="Use palavras-chave, frases ou perguntas." />
    <section class="bg-white py-16 dark:bg-gray-800">
      <div class="container-custom mx-auto">
        <div>
          <label for="search">Search the Blog</label>
          <span>Enter a search term or phrase to search the blog.</span>
        </div>
        <div id="search"></div>
      </div>
      <p id="searchReadout"></p>
      <section aria-label="Search Results">
        <ul id="searchResults"></ul>
      </section>
    </section>
  </main>

  <Footer />
</Layout>
