---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import HeroSection from "@/components/HeroSection.astro";

const slashes = [
	{
		title: "Blogroll",
		description: "Blogs que eu sigo e recomendo.",
		link: "/blogroll",
	},
	{
		title: "Minhas Leituras",
		description: "Os livros que li desde 2018.",
		link: "/bookshelf",
	},
	{
		title: "Colophon",
		description: "Uma página que descreve como o site foi feito.",
		link: "/colophon",
	},
	{
		title: "Livro de visitas",
		description: "Meu livro de visitas que você pode assinar!",
		link: "/guestbook",
	},
	{
		title: "Como uso IA no meu site",
		description: "Como utilizo inteligência artificial no meu site.",
		link: "/ai",
	},
	{
		title: "Minhas Notas",
		description: "Minhas notas curtas.",
		link: "/notes",
	},
	{
		title: "O que estou fazendo agora",
		description: "Coisas que estou fazendo agora.",
		link: "/now",
	},
	{
		title: "Links de afiliado",
		description: "Meus links de afiliado.",
		link: "/referrals",
	},
];
---

<Layout title="Mais - Bruno Pulis">
  <Header />
  <main>
    <HeroSection
      title="Mais"
      description="Uma grande lista de todas as páginas, projetos, posts no meu site."
    />
    <section class="bg-white py-16 dark:bg-gray-800">
      <div class="container mx-auto px-5">
        <div class="mb-24 grid items-center gap-12 md:grid-cols-1">
          <div>
            <h2 class="mb-6 text-3xl font-bold text-gray-900 dark:text-white">
              Lista das páginas
            </h2>
            <p class="mb-4 text-gray-600 dark:text-gray-300">
              Essa é minha <span lang="en">slash page</span>, você pode
              encontrar todos os tipos em <a
                class="hover:offset font-bold text-red-950 hover:underline hover:underline-offset-8"
                href="https://slashpages.net/">slashes pages</a
              >
            </p>

            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
							{
								slashes.map((slash, index) => (
									<div
										class="card slide-up border border-gray-200 p-6 dark:border-gray-700"
										style={`animation-delay: ${index * 100}ms`}
									>
										<h3
											class="mt-6 mb-3 text-xl font-semibold text-gray-900 dark:text-white"
										>
											{slash.title}
										</h3>
										<p class="text-gray-600 dark:text-gray-300">
											{slash.description}
										</p>
										<a
											href={slash.link}
											class="mt-4 inline-block text-red-950 hover:underline hover:underline-offset-8"
										>
											Acessar <span class="sr-only">{slash.title}</span>
										</a>
									</div>
				))
							}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
