---
layout: page
title: "Palestras e Eventos"
permalink: "/speaking/index.html"
key: 'speaking'
description: "Compartilhando conhecimento sobre como construir uma web mais acessível e padronizada. Meu foco é
acessibilidade prática, padrões WCAG e sistemas de design inclusivo."
date: Last Modified
cta:
  link: /contato
  label: Me convide para seu evento
cta2:
  link: /press-kit
  label: Confira meu Press Kit
---

{% set allTalks = talks %}
{% set talksByYear = allTalks | groupBy("attendedYear") %}

<div class="mx-auto my-24 max-w-6xl">
  <h1 class="mb-4 font-bold text-2xl">{{ title }}</h1>
  <p class="mb-6">{{description}}</p>

  <section class="h-feed">
    <div class="gap-6 grid grid-cols-1">
      {% for talk in allTalks | sort(attribute="date") | reverse %}
      <article
        class="flex flex-col justify-between p-8 border border-brand-brand-gray-200 rounded-xl hover:ring-2 hover:ring-brand-gray-200 h-full transition-all">
        <div class="flex justify-between items-center mb-4">
          {% lucide "presentation", { class: "w-4 h-4 text-brand-red-500" } %}
          <time datetime="{{ talk.date }}" class="font-mono dt-published">{{ talk.date |
            formatDate("MMMM D, YYYY") }}</time>
        </div>
        <div class="flex-1">
          <h3 class="font-bold group-hover:text-primary text-xl leading-tight transition-colors">
            {{ talk.title }}
          </h3>
          {% if talk.location %}
          {% lucide "map-pin", { class: "w-4 h-4 text-brand-blue-500" } %}
          <p class="text-brand-blue-500">{{ talk.location }}</p>
          {% endif %}

          <div class="flex flex-wrap gap-3 mt-8">
          {% if talk.slides %}
          <a href="{{ talk.slides }}"
            class="border-transparent hover:border-brand-blue-500 border-b-2 text-brand-blue-500 hover:text-brand-blue-600 text-sm tracking-widest transition-all duration-300">Slides</a>
          {% endif %}
          {% if talk.video %}
          <a href="{{ talk.video }}"
            class="border-transparent hover:border-brand-blue-500 border-b-2 text-brand-blue-500 hover:text-brand-blue-600 text-sm tracking-widest transition-all duration-300">Vídeo</a>
          {% endif %}
        </div>
        </div>
      </article>
      {% endfor %}
  </section>
  <hr class="mb-12 border-brand-gray-200" />

  {% include "components/last-update.njk" %}
</div>
