---
layout: base.njk
title: Estatísticas
permalink: /stats/
---

{% set stats = siteStats %}
<section class="mb-12">
  <h2 class="mb-4 font-bold text-blood-red-950 text-2xl">Estatísticas Gerais</h2>
  <dl class="gap-4 grid grid-cols-1 md:grid-cols-2">
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Total de posts</dt>
      <dd class="font-bold text-3xl">{{ stats.totalPosts }}</dd>
    </div>
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Total de newsletters</dt>
      <dd class="font-bold text-3xl">{{ stats.totalNewsletters }}</dd>
    </div>
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Total de palavras</dt>
      <dd class="font-bold text-3xl">{{ stats.totalWords | formatNumber }}</dd>
    </div>
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Média de palavras por post</dt>
      <dd class="font-bold text-3xl">{{ stats.averageWordsPerPost }}</dd>
    </div>
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Total de tags</dt>
      <dd class="font-bold text-3xl">{{ stats.totalTags }}</dd>
    </div>
    <div class="bg-light-silver-100 p-4 border rounded-lg">
      <dt class="mb-1 font-bold text-blood-red-950 text-sm">Livros lidos</dt>
      <dd class="font-bold text-3xl">{{ stats.totalBooks }}</dd>
    </div>
  </dl>
</section>

<section class="mb-12">
  <h2 class="mb-4 font-bold text-blood-red-950 text-2xl">Posts por ano</h2>
  <ul class="space-y-2">
    {% for year in stats.yearsSorted %}
      <li class="flex justify-between items-center py-2 border-gray-200 dark:border-gray-700 border-b">
        <span class="font-bold">{{ year }}</span>
        <span class="font-bold text-blood-red-950">
          {{ stats.postsByYear[year] }}
        </span>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="mb-12">
  <h2 class="mb-4 font-bold text-blood-red-950 text-2xl">Nuvem de tags</h2>
  <div class="flex flex-wrap gap-2">
    {% for tag in stats.allTags %}
      <a href="/tags/{{ tag | slugify }}/" class="inline-block bg-light-silver-100 hover:bg-vista-blue-500 px-3 py-1 border-light-silver-100 rounded-full font-bold text-sm transition-colors">
        {{ tag }}
      </a>
    {% endfor %}
  </div>
</section>

<section class="mb-8">
  <p class="text-sm italic">
    Copiei essas estatísticas do <a href="https://kevquirk.com/stats/" class="underline">Kev Quirk</a> porque sim, ele provavelmente pegou de algum outro lugar também. Viva o Open Source!
  </p>
</section>
