---
layout: base
title: "Inscreva"
description: 'Acompanhe todos meus artigos direto pelo seu leitor de RSS preferido'
permalink: /subscribe/index.html
date: Last Modified
---

<div class="mx-auto my-24 max-w-6xl">
  <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
  <p class="mb-4">{{ description }}</p>

  <div class="prose">
    <p>Meu site existe uma gama de conteúdo, por isso separei esses conteúdos em uma espécie de categorias.</p>
    <p>Cada categoria possui seu próprio <a href="https://pt.wikipedia.org/wiki/RSS"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">RSS</a>.</p>

    <p>Meu conteúdo está disponível via <a href="https://pt.wikipedia.org/wiki/RSS"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">RSS</a>, <a href="https://microformats.org/"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">Microformats</a>, e-mail, Bluesky e no Fediverso.</p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">
      Inscreva-se no RSS
    </h2>
    <p>Você pode se inscrever em vários feeds que organizei, eles são:</p>

    <ul>
      <li><strong>Artigos:</strong> <a href="/feeds/blog/rss.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/blog/atom.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">Atom</a> e <a href="/feeds/blog/feed.json"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">JSON Feed</a>;</li>
      <li><strong>Notas:</strong> <a href="/feeds/notes/rss.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/notes/atom.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">Atom</a>, <a href="/feeds/notes/feed.json"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">JSON Feed</a></li>
      <li><strong>Links:</strong> <a href="/feeds/bookmarks/rss.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/bookmarks/atom.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">Atom</a>, <a href="/feeds/bookmarks/feed.json"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">JSON Feed</a></li>
      <li><strong>Livros:</strong> <a href="/feeds/books/rss.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/books/atom.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">Atom</a>, <a href="/feeds/books/feed.json"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">JSON Feed</a></li>
      <li><strong>Filmes e séries:</strong> <a href="/feeds/medias/rss.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/medias/atom.xml"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">Atom</a>, <a href="/feeds/medias/feed.json"
          class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
          rel="noreferrer noopener">JSON Feed</a></li>
    </ul>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">
      Inscrição por e-mail
    </h2>

    <p>A maneira mais fácil de se inscrever é por e-mail. Os e-mails são enviados uma vez por semana e você pode
      cancelar
      a inscrição a qualquer momento.</p>

    <p>Se inscreva no <a href="https://brunopulis.substack.com/"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">Substack</a>.</p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">
      Siga no Bluesky
    </h2>

    <p>Se você usa o <a href="https://bsky.app/"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">Bluesky</a>, pode me seguir <a href="https://bsky.app/profile/brunopulis.com"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">@brunopulis.com</a>.</p>

    <p>Todas as publicações deste site serão federadas à rede via Brid.gy, de modo que aparecerão no identificador
      oficial.</p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">
      Siga-me no Mastodon ou em outras redes do fediverso
    </h2>

    <p>Se você usa um serviço federado como o <a href="https://joinmastodon.org/"
        class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
        rel="noreferrer noopener">Mastodon</a>, pode me seguir pesquisando <span
        class="font-mono">@bruno@brunopulis.com</span> no seu
      servidor.
    </p>

    <p>Todas as publicações deste site serão federadas à rede (via ActivityPub).</p>

    <p>Digite sua conta abaixo para ser redirecionado para a página de seguir do seu servidor.</p>

    <form
      action="https://fed.brid.gy/remote-follow"
      method="post"
      class="fediverse-follow-form"
    >
      <input type="hidden" name="id" value="{{ site.followId }}">
      <input type="hidden" name="domain" value="{{ site.url }}">
      <input type="hidden" name="protocol" value="web">

      <button type="submit" class="fediverse-follow-button">
        Seguir no Fediverso
      </button>
    </form>
    <a href="https://fed.brid.gy/remote-follow?domain=brunopulis.com&protocol=web"
      class="text-brand-red-500 hover:text-brand-red-600 underline hover:no-underline" target="_blank"
      rel="noreferrer noopener">Seguir no Fediverso</a>
  </div>

  {% include "components/last-update.njk" %}
</div>
