---
layout: base
title: "Inscreva"
description: 'Acompanhe todos meus artigos direto pelo seu leitor de RSS preferido'
permalink: /subscribe/index.html
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
    <p class="mb-4">{{ description }}</p>
  </header>

  <div class="prose flow">
    <p>Meu site existe uma gama de conteúdo, por isso separei esses conteúdos em uma espécie de categorias.</p>
    <p>Cada categoria possui seu próprio <a href="https://pt.wikipedia.org/wiki/RSS" target="_blank"
        rel="noreferrer noopener">RSS</a>.</p>

    <p>Meu conteúdo está disponível via <a href="https://pt.wikipedia.org/wiki/RSS" target="_blank"
        rel="noreferrer noopener">RSS</a>, <a href="https://microformats.org/" target="_blank"
        rel="noreferrer noopener">Microformats</a>, e-mail, Bluesky e no Fediverso.</p>

    <h2>Inscreva-se no RSS</h2>
    <p>Você pode se inscrever em vários feeds que organizei, eles são:</p>

    <ul>
      <li><strong>Artigos:</strong> <a href="/feeds/blog/rss.xml" target="_blank" rel="noreferrer noopener">RSS</a>, <a
          href="/feeds/blog/atom.xml" target="_blank" rel="noreferrer noopener">Atom</a> e <a
          href="/feeds/blog/feed.json" target="_blank" rel="noreferrer noopener">JSON Feed</a>;</li>
      <li><strong>Notas:</strong> <a href="/feeds/notes/rss.xml" target="_blank" rel="noreferrer noopener">RSS</a>, <a
          href="/feeds/notes/atom.xml" target="_blank" rel="noreferrer noopener">Atom</a>, <a
          href="/feeds/notes/feed.json" target="_blank" rel="noreferrer noopener">JSON Feed</a></li>
      <li><strong>Links:</strong> <a href="/feeds/bookmarks/rss.xml" target="_blank" rel="noreferrer noopener">RSS</a>,
        <a href="/feeds/bookmarks/atom.xml" target="_blank" rel="noreferrer noopener">Atom</a>, <a
          href="/feeds/bookmarks/feed.json" target="_blank" rel="noreferrer noopener">JSON Feed</a>
      </li>
      <li><strong>Livros:</strong> <a href="/feeds/books/rss.xml" target="_blank" rel="noreferrer noopener">RSS</a>, <a
          href="/feeds/books/atom.xml" target="_blank" rel="noreferrer noopener">Atom</a>, <a
          href="/feeds/books/feed.json" target="_blank" rel="noreferrer noopener">JSON Feed</a></li>
      <li><strong>Filmes e séries:</strong> <a href="/feeds/medias/rss.xml" target="_blank"
          rel="noreferrer noopener">RSS</a>, <a href="/feeds/medias/atom.xml" target="_blank"
          rel="noreferrer noopener">Atom</a>, <a href="/feeds/medias/feed.json" target="_blank"
          rel="noreferrer noopener">JSON Feed</a></li>
    </ul>

    <h2>Inscrição por e-mail</h2>
    <p>A maneira mais fácil de se inscrever é por e-mail. Os e-mails são enviados uma vez por semana e você pode
      cancelar
      a inscrição a qualquer momento.</p>

    <p>Se inscreva no <a href="https://brunopulis.substack.com/" target="_blank" rel="noreferrer noopener">Substack</a>.
    </p>

    <h2>Siga no Bluesky</h2>
    <p>Se você usa o <a href="https://bsky.app/" target="_blank" rel="noreferrer noopener">Bluesky</a>, pode me seguir
      <a href="https://bsky.app/profile/brunopulis.com" target="_blank" rel="noreferrer noopener">@brunopulis.com</a>.
    </p>

    <p>Todas as publicações deste site serão federadas à rede via Brid.gy, de modo que aparecerão no identificador
      oficial.</p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">
      Siga-me no Mastodon ou em outras redes do fediverso
    </h2>

    <p>Se você usa um serviço federado como o <a href="https://joinmastodon.org/" target="_blank"
        rel="noreferrer noopener">Mastodon</a>, pode me seguir pesquisando <span
        class="font-mono">@bruno@brunopulis.com</span> no seu
      servidor.
    </p>
  </div>
</div>