---
layout: page
permalink: '/tags/'
title: Tags
description: Todas as tags de tópicos usadas nas publicações, com a quantidade de itens associados.
---

<p>
  Todas as tags de tópicos usadas nas publicações, com a quantidade de itens associados a cada uma.
</p>

<ul class="tag__list" role="list">
  {% for tag in tagsData %}
    <li class="tag__item">
      <a class="p-category tag__link" href="/tags/{{ tag.slug }}/">
        {{ tag.name }}
        <span class="meta">({{ tag.count }})</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% if tagsData.length == 0 %}
  <p>Nenhuma tag encontrada.</p>
{% endif %}