---
layout: base
title: "Ferramentas que uso"
permalink: "uses/index.html"
description: "Softwares que uso no meu cotidiano"
date: Last Modified
---

<div class="wrapper region">
  <header class="flow">
    <h1 class="p-name">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="prose">
    <h2>Desenvolvimento</h2>
    <ul>
      <li><strong>Editor:</strong> VsCodium</li>
      <li><strong>Terminal:</strong> Zsh</li>
      <li><strong>Browser:</strong> Brave</li>
      <li><strong>Version Control:</strong> Git, GitHub e Codeberg</li>
    </ul>

    <h2 lang="en">Hardware</h2>
    <ul>
      <li><strong>Computer:</strong> Your computer specs</li>
      <li><strong>Monitor:</strong> Your monitor setup</li>
      <li><strong>Keyboard:</strong> Logitech K380</li>
      <li><strong>Mouse:</strong> Logitech M325</li>
    </ul>

    <h2 lang="en">Software</h2>
    <ul>
      <li><strong>OS:</strong> Zorin OS</li>
      <li><strong>Notes:</strong> Obsidian</li>
      <li><strong>Design:</strong> Figma</li>
      <li><strong>Productivity:</strong> Todoist</li>
    </ul>
  </div>

  <p>Esta página foi inspirada por <a href="https://uses.tech/" target="_blank" rel="noopener noreferrer">uses.tech</a>
  </p>
</div>