---
layout: base
title: "Verifique"
description: Verifique minha identidade online
permalink: /verify/index.html
date: Last Modified
---

<div class="mx-auto my-24 max-w-6xl">
  <h1 class="mb-6 p-name font-bold text-brand-red-500 text-3xl">{{ title }}</h1>
  <p class="mb-6">{{ description }}</p>

  <div class="prose">
    <p>Se você encontrar uma conta que pareça ser minha, mas não esteja listada aqui, por favor, <a
        href="https://brunopulis.com/contato">me avise</a>.</p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">Redes ativas</h2>

    <h3 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-xl">Fediverso</h3>

    <ul>
      <li><a href="https://mastodon.social/@brunopulis">@brunopulis@mastodon.social</a></li>
      <li><a href="https://threads.net/@brunopulis">@brunopulis@threads.net</a></li>
      <li><a href="https://bsky.social/@brunopulis">@brunopulis.com@bsky.social</a></li>
      <li><a href="https://discord.com/users/brunopulis">Discord: brunopulis</a></li>
      <li><a href="https://psnprofiles.com/players/anakinbr88">PSN: anakinbr88</a></li>
      <li><a href="https://github.com/brunopulis">GitHub: brunopulis</a></li>
      <li><a href="https://ko-fi.com/brunopulis">Ko-fi: brunopulis</a></li>
    </ul>

    <h3 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-xl">Email</h3>

    <p>Você pode entrar em contato comigo através do e-mail <a
        href="mailto:brunopulis@protonmail.com">brunopulis@protonmail.com</a></p>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">Redes inativas</h2>

    <p>Essas redes são minhas, mas não utilizo mais.</p>

    <ul>
      <li><a href="https://www.instagram.com/brunopulis">Instagram</a></li>
      <li><a href="https://pixelfed.org/@brunopulis">Pixelfed</a></li>
      <li><a href="https://www.facebook.com/obrunopulis">Facebook</a></li>
    </ul>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">Redes que não
      possuo</h2>

    <p>Se houver uma conta com meu nome nessas redes, não sou eu.</p>

    <ul>
      <li>Twitter/X</li>
      <li>Snapchat</li>
      <li>TikTok</li>
      <li>Orkut</li>
    </ul>

    <h2 class="mb-4 pb-2 border-brand-gray-500 border-b font-semibold text-brand-red-500 text-2xl">Meus domínios</h2>

    <ul>
      <li>brunopulis.com</li>
      <li>brunopulis.com.br</li>
    </ul>
  </div>

  {% include "components/last-update.njk" %}
</div>
