---
layout: page
title: Blog
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
description: 'Todos os posts podem ser visto aqui'
pagination:
  data: collections.posts
  size: 10
---


<header class="section" style="--spot-color: var(--color-secondary)">
  <div class="section__inner flow region">
    <h1 class="text-rosewood-950 text-step-4">{{ title }}</h1>
  </div>
</header>

<custom-masonry layout="50-50">
  {% asyncEach item in pagination.items %}
  {% include "partials/card-blog.njk" %}
  {% endeach %}
</custom-masonry>

{% set collectionToPaginate = collections.posts %}
{% set metaKey = "blog" %}
{% if collectionToPaginate.length > pagination.size %}
{% include 'partials/pagination.njk' %}
{% endif %}