---
layout: base
title: Links
permalink: "/bookmarks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
description: 'Todos os links podem ser visto aqui'
pagination:
    data: collections.bookmarks
    size: 10
---


<header class="section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region">
        <h1 class="text-rosewood-950 text-step-4">{{ title }}</h1>
    </div>
</header>

<custom-masonry layout="50-50">
    {% asyncEach item in pagination.items %}
    {% include "partials/card-blog.njk" %}
    {% endeach %}
</custom-masonry>

{% set collectionToPaginate = collections.bookmarks %}
{% set metaKey = "bookmarks" %}
{% if collectionToPaginate.length > pagination.size %}
{% include 'partials/pagination.njk' %}
{% endif %}