---
import { ArrowRight  } from '@lucide/astro'
---

<section class="px-6 py-16">
	<div class="container mx-auto">
		<div class="grid grid-cols-1 items-start gap-16 lg:grid-cols-2">
			<div class="space-y-6">
				<div class="space-y-2">
					<p class="text-sm font-medium tracking-wider text-black mb-6">Sobre</p>
					<h1 class="text-4xl leading-tight font-bold text-gray-900 lg:text-5xl">
						Construindo,<br />
						soluções digitais desde 2010
					</h1>
				</div>
				<p class="max-w-lg text-lg leading-relaxed text-gray-500 mt-6">
					Com 15 anos de experiência em desenvolvimento web, descobri minha paixão <strong>por
					acessibilidade digital</strong> ao perceber como pequenas mudanças no código podem fazer uma enorme
					diferença na vida das pessoas.
				</p>
				<div class="flex flex-wrap gap-4">
					<a
						href="/about"
						class="cursor-pointer text-base font-bold underline underline-offset-8 hover:no-underline"
					>
						Saiba mais
						<ArrowRight
							class="inline h-4 w-4 transition-transform duration-300 group-hover:translate-x-1"
						/>
					</a>
				</div>
			</div>

			<!-- Connect With Me Section -->
			<div class="space-y-6">
				<div class="flex flex-col gap-8 sm:flex-row mt-14">
					<div class="flex flex-row items-center justify-center">
						<div class="mb-2 text-5xl font-bold text-gray-900 lg:text-6xl">15</div>
						<p class="text-sm tracking-wide ml-2 font-bold text-gray-900">
							Anos de<br />experiência
						</p>
					</div>
					<div class="flex flex-row items-center justify-center">
						<div class="mb-2 text-5xl font-bold text-gray-900 lg:text-6xl">150</div>
						<p class="text-sm tracking-wide ml-2 font-bold text-gray-900">
							projetos bem-<br />sucedidos
						</p>
					</div>
				</div>
				<p class="text-lg leading-relaxed text-gray-500 mt-16">
					Meu trabalho é tornar a web mais inclusiva e potencializar negócios a alcançarem a todos.
					Conecte-se comigo nas redes sociais para conteúdo exclusivo sobre acessibilidade digital.
				</p>
			</div>
		</div>
	</div>
</section>
