---
import me from '@assets/images/me.jpeg';
import type { Language, RouteKey } from '@i18n/index';
import { Image } from 'astro:assets';

interface Props {
  t: (key: string) => string;
  currentLang: Language;
  getLocalizedPath: (routeKey: RouteKey, lang: Language) => string;
}

const { t, currentLang, getLocalizedPath } = Astro.props;
---

<section
  class="hero"
  id="hero"
  aria-labelledby="hero-section"
  style="--region-space:var(--space-m-l);"
>
  <div data-layout="50-50" class="grid">
    <div class="hero__content" style="--flow-space:var(--space-s-m);">
      <h1 class="hero__title heading-xxl" id="hero-section" set:html={t('home.greetings')} />
      <p>{t('home.about_me')}</p>
      <p set:html={t('home.objective')} />

      <ul class="hero__list" role="list">
        <li class="hero__item">
          <a href={getLocalizedPath('about', currentLang)} class="hero__link">
            {t('home.about_link')}
          </a>
        </li>
        <li class="hero__item">
          <a href={getLocalizedPath('now', currentLang)} class="hero__link">
            {t('home.about_now')}
          </a>
        </li>
      </ul>
    </div>
    <figure class="hero__image wide | color-brand region flow | text-right" style="height:auto;">
      <Image
        src={me}
        alt="Bruno Pulis"
        class="u-photo"
        width={256}
        style="border-radius: 50%;"
        height={256}
        loading="eager"
      />
    </figure>
  </div>
</section>
