---
import { ExternalLink } from '@lucide/astro'
import personalProjects from '@/data/personal-projects.json'
const { personProjects } = personalProjects
---

<section>
	<div class="container">
		<div class="mb-12 text-center">
			<h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Projetos Pessoais</h2>
			<p class="mx-auto max-w-3xl text-gray-600 dark:text-gray-300">
				Our values guide everything we do, from how we build our products to how we interact with
				our customers and each other.
			</p>
		</div>
		<div class="grid gap-8 md:grid-cols-3">
			{
				personProjects.map((project) => (
					<div class="card border border-gray-200 p-6">
						<div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-12 w-12 items-center justify-center rounded-full p-3">
							<svg
								class="text-primary-600 dark:text-primary-400 h-6 w-6"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
								/>
							</svg>
						</div>
						<h3 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">
							{project.title}
						</h3>
						<p class="text-gray-600 dark:text-gray-300">{project.description}</p>
						<a
							href={project.link}
							target="_blank"
							rel="noopener noreferrer"
							class="text-errie-black inline-flex items-center gap-2 font-semibold underline-offset-8 transition-colors hover:underline"
						>
							Ver projeto
							<ExternalLink class="h-4 w-4" />
						</a>
					</div>
				))
			}
		</div>
	</div>
</section>
