<section class="bg-gray-50 px-6 py-20 lg:px-20">
  <div class="mx-auto max-w-7xl">
    <div class="mb-16 text-center">
      <h2 class="mb-6 text-4xl font-bold text-gray-900 lg:text-5xl">Interessado em trabalhar comigo?</h2>
      <p class="text-errie-black-900 mx-auto max-w-3xl text-xl leading-relaxed mb-6">
        Vamos conversar sobre o seu projeto e descobrir como posso ajudar a transformar suas ideias em realidade
        digital.
      </p>
      <a
        href="/orcamento"
        class="border-blood-red-800 bg-blood-red-800 hover:bg-transparent hover:border-blood-red-800 hover:text-blood-red-800 inline-flex h-10 shrink-0 items-center justify-center gap-2 rounded-md px-8 text-sm font-medium whitespace-nowrap text-white transition-all"
      >
        Iniciar um Projeto
      </a>
    </div>
  </div>
</section>


