---
import { defaultLanguage, type Language, type TranslationKey } from '@i18n/index';
import type { CollectionEntry } from 'astro:content';

import { getLocalizedPath } from '@/i18n/utils';

interface Props {
  posts: CollectionEntry<'blog'>[];
  t: (key: TranslationKey) => string;
  locale?: Language;
}

const { posts, t, locale } = Astro.props;
---

<section
  class="region flow"
  aria-labelledby="writing-title"
  style="--region-space:var(--space-m-l);"
>
  <div class="flow">
    <h2 class="title" id="writing-title">{t('home.writing.title')}</h2>

    <div class="grid" data-layout="50-50">
      {
        posts.map((post) => (
          <article class="card">
            <div class="flow">
              <h3 class="card__title">
                <a href={`/blog/${post.slug.split('/').pop()}`} class="card__link">
                  {post.data.title}
                </a>
              </h3>
              <p>{post.data.excerpt && <p>{post.data.excerpt}</p>}</p>
              <time datetime={post.data.publishDate.toISOString()} class="text-sm text-gray-500">
                {post.data.publishDate.toLocaleDateString('pt-BR', {
                  day: 'numeric',
                  month: 'short',
                  year: 'numeric',
                })}
              </time>
              s
            </div>
          </article>
        ))
      }
    </div>

    <p class="" style="margin-top: 20px;">
      <a
        href={getLocalizedPath('blog', locale || defaultLanguage)}
        class="text-sm text-blue-600 hover:text-blue-700 flex items-center gap-1"
      >
        {t('home.writing.view_all')}
      </a>
    </p>
  </div>
</section>

<style>
  .card__title {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: var(--step-1);
  }

  .card__link {
    text-decoration: none;
  }

  .card__link:hover .card__title {
    color: var(--color-primary);
  }
</style>
