:root {
  --color-white: #fff;
  --color-black: #0a0a0a;
  --color-errie-black-50: #f1fbfb;
  --color-errie-black-100: #ebf5f5;
  --color-errie-black-200: #e3ecec;
  --color-errie-black-300: #d4dddd;
  --color-errie-black-400: #b0b9b9;
  --color-errie-black-500: #919a9a;
  --color-errie-black-600: #697171;
  --color-errie-black-700: #555d5d;
  --color-errie-black-800: #373f3f;
  --color-errie-black-900: #171e1e;
  --color-blood-red-50: #ffd9b6;
  --color-blood-red-100: #ffb499;
  --color-blood-red-200: #e58e75;
  --color-blood-red-300: #c1694e;
  --color-blood-red-400: #a74c33;
  --color-blood-red-500: #8c2f18;
  --color-blood-red-600: #802613;
  --color-blood-red-700: #70180b;
  --color-blood-red-800: #610404;
  --color-blood-red-900: #510000;
  --color-light-silver-50: #f9f9f9;
  --color-light-silver-100: #f2f2f2;
  --color-light-silver-200: #e9e9e9;
  --color-light-silver-300: #d9d9d9;
  --color-light-silver-400: #b5b5b5;
  --color-light-silver-500: #959595;
  --color-light-silver-600: #6d6d6d;
  --color-light-silver-700: #5a5a5a;
  --color-light-silver-800: #3b3b3b;
  --color-light-silver-900: #1b1b1b;
}
