// ==============================================================
// Explore
// ==============================================================

@use "../abstracts/tokens";

.explore__card {
  height: 100%;
  padding: tokens.$space-6 tokens.$space-0;
}

.explore__link {
  color: tokens.$color-accent-primary;
}
