---

---

<section class="section py-16 bg-white dark:bg-gray-800" id="about">
  <div class="container-custom">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <span class="inline-block dark:bg-secondary-900 text-secondary-600 font-bold text-sm mb-4">
          Sobre
        </span>
        <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-3">
          Construindo soluções digitais <br /> desde 2010
        </h2>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat.
        </p>
      </div>
      <div>
        <div class="flex flex-row">
          <div>
            <div
              class="w-1/12 text-8xl md:text-9xl font-bold text-emerald-600"
              data-inviewport="fadeInSoft"
            >
              19
            </div>
            <div class="w-11/12 flex flex-col ml-28 mt-3">
              <p class="font-light text-xl md:text-3xl dark:text-gray-200">
                years of
              </p>
              <h2
                class="font-semibold text-3xl md:text-5xl lg:text-6xl dark:text-gray-200"
              >
                Experiance
              </h2>
            </div>
          </div>
          <div>
         
          </div>
        </div>

        <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-3">
          12 de experiência
        </h2>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat.
        </p>
      </div>
    </div>
  </div>
</section>
