---
interface Props {
	isAvailable: boolean
	message?: string
}

const { isAvailable, message } = Astro.props

const defaultMessage = isAvailable
	? 'Disponível para novos projetos'
	: 'Indisponível para novos projetos'

const bgColor = isAvailable ? 'bg-green-500' : 'bg-blood-red-800'
---

<div class="mb-6 inline-flex items-center gap-1 rounded-full bg-white/90 px-4 py-2 text-sm backdrop-blur-sm" id="availability-banner">
	<p class="text-sm font-normal text-errie-black-900">
		{message || defaultMessage}
	</p>
  <span class={`${bgColor} ml-2 h-2.5 w-2.5 rounded-full sm:h-3 sm:w-3`}></span>
</div>
