---
import { ArrowRight } from "@lucide/astro";

interface Props {
	title: string,
	description: string,
	label: string,
	url: string
	class: string
}

const { title, description, label, url, class: className } = Astro.props;
---

<aside class="section">
	<div class="container mx-auto">
		<div class="p-8 text-center sm:p-16 md:px-24 md:py-20 lg:px-28">
			<div class="mx-auto max-w-2xl">
				<h2 class="font-display text-3xl font-bold md:text-4xl">
					{title}

				</h2>
				<p class="mx-auto mt-4 max-w-lg text-base sm:text-lg">
					{description}

				</p>
			</div>
			<div class="mt-8 flex flex-col justify-center gap-4 sm:flex-row sm:items-center sm:gap-5">
				<a
					class="btn-primary inline-flex items-center justify-center text-white rounded-xl px-8 py-4 text-lg font-semibold shadow-sm transition-all duration-150 hover:bg-indigo-50 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-white"
					href={url}>
					{label}
					<ArrowRight class="ml-2 h-5 w-5" aria-hidden="true" />
				</a>
			</div>
		</div>
	</div>
</aside>
