---
import { ArrowLeft } from "@lucide/astro";
---

<div class="mb-8">
  <a href="/blog" class="inline-flex items-center text-gray-600 transition-colors hover:text-red-950">
    <ArrowLeft class="mr-2 h-5 w-5" />
    Voltar para o Blog
  </a>
</div>
