---
import Logo from "@/components/ui/Logo.astro";
import Navigation from "@/components/ui/Navigation.astro";
---

<header class="w-full bg-white backdrop-blur-xs z-50 py-6" id="start">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <Logo />
    <Navigation />
  </div>
</header>