---
interface Props {
	title: string
	highlightText?: string
	description?: string
}

const { title, highlightText, description } = Astro.props

// Split the title to insert the highlighted text if provided
let titleStart = title
let titleEnd = ''

if (highlightText) {
	const titleParts = title.split(highlightText)
	if (titleParts.length > 1) {
		titleStart = titleParts[0]
		titleEnd = titleParts[1]
	}
}
---

<section class="body-font">
	<div class="container px-5 mx-auto">
		<div class="-mx-4 flex flex-wrap items-center">
			<div class="w-full px-4 md:w-8/12 lg:w-7/12">
				<div class="mb-8 max-w-[570px] md:mb-0 lg:mb-12">
					<h1
						class="mb-5 title-font text-3xl font-medium sm:text-4xl"
					>
						{
					highlightText ? (
						<>
							{titleStart}
							<span class="text-white">{highlightText}</span>
							{titleEnd}
						</>
					) : (
						title
					)
				}
					</h1>
					<p
						class="text-body-color text-base text- leading-relaxed font-medium"
					>
						{description}
					</p>
				</div>
			</div>
		</div>
	</div>