---
import meImage from "../assets/me.png";
---
<section class="relative pt-32 md:pt-40 overflow-hidden bg-blood-red h-60vh hero-section">
  <div class="container-custom relative z-10">
    <div class="grid md:grid-cols-2 gap-12 text items-center">
      <div>
        <h1 class="mb-6 text-white dark:text-white">
          <span class="dark:text-primary-400">Eu sou</span> Bruno,<br>
          engenheiro de acessibilidade.
        </h1>
        <p class="font-light text-xl leading-[36px] text-white dark:text-secondary-300 mb-8 max-w-lg">
          Ajudo pessoas a criarem experiências digitais para todos, usando as melhores práticas e padrões do mercado.
        </p>
        <div class="flex flex-wrap gap-4">
          <a href="/contact" class="text-white underline underline-offset-8 font-bold text-base">
            Contact us
          </a>
          <a href="/about" class="text-white underline underline-offset-8 font-bold text-base">
            Author
          </a>
        </div>
      </div>
      
      <div class="relative fade-in justify-items-end" transition:animate="fade">
        <!-- Animated Elephant SVG Hero Image -->
        <div class="w-full max-w-lg mx-auto justify-items-end">
          <img src={meImage.src} class="h-60vh w-auto" fetchpriority="high" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* Add keyframes for additional animations if needed */
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
  
  /* Apply floating animation to the entire SVG container */
  .fade-in svg {
    animation: float 6s ease-in-out infinite;
  }
</style>
