---
import { Image } from 'astro:assets';

import pulisLogo from '@assets/images/horizontal/blood.svg';
---

<a href="/" aria-label="Ir para página inicial" class="header__logo">
  <Image src={pulisLogo} alt="Bruno Pulis" loading="eager" />
</a>
