---
import { MAIN_NAV_LINKS, CONTACT_LINK } from '@data/nav.ts';
---

<nav class="header__nav">
  <ul class="header__list | cluster">
    {
      MAIN_NAV_LINKS.map((link) => (
        <li class="header__item">
          <a href={link.href} class="header__link">
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<a href={CONTACT_LINK.href} class="button button--primary">
  {CONTACT_LINK.title}
</a>
