---
import site from "@/data/site.config.json";
---

<aside class="section">
  <div class="container">
    <div class="bg-gray-100 border border-gray-200 card p-6">
      <h3 class="mb-4 text-xl font-bold text-gray-900">
        Se inscreva
      </h3>
      <p class="mb-8 text-lg leading-relaxed text-errie-black-900">
        Junte-se a mais de 300 pessoas na minha lista de e-mails que tenha <strong>acesso exclusivo</strong> a atualizações e novos conteúdos
        antes que eles sejam divulgados publicamente.</p>

			<p class="mb-8 text-lg leading-relaxed text-errie-black-900">
				Você receberá tutoriais, guias, ponto de vista, conteúdo exclusivo dos
        bastidores, descontos em produtos e insights práticos sobre acessibilidade para aplicar hoje mesmo no seu trabalho.
				Conecte-se diretamente comigo, dê feedback e influencie o conteúdo futuro.
      </p>

			<p class="mb-8 text-lg leading-relaxed text-errie-black-900">
				Conecte-se diretamente comigo, dê feedback e influencie o conteúdo futuro.
      </p>


        <a
          href={site.socialMidia.substack}
          class="flex w-full justify-center rounded-lg bg-red-900 px-6 py-3 font-semibold text-white transition-colors duration-200 hover:bg-red-950"
        >
         Quero assinar
        </a>
      </div>
    </div>
  </div>
</aside>
