---
import { ChevronRight, ChevronLeft } from "@lucide/astro";

interface Props {
  currentPage: number;
  lastPage: number;
  prevUrl: string | undefined;
  nextUrl: string | undefined;
}

const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;

const isPrevDisabled = !prevUrl;
const isNextDisabled = !nextUrl;
---

<nav aria-label="Paginação" class="pagination">
  <ul class="pagination__list" role="list">
    <li class="pagination__item">
      <a
        href={prevUrl}
        class="pagination__link"
        aria-disabled={isPrevDisabled}
        tabindex={isPrevDisabled ? -1 : undefined}
      >
        <ChevronLeft width="24" height="24"  aria-hidden="true" />
        Anterior
      </a>
    </li>
    <li class="pagination__item">
      <a
        href={nextUrl}
        class="pagination__link"
        aria-disabled={isNextDisabled}
        tabindex={isNextDisabled ? -1 : undefined}
      >
        Próximo
        <ChevronRight width="24" height="24"  aria-hidden="true" />
      </a>
    </li>
  </ul>
</nav>

<style>
  .pagination {
    padding: 1rem 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .pagination__link {
    display: flex;
    align-items: center;
  }

  .pagination__item {
    display: flex;
  }
</style>
