---
import personalProjects from '../data/personal-projects.json';

const { personProjects } = personalProjects;
---

<section class="section py-16 dark:bg-gray-800/50">
  <div class="container-custom mx-auto px-4">
    <div class="flex justify-between items-center mb-12">
      <h2 class="text-3xl font-bold">projetos pessoais</h2>
    </div>

    <div class="grid md:grid-cols-3 gap-8">
      {personProjects.map((project) => (
        <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow">
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
            <p class="text-errie-black mb-4">
              {project.description}
            </p>
            <a
              href={project.link}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center gap-2 text-errie-black hover:underline underline-offset-8 font-semibold transition-colors"
            >
              Ver projeto
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link h-4 w-4"
              >
                <path d="M15 3h6v6"></path>
                <path d="M10 14 21 3"></path>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
              </svg>
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>