---
// Props: tags: string[]
---

<ul class="tags-list">
  {tags.map(tag => (
    <li class="tag-item">
      <a href={`/tags/${tag}`} class="tag-link">{tag}</a>
    </li>
  ))}
</ul>

<style>
  .tags-list {
    list-style-type: none;
    padding: 0;
  }
  .tag-item {
    display: inline-block;
    margin: 0 10px;
  }
  .tag-link {
    text-decoration: none;
    color: #0070f3;
  }
  .tag-link:hover {
    text-decoration: underline;
  }
</style>