.external-link {
  word-wrap: break-word;
  color: var(--color-blood-red-800, #610404);
  word-break: break-all;
}

a[href ^="https://"].external-link
{
  background: url("/images/external.svg") center right no-repeat;
  padding-right: 1em;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
