.external-link {
  word-wrap: break-word;
  color: var(--color-blood-red-800, #610404);
  word-break: break-all;
}

a[href^="https://"].external-link {
  background: url("/images/external.svg") center right no-repeat;
  padding-right: 1em;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.photo__item {
  background: white;
  padding: 15px 15px 40px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin: 0;
  display: inline-block;
  text-align: center;
}

.photo__item:hover {
  transform: scale(1.05) rotate(0deg);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.photo__item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  filter: sepia(0.2) contrast(1.1);
  border: 1px solid #eee;
}

.photo__item figcaption {
  margin-top: 15px;
  font-family: "Comic Sans MS", "Cursive", sans-serif;
  color: #333;
  font-size: 0.9rem;
}

.badge {
  border: 1px solid var(--color-blue);
  background: var(--color-blue);
  color: var(--color-dark);
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 1rem;
  display: inline-block;
  padding-inline: 10px;
  font-size: 0.75rem;
}