<section class="region" aria-labelledby="plans">
  <div class="wrapper flow">
    <h2 class="title" id="plans">{{ plansTitle }}</h2>
    <div class="grid" data-layout="thirds">
      {% for plan in plans %}
        <article class="box shadow-sm flow">
          <header role="banner">
            <h3 class="title">{{ plan.name }}</h3>
            <p>{{ plan.subtitle }}</p>
          </header>
          <p>{{ plan.description }}</p>

          <ul>
            {% for item in plan.includes %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </article>
      {% endfor %}
    </div>
  </div>
</section>