<section class="mb-12 py-8 text-center" aria-labelledby="hero-title">
  <h1 class="mb-4 p-name font-bold text-4xl" id="hero-title">{{ site.name }}</h1>
  <p class="mb-6 p-summary text-xl">{{ site.description }}</p>
  <a class="hidden u-url" href="{{ site.url }}/"></a>

  <div class="flex flex-wrap justify-center gap-4">
    <a
      href="/about/"
      class="bg-blood-red-950 hover:bg-blood-red-900 px-6 py-2 rounded-lg font-bold text-white transition-colors"
    >
      <span aria-hidden="true">👋</span> Saiba mais sobre mim
    </a>
    <a
      href="/feeds"
      class="bg-blood-red-950 hover:bg-blood-red-900 px-6 py-2 rounded-lg font-bold text-white transition-colors"
    >
      <span aria-hidden="true">📡</span> Se inscreva via RSS.
    </a>
  </div>
</section>
