<section class="mb-12 py-8" aria-labelledby="hero-title">
  <h1 class="mb-4 p-name font-bold text-blood-red-950 text-4xl" id="hero-title">
    {{ site.name }}
  </h1>
  <p class="mb-6 p-summary text-xl">
    {{ site.description }}
  </p>
  <a class="hidden u-url" href="{{ site.url }}/"></a>

  <div class="flex flex-wrap gap-4">
    <a
      href="/about/"
      class="font-bold text-blood-red-950 hover:text-blood-red-900 underline transition-colors"
    >
      Sobre mim
    </a>
    <a
      href="/feeds"
      class="font-bold text-blood-red-950 hover:text-blood-red-900 underline transition-colors"
    >
      Se inscreva via RSS
    </a>
  </div>
</section>
