@layer fonts, global, theme, cube, custom;

@layer global {
    :root {
        --su: .5rem;
        --gutter: clamp(1rem, calc(.7rem + 1.52vw), 1.88rem);
        --space-tiny: clamp(.25rem, calc(.23rem + .11vw), .31rem);
        --space-xxs: clamp(.5rem, calc(.46rem + .22vw), .63rem);
        --space-xs: clamp(.75rem, calc(.68rem + .33vw), .94rem);
        --space-s: clamp(1rem, calc(.91rem + .43vw), 1.25rem);
        --space-m: clamp(1.5rem, calc(1.37rem + .65vw), 1.88rem);
        --space-l: clamp(2rem, calc(1.83rem + .87vw), 2.5rem);
        --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);
        --space-xxl: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);
        --space-huge: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);
        --space-tiny-xxs: clamp(.25rem, calc(.12rem + .65vw), .63rem);
        --space-xxs-xs: clamp(.5rem, calc(.35rem + .76vw), .94rem);
        --space-xs-s: clamp(.75rem, calc(.58rem + .87vw), 1.25rem);
        --space-s-m: clamp(1rem, calc(.7rem + 1.52vw), 1.88rem);
        --space-m-l: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
        --space-l-xl: clamp(2rem, calc(1.39rem + 3.04vw), 3.75rem);
        --space-xl-xxl: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);
        --space-xxl-huge: clamp(4rem, calc(2.78rem + 6.09vw), 7.5rem);
        --space-s-l: clamp(1rem, calc(.48rem + 2.61vw), 2.5rem)
    }
}

@layer global {
    :root {
        --color-current: currentColor;
        --color-white: #fff;
        --color-black: #0a0a0a;
        --color-neutral-50: #fafafa;
        --color-neutral-100: #f5f5f5;
        --color-neutral-200: #e5e5e5;
        --color-neutral-300: #d4d4d4;
        --color-neutral-400: #a3a3a3;
        --color-neutral-500: #737373;
        --color-neutral-600: #525252;
        --color-neutral-700: #404040;
        --color-neutral-800: #262626;
        --color-neutral-900: #171717;
        --color-neutral-950: #0a0a0a;
        --color: var(--color-black);
        --background: var(--color-white);
        --border-radius-m: .25rem;
        --border-radius-s: .125rem;
        --border-radius-l: .5rem;
        --border-m: .125rem;
        --border-s: .0625rem;
        --border-l: .25rem;
        --transition: .35s cubic-bezier(.77, 0, .175, 1)
    }

    @property --offset {
        syntax: "<length>";
        inherits: false;
        initial-value: 0;
    }
}

@layer global {
    :root {
        --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        --font-family-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
        --font-weight-nomal: 400;
        --font-weight-bold: 700;
        --font-size-xxs: clamp(.64rem, .6179rem + .1104vw, .7035rem);
        --font-size-xs: clamp(.8rem, .7521rem + .2395vw, .9377rem);
        --font-size-s: clamp(1rem, .913rem + .4348vw, 1.25rem);
        --font-size-m: clamp(1.25rem, 1.1052rem + .7239vw, 1.6663rem);
        --font-size-l: clamp(1.5625rem, 1.3334rem + 1.1454vw, 2.2211rem);
        --font-size-xl: clamp(1.9531rem, 1.6026rem + 1.7524vw, 2.9607rem);
        --font-size-xxl: clamp(2.4414rem, 1.9178rem + 2.6178vw, 3.9467rem);
        --line-height-m: 1.5;
        --line-height-s: 1.25;
        --line-height-l: 1.75;
        --width-wide: 100%;
        --width-s: 35ch;
        --width-l: 65ch
    }
}

@layer global {

    *,
    *:before,
    *:after {
        box-sizing: border-box
    }

    html {
        height: 100%;
        height: -webkit-fill-available;
        font-size: 100%;
        scroll-behavior: smooth;
        text-size-adjust: none;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none
    }

    html:focus-within {
        scroll-behavior: smooth
    }

    body {
        cursor: var(--cursor, auto);
        font-family: var(--font-family, unset);
        font-size: var(--font-size, 1rem);
        letter-spacing: var(--letter-spacing, 0);
        line-height: var(--line-height, 1.5);
        margin: 0;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: antialiased;
        --body-background: var(--color-white);
        --body-color: var(--color-black);
        background: var(--theme-body-background, var(--body-background));
        color: var(--theme-body-color, var(--body-color))
    }

    @media (prefers-color-scheme: dark) {
        body {
            --body-background: var(--color-neutral-900);
            --body-color: var(--color-neutral-300)
        }
    }

    @media (forced-colors: active) {
        body {
            background: Canvas;
            color: CanvasText
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0
    }

    :is(h1, h2, h3) {
        font-family: var(--font-family-heading, inherit);
        font-weight: var(--font-weight-heading, bold);
        letter-spacing: var(--letter-spacing-heading, 0);
        line-height: var(--line-height-heading, 1.25);
        text-wrap: balance
    }

    h1 {
        font-size: var(--font-size-xxl, unset)
    }

    h2 {
        font-size: var(--font-size-xl, unset)
    }

    h3 {
        font-size: var(--font-size-l, unset)
    }

    h4 {
        font-size: var(--font-size-m, unset)
    }

    h5 {
        font-size: var(--font-size-s, unset)
    }

    h6 {
        font-size: var(--font-size-xs, unset)
    }

    main:focus {
        outline: none
    }

    p {
        margin: 0;
        font-size: inherit;
        line-height: inherit
    }

    p:not([class]) {
        max-width: var(--width-l)
    }

    ul[role=list],
    ol[role=list] {
        list-style: none;
        margin: 0;
        padding: 0
    }

    :is(ul, ol):not([class]) {
        padding-inline-start: 1.7ch
    }

    li: not([class]) {
        max-width: var(--width-l)
    }

    pre {
        --pre-background: var(--color-neutral-100);
        background: var(--theme-pre-background, var(--pre-background))
    }

    @media (prefers-color-scheme: dark) {
        pre {
            --pre-background: var(--color-neutral-700)
        }
    }

    blockquote {
        margin: 0
    }

    blockquote:not([class]) {
        border-left: solid var(--border-l) var(--color-current);
        font-family: var(--font-heading);
        font-size: var(--font-size-m);
        line-height: var(--line-height);
        padding-inline-start: var(--space-s);
        max-width: var(--width-l)
    }

    blockquote: not([class]) p:last-of-type,
    blockquote:not([class]) cite,
    blockquote:not([class]) footer {
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-weight: 400;
        margin-block-start: var(--space-xxs)
    }

    figure {
        margin: 0
    }

    figcaption {
        font-size: var(--font-size-xs);
        margin-block-start: var(--space-xxs, .5rem);
        text-align: center
    }

    hr {
        position: relative;
        margin: var(--space-l) 0;
        border: none;
        border-top: solid var(--border-s) currentColor
    }

    a {
        color: var(--color-link, unset);
        cursor: var(--cursor-pointer, pointer);
        font-size: inherit;
        line-height: inherit
    }

    a:hover,
    a:focus,
    a:active {
        cursor: var(--cursor-pointer, pointer)
    }

    a:not([class]) {
        --offset: .1em;
        --offset-hover: .25em;
        text-decoration: underline;
        text-underline-offset: var(--offset, .1em);
        transition: all var(--transition)
    }

    a:not([class]):hover,
    a:not([class]):focus {
        --offset: var(--offset-hover, .25em);
        color: inherit;
        text-decoration: underline
    }

    a[data-variant=naked] {
        text-decoration: none
    }

    mark,
    ::selection {
        color: var(--color, unset);
        background-color: var(--color-highlight)
    }

    small,
    sub,
    sup {
        font-size: var(--font-size-s)
    }

    code {
        vertical-align: bottom;
        --code-background: var(--color-neutral-100);
        --code-color: var(--color-neutral-900);
        background: var(--theme-code-background, var(--code-background));
        color: var(--theme-code-color, var(--code-color))
    }

    @media (prefers-color-scheme: dark) {
        code {
            --code-background: var(--color-neutral-700);
            --code-color: var(--color-neutral-300)
        }
    }

    kbd {
        border: solid var(--border-s);
        border-radius: var(--border-radius-s);
        font-family: var(--font-family-accent);
        font-size: 1rem;
        padding: .115rem .25rem;
        --kbd-background: var(--color-neutral-700);
        --kbd-border-color: var(--color-neutral-500);
        background-color: var(--theme-kbd-background, var(--kbd-background));
        border-color: var(--theme-kbd-border-color, var(--kbd-border-color))
    }

    @media (prefers-color-scheme: dark) {
        kbd {
            --kbd-background: var(--color-neutral-900);
            --kbd-border-color: var(--color-neutral-600)
        }
    }

    img,
    picture {
        display: block;
        max-width: 100%
    }

    @media (prefers-color-scheme: dark) {

        img,
        picture {
            filter: brightness(.8) contrast(1.2)
        }
    }

    img {
        border: none
    }

    svg {
        flex-shrink: 0
    }

    svg:not([class]) {
        height: 2ex;
        width: auto
    }

    svg: not([class]) path {
        fill: var(--color-current)
    }

    svg[role=img][width][height] {
        width: revert;
        height: revert
    }

    iframe {
        border: none
    }

    tr {
        --tr-background-odd: var(--color-white);
        --tr-background-even: var(--color-neutral-50);
        background-color: var(--theme-tr-background-odd, var(--tr-background-odd))
    }

    tr: nth-child(2n) {
        background-color: var(--theme-tr-background-even, var(--tr-background-even))
    }

    @media (prefers-color-scheme: dark) {
        tr {
            --tr-background-odd: var(--color-neutral-800);
            --tr-background-even: var(--color-neutral-700)
        }
    }

    th {
        background-color: var(--color-neutral-200)
    }

    fieldset {
        border: solid var(--border-m);
        border-radius: var(--border-radius);
        --fieldset-border-color: var(--color-neutral-300);
        border-color: var(--theme-fieldset-border-color, var(--fieldset-border-color))
    }

    @media (prefers-color-scheme: dark) {
        fieldset {
            --fieldset-border-color: var(--color-neutral-600)
        }
    }

    legend {
        --legend-background-color: var(--color-white);
        background-color: var(--theme-legend-background-color, var(--legend-background-color))
    }

    @media (prefers-color-scheme: dark) {
        legend {
            --legend-background-color: var(--color-neutral-900)
        }
    }

    input,
    textarea,
    select,
    button {
        font: inherit
    }

    button[role=combobox],
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    textarea,
    select {
        border: solid var(--border-m);
        border-radius: var(--border-radius);
        --input-background: var(--color-white);
        --input-border-color: var(--color-black);
        --input-color: var(--color-black);
        background: var(--theme-input-background, var(--input-background));
        border-color: var(--theme-input-border-color, var(--input-border-color));
        color: var(--theme-input-color, var(--input-color))
    }

    @media (prefers-color-scheme: dark) {

        button[role=combobox],
        input[type=email],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=tel],
        input[type=text],
        input[type=url],
        textarea,
        select {
            --input-background: var(--color-neutral-800);
            --input-border-color: var(--color-neutral-600);
            --input-color: var(--color-neutral-300)
        }
    }

    input[type=checkbox],
    input[type=radio] {
        border: solid var(--border-m);
        --checkbox-background: var(--color-white);
        --checkbox-border-color: var(--color-neutral-300);
        --checkbox-color: var(--color-neutral-900);
        background: var(--theme-checkbox-background, var(--checkbox-background));
        border-color: var(--theme-checkbox-border-color, var(--checkbox-border-color));
        color: var(--theme-checkbox-color, var(--checkbox-color))
    }

    input[type=checkbox] {
        border-radius: var(--border-radius)
    }

    details {
        background: var(--color-neutral-200);
        border-radius: var(--border-radius)
    }

    dialog,
    [role=dialog] {
        box-shadow: 0 0 .5rem var(--color-black);
        padding: var(--space-l);
        --dialog-background: var(--color-neutral-100);
        --dialog-color: var(--color-black);
        --dialog-shadow: 0 0 .5rem var(--color-black);
        background: var(--theme-dialog-background, var(--dialog-background));
        color: var(--theme-dialog-color, var(--dialog-color));
        box-shadow: var(--theme-dialog-shadow, var(--dialog-shadow))
    }

    dialog: :backdrop {
        background-color: #171717d9
    }

    :focus:not(:focus-visible) {
        outline: 0
    }

    :focus-visible {
        outline: var(--outline, dotted 2px currentColor);
        outline-offset: var(--outline-offset, 2px)
    }

    :target {
        scroll-margin-top: 2ex
    }

    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: .01s !important;
            animation-iteration-count: 1 !important;
            transition-duration: .01s !important;
            scroll-behavior: auto !important
        }
    }
}

@layer cube {

    button,
    input[type=submit],
    input[type=reset],
    input[type=button],
    .button {
        cursor: var(--cursor-pointer, pointer);
        display: inline-block;
        padding: var(--space-xs) var(--space-s);
        text-align: center;
        text-decoration: none;
        --button-background-color: var(--theme-button-background-color, var(--color-accent));
        --button-border-color: var(--theme-button-border-color, var(--color-black));
        --button-box-shadow: 0 0 0 0 var(--button-border-color);
        --button-color: var(--theme-button-color, var(--color-black));
        --button-transform: translateY(0);
        background-color: var(--button-background-color);
        background-position: center;
        border: solid var(--border-m) var(--button-border-color);
        border-radius: var(--border-radius);
        box-shadow: var(--button-box-shadow);
        color: var(--button-color);
        font-family: var(--font-family);
        font-size: 85%;
        font-weight: var(--font-weight-bold);
        letter-spacing: .05em;
        line-height: var(--line-height);
        text-transform: uppercase;
        transform: var(--button-transform);
        transition: all var(--transition)
    }

    button:hover:not([role=combobox]),
    button:focus:not([role=combobox]),
    input[type=submit]:hover,
    input[type=submit]:focus,
    input[type=reset]:hover,
    input[type=reset]:focus,
    input[type=button]:hover,
    input[type=button]:focus,
    .button:hover,
    .button:focus {
        --button-transform: translateY(-.25em);
        --button-box-shadow: 0 .25em 0 0 var(--button-border-color)
    }

    button:active,
    input[type=submit]:active,
    input[type=reset]:active,
    input[type=button]:active,
    .button:active {
        --button-transform: translateY(0);
        --button-box-shadow: 0 0 0 0 var(--button-border-color)
    }

    button:disabled,
    input[type=submit]:disabled,
    input[type=reset]:disabled,
    input[type=button]:disabled,
    .button[aria-disabled=true] {
        cursor: var(--cursor-not-allowed, not-allowed);
        --button-background-color: var(--color-neutral-200);
        --button-border-color: var(--color-neutral-800);
        --button-color: var(--color-neutral-800);
        transform: none;
        filter: none;
        box-shadow: none
    }

    button[data-variant=outline],
    input[type=submit][data-variant=outline],
    input[type=reset][data-variant=outline],
    input[type=button][data-variant=outline],
    .button[data-variant=outline] {
        --button-background-color: var(--background);
        --button-border-color: var(--color);
        --button-color: var(--color)
    }

    button[data-variant=naked],
    input[type=submit][data-variant=naked],
    input[type=reset][data-variant=naked],
    input[type=button][data-variant=naked],
    .button[data-variant=naked] {
        --button-background-color: transparent;
        --button-border-color: transparent;
        --button-color: inherit
    }

    button[data-variant=naked]: hover,
    input[type=submit][data-variant=naked]:hover,
    input[type=reset][data-variant=naked]:hover,
    input[type=button][data-variant=naked]:hover,
    .button[data-variant=naked]:hover {
        --button-box-shadow: none;
        --button-transform: none;
        --button-color: var(--color-brand)
    }
}

@layer cube {
    pre {
        overflow: auto;
        overflow-x: scroll;
        overflow-wrap: normal;
        padding: var(--space-xxs, .5rem);
        margin: 0
    }

    code {
        font-size: 93%
    }

    p code,
    li code {
        padding: var(--space-tiny, .25rem) var(--space-xxs, .5rem)
    }
}

@layer cube {
    summary {
        cursor: pointer;
        font-weight: var(--font-weight-bold, bold);
        padding: var(--space-xxs, .5rem) var(--space-s, 1rem)
    }

    details[open] {
        padding: var(--space-xxs, .5rem) var(--space-s, 1rem) var(--space-xs, .75rem) var(--space-s, 1rem)
    }

    details[open] summary {
        margin-bottom: var(--space-xxs, .5rem);
        padding: 0
    }

    details[open]>*: last-child {
        margin-bottom: 0
    }

    details[data-variant=fancy] {
        position: relative
    }

    details[data-variant=fancy] summary: :-webkit-details-marker,
    details[data-variant=fancy] summary::marker {
        content: "";
        display: none
    }

    details[data-variant=fancy] summary: after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
        height: 1.5rem;
        pointer-events: none;
        position: absolute;
        right: 1rem;
        top: .7rem;
        transform: rotate(180deg)
    }

    details[open][data-variant=fancy] summary: after {
        transform: rotate(0);
        top: var(--space-xs, .75rem)
    }
}

@layer cube {
    legend {
        font-weight: var(--font-weight-bold, bold);
        padding: var(--space-tiny, .25rem)
    }

    label {
        display: block;
        margin-block: var(--space-tiny, .25rem)
    }

    form button {
        display: flex;
        margin-block-start: var(--space-xs, .75rem)
    }

    button[role=combobox],
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    textarea,
    select {
        font-size: inherit;
        letter-spacing: -.5px;
        line-height: var(--line-height, 1.5);
        padding: var(--space-tiny, .25rem) var(--space-xxs, .5rem)
    }

    button[role=combobox],
    input[type=submit],
    input[type=checkbox],
    input[type=radio],
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: relative
    }

    select: not([multiple]) {
        background-image: linear-gradient(45deg, transparent 49%, var(--color-current) 51%), linear-gradient(135deg, var(--color-current) 51%, transparent 49%);
        background-position: calc(100% - 16px), calc(100% - 11px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
        padding-inline-end: 2rem
    }

    input[type=checkbox],
    input[type=radio] {
        padding: var(--space-xxs);
        vertical-align: middle;
        position: relative;
        width: min-content;
        margin-inline-start: 0;
        margin-inline-end: .5rem;
        margin-block-end: .3rem
    }

    input[type=radio] {
        border-radius: 100%
    }

    input[type=checkbox]: checked:after {
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }

    input[type=radio]: checked:after {
        background-color: currentColor;
        border-radius: 100%;
        content: " ";
        font-size: 2em;
        height: .5em;
        left: .2em;
        position: absolute;
        top: .2em;
        width: .5em
    }
}

@layer cube {
    nav[data-variant=main] a[data-state=active] {
        text-decoration: underline
    }

    nav[data-variant=main] li a {
        display: flex
    }

    nav[data-variant=main] li a span {
        display: flex;
        align-items: center;
        margin-right: .5rem
    }

    nav[data-variant=sidebar] a[data-state=active] {
        text-decoration: line-through
    }

    nav[data-variant=sidebar] li {
        max-width: unset
    }

    nav[data-variant=sidebar] li[data-children=true] {
        position: relative
    }

    nav[data-variant=sidebar] li[data-children=true]: before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE1LjM3NUw2IDkuMzc0OTlMNy4wNzUgOC4yOTk5OUwxMiAxMy4yNUwxNi45MjUgOC4zMjQ5OUwxOCA5LjM5OTk5TDEyIDE1LjM3NVoiIGZpbGw9IiMxRDFEMUQiLz4KPC9zdmc+Cg==);
        height: 1.2rem;
        pointer-events: none;
        position: absolute;
        right: 1rem;
        top: .6rem;
        transform: rotate(180deg)
    }

    nav[data-variant=sidebar] li[data-children=true][data-state=active]: before {
        top: .2rem;
        transform: rotate(0)
    }

    nav[data-variant=sidebar] li[data-state=active]+ul,
    nav[data-variant=sidebar] ul[data-state=visible] {
        display: block;
        padding-inline: 1rem;
        width: 100%;
        height: auto;
        clip: auto
    }

    nav[data-variant=sidebar] ul>li ul {
        display: none
    }
}

@layer cube {
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 1.5rem 0;
        overflow-x: scroll;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit
    }

    td,
    th {
        border: solid var(--border-s) currentColor;
        text-align: left;
        padding: .5rem
    }

    th {
        font-weight: 700
    }

    th[data-sorting] {
        cursor: pointer;
        position: relative;
        padding-right: 2rem
    }

    th[data-sorting]: after {
        content: "";
        position: absolute;
        top: 50%;
        right: .5rem;
        transform: translateY(-50%);
        width: 0;
        height: 0
    }

    th[data-sorting][data-sorting=asc]: after {
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid currentColor
    }

    th[data-sorting][data-sorting=desc]: after {
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid currentColor
    }

    table caption {
        padding: .5rem;
        caption-side: bottom
    }
}

@layer cube {
    [role=tooltip] {
        display: none
    }

    button: hover+[role=tooltip],
    button:focus+[role=tooltip] {
        display: block
    }

    [data-has-tooltip=true] {
        position: relative
    }
}

@layer cube {
    .cluster {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter, var(--space-s-l));
        justify-content: var(--cluster-horizontal-alignment, flex-start);
        align-items: var(--cluster-vertical-alignment, center)
    }
}

@layer cube {
    .dialog {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        overflow-y: auto;
        padding: var(--space-s);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100
    }
}

@layer cube {
    .frame {
        --n: 16;
        --d: 9;
        aspect-ratio: var(--n) / var(--d);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .frame>img,
    .frame>video {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover
    }
}

@layer cube {
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 16rem), 1fr));
        gap: var(--gutter, var(--space-s-l))
    }

    .grid[data-rows=masonry] {
        grid-template-rows: masonry;
        align-items: start
    }

    .grid[data-layout="50%"] {
        --grid-placement: auto-fit;
        --grid-min-item-size: clamp(16rem, 50vw, 26rem)
    }

    .grid[data-layout="33%"] {
        --grid-placement: auto-fit;
        --grid-min-item-size: clamp(16rem, 33vw, 18rem)
    }
}

@layer cube {
    .reel {
        --reel-space: 2rem;
        display: flex;
        height: auto;
        max-width: 100%;
        margin-inline: auto;
        padding: .5rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .reel>* {
        flex-basis: var(--reel-item-width, calc(33.333% - var(--reel-space)));
        flex-shrink: 0
    }

    .reel>*+* {
        margin-inline-start: var(--reel-space)
    }

    .reel[data-scroll=snap] {
        scroll-snap-type: x mandatory
    }

    .reel[data-scroll=snap]>* {
        scroll-snap-align: start
    }

    .reel[data-variant=img] {
        block-size: var(--reel-height, 50vh)
    }

    .reel[data-variant=img]>img {
        block-size: 100%;
        width: auto
    }
}

@layer cube {
    .repel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: var(--repel--vertical-alignment, center);
        gap: var(--gutter, var(--space-base-l))
    }

    .repel[data-nowrap] {
        flex-wrap: nowrap
    }
}

@layer {
    .sidebar {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter, var(--space-s-l))
    }

    .sidebar:not([data-direction])>: first-child {
        flex-basis: var(--sidebar-target-width, 20rem);
        flex-grow: 1
    }

    .sidebar:not([data-direction])>: last-child {
        flex-basis: 0;
        flex-grow: 999;
        min-width: var(--sidebar-content-min-width, 50%)
    }

    .sidebar[data-direction=rtl]>: last-child {
        flex-basis: var(--sidebar-target-width, 20rem);
        flex-grow: 1
    }

    .sidebar[data-direction=rtl]>: first-child {
        flex-basis: 0;
        flex-grow: 999;
        min-width: var(--sidebar-content-min-width, 50%)
    }

    @media screen and (min-width: 960px) {
        .sidebar[data-variant=sticky]>:first-child {
            position: sticky;
            top: 2rem;
            overflow: auto;
            height: 100%
        }
    }
}

@layer cube {
    .switcher {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter, 1rem);
        align-items: var(--switcher-vertical-alignment, flex-start)
    }

    .switcher>* {
        flex-grow: 1;
        flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999)
    }

    .switcher>:nth-last-child(n+5),
    .switcher>: nth-last-child(n+5)~* {
        flex-basis: 100%
    }
}

@layer cube {
    .breadcrumb {
        --separator: "/"
    }

    .breadcrumb ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap
    }

    .breadcrumb li {
        display: inline-block
    }

    .breadcrumb li+li: before {
        display: inline-block;
        margin: 0 .25em;
        content: var(--separator)
    }

    .breadcrumb a {
        display: inline-flex;
        align-items: center;
        --breadcrumb-color: var(--color-neutral-700);
        --breadcrumb-color-current: var(--color-neutral-900);
        color: var(--theme-breadcrumb-color, var(--breadcrumb-color))
    }

    .breadcrumb a svg {
        margin-right: .25rem
    }

    .breadcrumb [aria-current=page] {
        font-weight: 400;
        text-decoration: none;
        color: var(--theme-breadcrumb-color-current, var(--breadcrumb-color-current))
    }
}

@layer cube {
    .callout {
        padding: var(--space-xs-s);
        border: dotted .125rem;
        max-width: var(--width-l);
        --callout-color: currentColor;
        --callout-border-color: currentColor;
        border-color: var(--theme-callout-border-color, var(--callout-border-color));
        color: var(--theme-callout-color, var(--callout-color))
    }

    .callout>* {
        line-height: var(--line-height)
    }

    .callout[data-variant=brand] {
        --callout-color: var(--color-brand);
        --callout-border-color: var(--color-brand)
    }

    .callout[data-variant=brand]>* {
        color: var(--callout-color)
    }
}

@layer cube {
    .card {
        --img-ratio: 3/2;
        display: flex;
        flex-direction: column;
        position: relative;
        border: solid .125rem;
        text-decoration: none
    }

    .card :is(h2: not([class]), h3:not([class]), h4:not([class])) {
        font-size: var(--font-size-l)
    }

    .card>:not(h2, h3, h4) {
        font-size: var(--font-size-s)
    }

    .card :is(h2, h3, h4)>a: after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0
    }

    .card p,
    .card button,
    .card .button {
        position: relative;
        z-index: 1
    }

    .card a: focus {
        text-decoration: underline
    }

    .card:focus-within {
        box-shadow: 0 0 0 .1rem
    }

    .card:focus-within a: focus {
        text-decoration: none
    }

    .card>img {
        aspect-ratio: var(--img-ratio);
        object-fit: cover;
        width: 100%
    }

    .card>div {
        --flow-space: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
        max-width: 60ch
    }

    .card>div>: last-child {
        margin-top: auto
    }

    .card>div>: nth-last-child(2) {
        margin-bottom: var(--space-xs-s)
    }

    .card[data-state=reversed] {
        display: flex;
        flex-direction: column-reverse
    }
}

@layer cube {
    ul.footnote {
        counter-reset: item;
        padding: 0;
        list-style: none
    }

    ul.footnote>li {
        position: relative;
        display: block;
        padding: 0 0 0 1em
    }

    ul.footnote>li: before {
        content: counter(item) ")";
        counter-increment: item;
        position: absolute;
        left: .25em;
        top: .25em;
        vertical-align: super;
        font-size: var(--font-size-xs)
    }
}

@layer cube {
    .hero {
        --region-space: 8rem;
        padding-inline: var(--space-s-m);
        text-align: center
    }

    .hero>* {
        --flow-space: 1rem;
        margin-inline: auto
    }
}

@layer cube {
    .pictogram {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gutter)
    }
}

@layer cube {
    .prose {
        --flow-space: var(--space-s-m);
        line-height: var(--line-height-l)
    }

    .prose :is(p, ul: not([class]), ol:not([class])) {
        max-width: var(--width-l)
    }

    .prose :is(blockquote) {
        max-width: 52ch
    }

    .prose :is(pre, pre+*, figure, figure+*, h2, h3, h4): not(.flow *) {
        --flow-space: var(--space-l-xl)
    }
}

@layer cube {
    .skip-link {
        clip: rect(1px, 1px, 1px, 1px);
        display: block;
        height: 1px;
        left: 1rem;
        overflow: hidden;
        position: absolute;
        top: 1rem;
        width: 1px;
        z-index: 999
    }

    .skip-link:focus {
        background-color: var(--background);
        clip: auto;
        color: var(--color);
        height: auto;
        line-height: 1;
        overflow: visible;
        padding: var(--space-xs);
        width: auto
    }

    .skip-link:not(:focus),
    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px
    }

    .visually-hidden {
        height: 0
    }
}

@layer cube {
    .blink {
        animation: blink 1.5s infinite
    }

    .pulse {
        animation: pulse 1.5s infinite
    }

    @keyframes blink {
        0% {
            opacity: 1
        }

        50% {
            opacity: .5
        }

        to {
            opacity: 1
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(1.1)
        }

        to {
            transform: scale(1)
        }
    }
}

@layer cube {

    .border-none,
    .border-s,
    .border,
    .border-l {
        border-style: solid;
        border-width: 0
    }

    .border-s {
        border-width: var(--border-s)
    }

    .border {
        border-width: var(--border-m)
    }

    .border-l {
        border-width: var(--border-l)
    }

    .radius-none {
        border-radius: 0
    }

    .radius-s {
        border-radius: .125rem
    }

    .radius {
        border-radius: .25rem
    }

    .radius {
        border-radius: .5rem
    }
}

@layer cube {
    .background-white {
        background-color: var(--color-white)
    }

    .background-black {
        background-color: var(--color-black)
    }

    .background-brand {
        background-color: var(--color-brand)
    }

    .background-accent {
        background-color: var(--color-accent)
    }

    .background-status-ok {
        background-color: var(--color-status-ok)
    }

    .background-status-ko {
        background-color: var(--color-status-ko)
    }

    .background-neutral-50 {
        background-color: var(--color-neutral-50)
    }

    .background-neutral-100 {
        background-color: var(--color-neutral-100)
    }

    .background-neutral-200 {
        background-color: var(--color-neutral-200)
    }

    .background-neutral-300 {
        background-color: var(--color-neutral-300)
    }

    .background-neutral-400 {
        background-color: var(--color-neutral-400)
    }

    .background-neutral-500 {
        background-color: var(--color-neutral-500)
    }

    .background-neutral-600 {
        background-color: var(--color-neutral-600)
    }

    .background-neutral-700 {
        background-color: var(--color-neutral-700)
    }

    .background-neutral-800 {
        background-color: var(--color-neutral-800)
    }

    .background-neutral-900 {
        background-color: var(--color-neutral-900)
    }

    .background-neutral-950 {
        background-color: var(--color-neutral-950)
    }

    .color-white {
        color: var(--color-white)
    }

    .color-black {
        color: var(--color-black)
    }

    .color-brand {
        color: var(--color-brand)
    }

    .color-accent {
        color: var(--color-accent)
    }

    .color-status-ok {
        color: var(--color-status-ok)
    }

    .color-status-ko {
        color: var(--color-status-ko)
    }

    .color-neutral-50 {
        color: var(--color-neutral-50)
    }

    .color-neutral-100 {
        color: var(--color-neutral-100)
    }

    .color-neutral-200 {
        color: var(--color-neutral-200)
    }

    .color-neutral-300 {
        color: var(--color-neutral-300)
    }

    .color-neutral-400 {
        color: var(--color-neutral-400)
    }

    .color-neutral-500 {
        color: var(--color-neutral-500)
    }

    .color-neutral-600 {
        color: var(--color-neutral-600)
    }

    .color-neutral-700 {
        color: var(--color-neutral-700)
    }

    .color-neutral-800 {
        color: var(--color-neutral-800)
    }

    .color-neutral-900 {
        color: var(--color-neutral-900)
    }

    .color-neutral-950 {
        color: var(--color-neutral-950)
    }

    .border-white {
        border-color: var(--color-white)
    }

    .border-black {
        border-color: var(--color-black)
    }

    .border-brand {
        border-color: var(--color-brand)
    }

    .border-accent {
        border-color: var(--color-accent)
    }

    .border-status-ok {
        border-color: var(--color-status-ok)
    }

    .border-status-ko {
        border-color: var(--color-status-ko)
    }

    .border-neutral-50 {
        border-color: var(--color-neutral-50)
    }

    .border-neutral-100 {
        border-color: var(--color-neutral-100)
    }

    .border-neutral-200 {
        border-color: var(--color-neutral-200)
    }

    .border-neutral-300 {
        border-color: var(--color-neutral-300)
    }

    .border-neutral-400 {
        border-color: var(--color-neutral-400)
    }

    .border-neutral-500 {
        border-color: var(--color-neutral-500)
    }

    .border-neutral-600 {
        border-color: var(--color-neutral-600)
    }

    .border-neutral-700 {
        border-color: var(--color-neutral-700)
    }

    .border-neutral-800 {
        border-color: var(--color-neutral-800)
    }

    .border-neutral-900 {
        border-color: var(--color-neutral-900)
    }

    .border-neutral-950 {
        border-color: var(--color-neutral-950)
    }
}

@layer cube {
    .flow>*+* {
        margin-top: var(--flow-space, 1em)
    }
}

@layer cube {
    .gap {
        gap: var(--row-gap, var(--space-xs)) var(--column-gap, var(--space-xs))
    }
}

@layer cube {
    .region {
        padding-top: var(--region-space, var(--space-l-xl));
        padding-bottom: var(--region-space, var(--space-l-xl))
    }
}

@layer cube {
    .padding-0 {
        padding: 0
    }

    .padding-½ {
        padding: calc(.5 * var(--su))
    }

    .padding-1 {
        padding: var(--su)
    }

    .padding-1½ {
        padding: calc(1.5 * var(--su))
    }

    .padding-2 {
        padding: calc(2 * var(--su))
    }

    .padding-2½ {
        padding: calc(2.5 * var(--su))
    }

    .padding-3 {
        padding: calc(3 * var(--su))
    }

    .padding-4 {
        padding: calc(4 * var(--su))
    }

    .padding-0-y {
        padding-top: 0;
        padding-bottom: 0
    }

    .padding-½-y {
        padding-top: calc(.5 * var(--su));
        padding-bottom: calc(.5 * var(--su))
    }

    .padding-1-y {
        padding-top: var(--su);
        padding-bottom: var(--su)
    }

    .padding-1½-y {
        padding-top: calc(1.5 * var(--su));
        padding-bottom: calc(1.5 * var(--su))
    }

    .padding-2-y {
        padding-top: calc(2 * var(--su));
        padding-bottom: calc(2 * var(--su))
    }

    .padding-2½-y {
        padding-top: calc(2.5 * var(--su));
        padding-bottom: calc(2.5 * var(--su))
    }

    .padding-3-y {
        padding-top: calc(3 * var(--su));
        padding-bottom: calc(3 * var(--su))
    }

    .padding-4-y {
        padding-top: calc(4 * var(--su));
        padding-bottom: calc(4 * var(--su))
    }

    .padding-0-x {
        padding-right: 0;
        padding-left: 0
    }

    .padding-½-x {
        padding-right: calc(.5 * var(--su));
        padding-left: calc(.5 * var(--su))
    }

    .padding-1-x {
        padding-right: var(--su);
        padding-left: var(--su)
    }

    .padding-1½-x {
        padding-right: calc(1.5 * var(--su));
        padding-left: calc(1.5 * var(--su))
    }

    .padding-2-x {
        padding-right: calc(2 * var(--su));
        padding-left: calc(2 * var(--su))
    }

    .padding-2½-x {
        padding-right: calc(2.5 * var(--su));
        padding-left: calc(2.5 * var(--su))
    }

    .padding-3-x {
        padding-right: calc(3 * var(--su));
        padding-left: calc(3 * var(--su))
    }

    .padding-4-x {
        padding-right: calc(4 * var(--su));
        padding-left: calc(4 * var(--su))
    }

    .margin-0 {
        margin: 0
    }

    .margin-½ {
        margin: calc(.5 * var(--su))
    }

    .margin-1 {
        margin: var(--su)
    }

    .margin-1½ {
        margin: calc(1.5 * var(--su))
    }

    .margin-2 {
        margin: calc(2 * var(--su))
    }

    .margin-2½ {
        margin: calc(2.5 * var(--su))
    }

    .margin-3 {
        margin: calc(3 * var(--su))
    }

    .margin-4 {
        margin: calc(4 * var(--su))
    }

    .margin-0-y {
        margin-top: 0;
        margin-bottom: 0
    }

    .margin-½-y {
        margin-top: calc(.5 * var(--su));
        margin-bottom: calc(.5 * var(--su))
    }

    .margin-1-y {
        margin-top: var(--su);
        margin-bottom: var(--su)
    }

    .margin-1½-y {
        margin-top: calc(1.5 * var(--su));
        margin-bottom: calc(1.5 * var(--su))
    }

    .margin-2-y {
        margin-top: calc(2 * var(--su));
        margin-bottom: calc(2 * var(--su))
    }

    .margin-2½-y {
        margin-top: calc(2.5 * var(--su));
        margin-bottom: calc(2.5 * var(--su))
    }

    .margin-3-y {
        margin-top: calc(3 * var(--su));
        margin-bottom: calc(3 * var(--su))
    }

    .margin-4-y {
        margin-top: calc(4 * var(--su));
        margin-bottom: calc(4 * var(--su))
    }

    .margin-0-x {
        margin-right: 0;
        margin-left: 0
    }

    .margin-½-x {
        margin-right: calc(.5 * var(--su));
        margin-left: calc(.5 * var(--su))
    }

    .margin-1-x {
        margin-right: var(--su);
        margin-left: var(--su)
    }

    .margin-1½-x {
        margin-right: calc(1.5 * var(--su));
        margin-left: calc(1.5 * var(--su))
    }

    .margin-2-x {
        margin-right: calc(2 * var(--su));
        margin-left: calc(2 * var(--su))
    }

    .margin-2½-x {
        margin-right: calc(2.5 * var(--su));
        margin-left: calc(2.5 * var(--su))
    }

    .margin-3-x {
        margin-right: calc(3 * var(--su));
        margin-left: calc(3 * var(--su))
    }

    .margin-4-x {
        margin-right: calc(4 * var(--su));
        margin-left: calc(4 * var(--su))
    }
}

@layer cube {

    .heading-huge,
    .heading-xxl,
    .heading-xl,
    .heading-l,
    .heading-m,
    .heading,
    .heading-s,
    .heading-xs {
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-s)
    }

    .text-huge,
    .text-xxl,
    .text-xl,
    .text-l,
    .text-m,
    .text,
    .text-s,
    .text-xs {
        font-family: var(--font-family);
        font-weight: var(--font-weight);
        line-height: var(--line-height)
    }

    .heading-huge,
    .text-huge {
        font-size: var(--font-size-huge)
    }

    .heading-xxl,
    .text-xxl {
        font-size: var(--font-size-xxl)
    }

    .heading-xl,
    .text-xl {
        font-size: var(--font-size-xl)
    }

    .heading-l,
    .text-l {
        font-size: var(--font-size-l)
    }

    .heading-m,
    .text-m {
        font-size: var(--font-size-m)
    }

    .heading,
    .text {
        font-size: var(--font-size)
    }

    .heading-s,
    .text-s {
        font-size: var(--font-size-s)
    }

    .heading-xs,
    .text-xs {
        font-size: var(--font-size-xs)
    }

    .text-normal {
        font-weight: 400
    }

    .text-bold {
        font-weight: var(--font-weight-bold)
    }

    .text-center {
        text-align: center
    }

    .text-left {
        text-align: left
    }

    .text-right {
        text-align: right
    }
}

@layer cube {
    .wide {
        width: 100%;
        max-width: 100%
    }
}

@layer cube {
    .with-icon {
        align-items: baseline;
        display: inline-flex
    }

    .with-icon>svg {
        height: .75em;
        height: 1cap;
        margin-inline-end: .5em;
        transform: scale(var(--icon-scale, 1.5));
        width: .75em;
        width: 1cap
    }

    .with-icon[data-icon-position=right]>svg {
        margin-inline-end: 0;
        margin-inline-start: .5rem
    }
}

@layer cube {
    .wrapper {
        max-width: var(--wrapper-max-width, 90rem);
        margin-inline: auto;
        padding-inline: var(--gutter);
        position: relative
    }
}

@layer fonts {
    @font-face {
        font-family: DM Sans;
        src: url(/static/fonts/DMSans-Italic.woff2) format("woff2"), url(/static/fonts/DMSans-Italic.woff) format("woff");
        font-weight: 400;
        font-style: italic;
        font-display: swap
    }

    @font-face {
        font-family: DM Sans;
        src: url(/static/fonts/DMSans-Regular.woff2) format("woff2"), url(/static/fonts/DMSans-Regular.woff) format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap
    }

    @font-face {
        font-family: DM Sans;
        src: url(/static/fonts/DMSans-Bold.woff2) format("woff2"), url(/static/fonts/DMSans-Bold.woff) format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap
    }

    @font-face {
        font-family: DM Sans;
        src: url(/static/fonts/DMSans-BoldItalic.woff2) format("woff2"), url(/static/fonts/DMSans-BoldItalic.woff) format("woff");
        font-weight: 700;
        font-style: italic;
        font-display: swap
    }

    @font-face {
        font-family: Space Grotesk;
        src: url(/static/fonts/SpaceGrotesk-Bold.woff2) format("woff2"), url(/static/fonts/SpaceGrotesk-Bold.woff) format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap
    }
}

@layer theme {
    :root {
        --background: var(--color-white);
        --color: var(--color-neutral-900);
        --color-accent: #e54;
        --color-brand: #04b;
        --color-status-ok: #2b8;
        --color-status-ko: var(--color-accent);
        --color-outline: var(--color-brand);
        --color-highlight: #efc;
        --font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        --font-family-heading: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        --font-size: var(--font-size-s);
        --border-radius: var(--border-radius-m)
    }

    body {
        background: var(--background);
        color: var(--color)
    }

    button,
    input[type=submit],
    input[type=reset],
    input[type=button],
    .button {
        --button-background-color: var(--color-accent);
        --button-border-color: var(--color-black);
        --button-box-shadow: 0 0 0 0 var(--button-border-color);
        --button-color: var(--color-black);
        --button-transform: translateY(0);
        background-color: var(--button-background-color);
        background-position: center;
        border: solid var(--border-m) var(--button-border-color);
        border-radius: var(--border-radius);
        box-shadow: var(--button-box-shadow);
        color: var(--button-color);
        font-family: var(--font-family);
        font-size: 85%;
        font-weight: var(--font-weight-bold);
        letter-spacing: .05em;
        line-height: var(--line-height);
        text-transform: uppercase;
        transform: var(--button-transform);
        transition: all var(--transition)
    }

    button: hover:not([role=combobox]),
    button:focus:not([role=combobox]),
    input[type=submit]:hover,
    input[type=submit]:focus,
    input[type=reset]:hover,
    input[type=reset]:focus,
    input[type=button]:hover,
    input[type=button]:focus,
    .button:hover,
    .button:focus {
        --button-transform: translateY(-.25em);
        --button-box-shadow: 0 .25em 0 0 var(--button-border-color)
    }

    button: active,
    input[type=submit]:active,
    input[type=reset]:active,
    input[type=button]:active,
    .button:active {
        --button-transform: translateY(0);
        --button-box-shadow: 0 0 0 0 var(--button-border-color)
    }

    button: disabled,
    input[type=submit]:disabled,
    input[type=reset]:disabled,
    input[type=button]:disabled,
    .button[aria-disabled=true] {
        --button-background-color: var(--color-neutral-200);
        --button-border-color: var(--color-neutral-800);
        --button-color: var(--color-neutral-800);
        transform: none;
        filter: none;
        box-shadow: none
    }

    button[data-variant=outline],
    input[type=submit][data-variant=outline],
    input[type=reset][data-variant=outline],
    input[type=button][data-variant=outline],
    .button[data-variant=outline] {
        --button-background-color: var(--background);
        --button-border-color: var(--color);
        --button-color: var(--color)
    }

    button[data-variant=naked],
    input[type=submit][data-variant=naked],
    input[type=reset][data-variant=naked],
    input[type=button][data-variant=naked],
    .button[data-variant=naked] {
        --button-background-color: transparent;
        --button-border-color: transparent;
        --button-color: inherit
    }

    button[data-variant=naked]: hover,
    input[type=submit][data-variant=naked]:hover,
    input[type=reset][data-variant=naked]:hover,
    input[type=button][data-variant=naked]:hover,
    .button[data-variant=naked]:hover {
        --button-box-shadow: none;
        --button-transform: none;
        --button-color: var(--color-brand)
    }

    pre {
        background: var(--color-neutral-100)
    }

    code {
        background: var(--color-neutral-100);
        color: var(--color-accent)
    }

    pre code {
        color: var(--color-black)
    }

    details {
        background: var(--color-neutral-200);
        border-radius: var(--border-radius)
    }

    fieldset {
        border: solid var(--border-m) var(--color-neutral-300);
        border-radius: var(--border-radius)
    }

    legend {
        background-color: var(--color-white)
    }

    button[role=combobox],
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    textarea,
    select {
        background: var(--color-white);
        border: solid var(--border-m) var(--color-black);
        border-radius: var(--border-radius);
        color: var(--color-black)
    }

    input[type=checkbox],
    input[type=radio] {
        border: solid var(--border-m) var(--color-black)
    }

    input[type=checkbox] {
        border-radius: var(--border-radius)
    }

    .dialog {
        background: #171717d9
    }

    .dialog>[role=dialog] {
        background: var(--color-white);
        box-shadow: 0 0 .5rem var(--color-black);
        color: var(--color-black);
        padding: var(--space-l)
    }

    .breadcrumb a {
        color: var(--color-white)
    }

    .breadcrumb [aria-current=page] {
        color: var(--color-white);
        font-weight: 400
    }

    .callout[data-variant=brand] {
        color: var(--color-brand);
        border: dotted .125rem var(--color-brand)
    }

    .callout[data-variant=brand]>* {
        color: var(--color-brand)
    }

    .logo {
        overflow-x: hidden;
        width: clamp(4.5rem, 4.2rem + 1vw, 5rem)
    }

    .logo>svg {
        width: clamp(9rem, 8.5rem + 1vw, 10rem);
        height: auto
    }

    @media screen and (min-width: 42rem) {
        .logo {
            overflow: unset;
            width: unset
        }
    }

    .shadow {
        box-shadow: .35rem .35rem 0 var(--shadow-color, currentColor);
        transition: all var(--transition)
    }

    a.shadow: hover {
        box-shadow: 0 0 0 0 var(--shadow-color, currentColor);
        transform: translate(.175rem, .175rem)
    }

    .text-shadow {
        text-shadow: 0 -1px 0 var(--shadow-color), -1px 0 0 var(--shadow-color), 0 1px 0 var(--shadow-color), 1px 0 0 var(--shadow-color), .0325em .065em 0 var(--shadow-color)
    }

    .title {
        border-bottom: solid var(--border-m) var(--color-current);
        font-size: var(--font-size-xl);
        min-width: 100%;
        padding-bottom: var(--space-xxs)
    }

    .breadcrumb {
        font-size: var(--font-size-xs)
    }

    .bubble {
        background-color: var(--background);
        border: solid var(--border-m) var(--color-brand);
        border-radius: var(--border-radius);
        color: var(--color-brand);
        padding: var(--space-xs);
        position: relative
    }

    .bubble:before {
        border-radius: 0 0 100%;
        bottom: -3.125rem;
        box-shadow: -.125rem -.125rem 0 0 var(--color-brand) inset, -1.4375rem 0 0 0 var(--background) inset, -1.5625rem -.125rem 0 0 var(--color-brand) inset, -2.1875rem 0 0 0 var(--color-brand) inset;
        content: "";
        height: 3.125rem;
        position: absolute;
        left: 1rem;
        transform: scalex(-1);
        top: 100%;
        width: 5.625rem
    }

    .newsletter {
        margin-top: var(--space-m);
        display: flex;
        flex-direction: column
    }

    .card {
        background-color: var(--background);
        border-radius: var(--border-radius)
    }

    @media screen and (prefers-color-scheme: dark) {
        :root {
            --background: var(--color-neutral-900);
            --color: var(--color-neutral-300);
            --color-brand: #57b;
            --header-background: var(--background);
            --header-color: var(--color);
            --footer-background: var(--background);
            --footer-color: var(--color)
        }

        button,
        input[type=submit],
        input[type=reset],
        input[type=button],
        .button {
            --button-background-color: var(--background);
            --button-border-color: var(--color-accent);
            --button-color: var(--color-accent);
            --button-box-shadow: var(--color-accent)
        }
    }
}

@layer custom {
    nav[data-variant=main] li a.with-icon>span {
        display: none
    }

    nav[data-variant=main] li a.with-icon>svg {
        height: auto;
        margin: 0;
        width: 1rem
    }

    @media screen and (min-width: 42rem) {
        nav[data-variant=main] li a.with-icon>span {
            display: unset
        }

        nav[data-variant=main] li a.with-icon>svg {
            display: none
        }
    }

    .page-header {
        --region-space: .5rem;
        background: var(--header-background, var(--color-white));
        border-bottom: solid var(--border-s) var(--header-border-color, var(--color-current));
        color: var(--header-color);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99
    }

    .page-footer {
        background: var(--footer-background, var(--color-neutral-900));
        color: var(--footer-color, var(--color-neutral-200))
    }
}