@layer reset, tokens, base, composition, utility, block, exception;

/* Global */
@import './global/reset.css' layer(reset);

@import './global/fonts.css' layer(tokens);

@import './global/tokens.css' layer(tokens);
@import './global/base.css' layer(base);

/* @import './tests/debug.css' layer(base); */

/* Composition */
@import './composition/index.css' layer(composition);

/* Utilities */
@import './utilities/index.css' layer(utility);

/* Blocks */
@import './blocks/index.css' layer(block);

/* Exceptions */
@import './exceptions/index.css' layer(exception);
