---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import HeroSection from '@/components/HeroSection.astro'
import Newsletter from '@/components/Newsletter.astro'

import { ArrowRight } from '@lucide/astro'
import { getCollection } from 'astro:content'

const letters = await getCollection('newsletter')

const sortedPosts = letters.sort((a, b) => {
	return new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime()
})

function formatDate(date: Date, locale: Intl.LocalesArgument) {
  return new Intl.DateTimeFormat(locale, {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  }).format(date);
}
---

<Layout
	title="Newsletter - Bruno Pulis"
	description="Artigos sobre desenvolvimento, acessibilidade e qualidade de software"
>
	<Header />
	<main>
		<HeroSection
			title="Pulis Letters"
			description="Cartas semanais para deixar você um desenvolvedor mais inteligente."
		/>
		
		<div class="container mx-auto px-5 py-6 md:p-8">
			<div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
				<!-- Main Content -->
				<div class="lg:col-span-2">
					<h2 class="mb-8 text-4xl font-bold leading-tight text-gray-900 md:text-5xl">
						Edições anteriores
					</h2>

					<div class="space-y-6">
						{
							sortedPosts.map((letter) => (
								<div class="group cursor-pointer">
									<div class="flex items-start gap-4 rounded-lg p-4 transition-all duration-200 hover:bg-white hover:shadow-md">
										<div class="flex flex-col items-center">
											<span class="text-lg font-medium text-brand-500">#{letter.data.issue}</span>
											<div class="mt-1 h-1 w-12 bg-brand-500" />
										</div>
										<div class="flex-1">
											<h2 class="text-xl font-semibold text-gray-900 transition-colors group-hover:text-red-950">
												<a href={'/newsletter/' + letter.id} class="block">
													{letter.data.title}
												</a>
											</h2>
											<time class="mt-1 text-sm text-gray-500" datetime="">
												{formatDate(new Date(letter.data.date), "pt-BR")}
											</time>
										</div>
										<ArrowRight />
									</div>
								</div>
							))
						}
					</div>
				</div>

				<!-- Sidebar -->
				<div class="lg:col-span-1">
					<Newsletter />
				</div>
			</div>
		</div>
	</main>
	<Footer />
</Layout>
