---
import { getLanguageFromPath, useTranslations } from '@i18n/utils';

import { getCollection } from "astro:content";
import Layout from "@layout/Layout.astro";
import HeroSection from "@components/layouts/HeroSection.astro";
import site from "@data/site.config.json";

const letters = await getCollection("newsletter");
const sortedPosts = letters.sort((a, b) => {
  return new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime();
});
function formatDate(date: Date, locale: Intl.LocalesArgument) {
  return new Intl.DateTimeFormat(locale, {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(date);
}
function toISOString(dateString: string) {
  const date = new Date(dateString);
  return date.toISOString();
}

// Detecta o idioma e obtém as traduções
const lang = getLanguageFromPath(Astro.url.pathname);
 
const t = useTranslations(lang);
---

<Layout
  title={t("newsletter.title")}
  description={t("newsletter.description")}
  routeKey="newsletter"
>
  <main id="main-content">
    <HeroSection
      title="Filtro Digital"
      description="Semanalmente, filtramos o que realmente importa em acessibilidade, qualidade de software e organização digital"
    />
    <div class="container-custom py-8">
      <section class="mb-8">
        <p class="text-errie-black-900 mb-8 text-lg leading-relaxed">
          Junte-se a mais de 300 pessoas na minha lista de e-mails que tenha <strong
            >acesso exclusivo</strong
          > a atualizações e novos conteúdos antes que eles sejam divulgados publicamente.
        </p>

        <p class="text-errie-black-900 mb-8 text-lg leading-relaxed">
          Você receberá tutoriais, guias, ponto de vista, conteúdo exclusivo dos bastidores,
          descontos em produtos e insights práticos sobre acessibilidade para aplicar hoje mesmo no
          seu trabalho.
        </p>

        <a
          href={site.socialMidia.substack}
          target="_blank"
          rel="noopener noreferrer"
          class="focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-blood-red-800 hover:bg-blood-red-800/90 inline-flex h-10 shrink-0 items-center justify-center gap-2 rounded-md px-8 py-4 text-sm font-medium whitespace-nowrap text-white transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 has-[>svg]:px-4 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4"
        >
          Quero assinar
        </a>
      </section>

      <div class="grid grid-cols-1 gap-8">
        <h2 class="title-font my-5 text-3xl font-medium sm:text-4xl">Edições anteriores</h2>
        <div class="mb-5">
          {
            sortedPosts.map(letter => (
              <div class="group cursor-pointer border-b border-gray-300 py-4">
                <div class="flex items-start gap-4">
                  <div class="flex flex-col items-center">
                    <span class="text-brand-500 text-lg font-medium">#{letter.data.issue}</span>
                    <div class="bg-brand-500 mt-1 h-1 w-12" />
                  </div>
                  <div class="flex-1">
                    <h2 class="text-xl font-semibold text-gray-900 transition-colors group-hover:text-red-950">
                      <a href={"/newsletter/" + letter.id} class="block">
                        {letter.data.title}
                      </a>
                    </h2>
                    <time
                      class="text-errie-black-900 mt-1 text-sm"
                      datetime={toISOString(String(letter.data.date))}
                    >
                      {formatDate(new Date(letter.data.date), "pt-BR")}
                    </time>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
