---
import { Rss } from '@lucide/astro';

const { url, text } = Astro.props;
---

<div class="banner rss">
  <p>
    <Rss aria-hidden="true" class="icon rss" width={24} height={24} />
    <a href={url} class="banner__link">{text}</a>
  </p>
</div>
