.banner {
  margin: var(--margin-vertical-base-horizontal-zero);
  border: var(--border-width) solid;
  border-radius: var(--border-radius-sm);
  background-color: color-mix(
    in srgb,
    var(--banner-border-color) var(--opacity-subtle-bg),
    transparent
  );
  padding: var(--space-xs);

  & a {
    display: inline;
  }

  & span,
  & svg {
    width: var(--sizing-svg-sm);
    height: var(--sizing-svg-sm);
  }

  & span,
  & p {
    display: inline;
  }

  & p {
    display: block;
    margin: 0;
    color: var(--text-color);
    font-size: var(--font-size-sm);

    a {
      color: var(--text-color);
    }

    & svg {
      display: inline;
      vertical-align: middle;
    }
  }

  &.coffee,
  &.error,
  &.github,
  &.mastodon,
  &.npm,
  &.old-post,
  &.rss,
  &.warning {
    border-color: var(--banner-accent-color);
    &.coffee {
      --banner-accent-color: var(--brand-buy-me-a-coffee);
    }
    &.error {
      --banner-accent-color: var(--error);
    }
    &.github {
      --banner-accent-color: var(--brand-github);
    }
    &.mastodon {
      --banner-accent-color: var(--brand-mastodon);
    }
    &.npm {
      --banner-accent-color: var(--brand-npm);
    }
    &.old-post {
      --banner-accent-color: var(--gray-dark);
    }
    &.rss {
      --banner-accent-color: var(--brand-rss);
    }
    &.warning {
      --banner-accent-color: var(--warning);
    }

    & p a:is(:hover, :active, :focus) {
      color: var(--banner-accent-color);
    }

    & svg {
      stroke: var(--banner-accent-color);
    }
  }
}
