@layer blocks {
  button,
  input[type='submit'],
  input[type='reset'],
  input[type='button'],
  .button {
    display: inline-block;
    cursor: var(--cursor-pointer, pointer);
    padding: var(--space-xs) var(--space-s);
    text-align: center;
    text-decoration: none;
    --button-background-color: var(--theme-button-background-color, var(--color-blood-red-800));
    --button-border-color: var(--theme-button-border-color, var(--color-black));
    --button-box-shadow: 0 0 0 0 var(--button-border-color);
    --button-color: var(--theme-button-color, var(--color-black));
    --button-transform: translateY(0);
    transform: var(--button-transform);
    transition: all var(--transition);
    box-shadow: var(--button-box-shadow);
    border: solid var(--border-m) var(--button-border-color);
    border-radius: var(--border-radius);
    background-position: center;
    background-color: var(--button-background-color);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    font-size: 85%;
    line-height: var(--line-height);
    font-family: var(--font-family);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  button:hover:not([role='combobox']),
  button:focus:not([role='combobox']),
  input[type='submit']:hover,
  input[type='submit']:focus,
  input[type='reset']:hover,
  input[type='reset']:focus,
  input[type='button']:hover,
  input[type='button']:focus,
  .button:hover,
  .button:focus {
    --button-transform: translateY(-0.25em);
    --button-box-shadow: 0 0.25em 0 0 var(--button-border-color);
  }

  button:active,
  input[type='submit']:active,
  input[type='reset']:active,
  input[type='button']:active,
  .button:active {
    --button-transform: translateY(0);
    --button-box-shadow: 0 0 0 0 var(--button-border-color);
  }
  button:disabled,
  input[type='submit']:disabled,
  input[type='reset']:disabled,
  input[type='button']:disabled,
  .button[aria-disabled='true'] {
    cursor: var(--cursor-not-allowed, not-allowed);
    --button-background-color: var(--color-neutral-200);
    --button-border-color: var(--color-neutral-800);
    --button-color: var(--color-neutral-800);
    transform: none;
    filter: none;
    box-shadow: none;
  }

  button[data-variant='outline'],
  input[type='submit'][data-variant='outline'],
  input[type='reset'][data-variant='outline'],
  input[type='button'][data-variant='outline'],
  .button[data-variant='outline'] {
    --button-background-color: var(--background);
    --button-border-color: var(--color);
    --button-color: var(--color);
  }

  button[data-variant='naked'],
  input[type='submit'][data-variant='naked'],
  input[type='reset'][data-variant='naked'],
  input[type='button'][data-variant='naked'],
  .button[data-variant='naked'] {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-color: inherit;
  }

  button[data-variant='naked']:hover,
  input[type='submit'][data-variant='naked']:hover,
  input[type='reset'][data-variant='naked']:hover,
  input[type='button'][data-variant='naked']:hover,
  .button[data-variant='naked']:hover {
    --button-box-shadow: none;
    --button-transform: none;
    --button-color: var(--color-brand);
  }
}
