.hero {
  padding-block: var(--space-xl, 6rem); /* Padding top e bottom */
  color: var(--color-text-primary, #1e1e1e);
}

.hero__title {
  margin-bottom: var(--space-m);
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-heading);
}

.hero p {
  margin-bottom: var(--space-m);
}

.hero__list {
  display: flex;
  gap: 1rem;
}

.hero__link:hover,
.hero__link:focus,
.hero__link:focus-visible {
  color: var(--color-blood-red-800);
}

.hero__figure img {
  box-shadow: var(--shadow-2xl);
  border: var(--border-width-4) solid var(--color-border-subtle);
  /* Remove estilos hardcoded e usa tokens, se disponíveis */
  border-radius: var(--radius-2xl, 1rem);
  width: 20rem;
  /* Altura e largura são utilidades ou definidas na Composição/Block */
  height: 20rem;
  object-fit: cover;
}
