---

---

<div class="flex flex-col items-start justify-between space-y-4 lg:flex-row lg:items-center lg:space-y-0">
	<div class="flex flex-wrap items-center gap-2 text-xs text-white">
		<ul class="">
			<li class="inline">
				<a rel="external" href="https://a11y-webring.club/"
					>a11y-webring.club</a
				>
				<span class="mx-2 text-white">/</span>
			</li>
			<li class="inline">
				<a
					rel="external"
										referrerpolicy="strict-origin"
					href="https://a11y-webring.club/prev">Site anterior</a
				>
				<span class="mx-2 text-white">/</span>
			</li>
			<li class="inline">
				<a
					rel="external"
										referrerpolicy="strict-origin"
					href="https://a11y-webring.club/random">Site aleatório</a
				>
				<span class="mx-2 text-white">/</span>
			</li>
			<li class="inline">
				<a
					rel="external"
										referrerpolicy="strict-origin"
					href="https://a11y-webring.club/next">Próximo website</a
				>
			</li>
		</ul>
	</div>
</div>
