@use "sass:color";
@use "../abstracts/tokens";

.header {
  padding: tokens.$space-6 tokens.$space-0;
}

.navbar-brand {
  --bs-navbar-brand-color: tokens.$color-text-primary;
}

.nav-link {
  color: tokens.$color-text-primary;
}