/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display, var(--font-primary));
  line-height: var(--line-height-heading, 1.2);
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--size-step-5);
}

:is(h1, h2, h3) {
  font-family: var(--font-family-heading, inherit);
  font-weight: var(--font-weight-heading, bold);
  letter-spacing: var(--letter-spacing-heading, 0);
  line-height: var(--line-height-heading, 1.25);
  text-wrap: balance
}

h1 {
  font-size: var(--font-size-xxl, unset)
}

h2 {
  font-size: var(--font-size-xl, unset)
}

h3 {
  font-size: var(--font-size-l, unset)
}

h4 {
  font-size: var(--font-size-m, unset)
}

h5 {
  font-size: var(--font-size-s, unset)
}

h6 {
  font-size: var(--font-size-xs, unset)
}

main:focus {
  outline: none
}

p {
  margin: 0;
  font-size: inherit;
  line-height: inherit
}

p:not([class]) {
  max-width: var(--width-l)
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0
}

:is(ul, ol):not([class]) {
  padding-inline-start: 1.7ch
}

li:not([class]) {
  max-width: var(--width-l)
}

pre {
  --pre-background: var(--color-neutral-100);
  background: var(--theme-pre-background, var(--pre-background))
}

@media (prefers-color-scheme: dark) {
  pre {
    --pre-background: var(--color-neutral-700)
  }
}

blockquote {
  margin: 0
}

blockquote:not([class]) {
  border-left: solid var(--border-l) var(--color-current);
  font-family: var(--font-heading);
  font-size: var(--font-size-m);
  line-height: var(--line-height);
  padding-inline-start: var(--space-s);
  max-width: var(--width-l)
}

blockquote:not([class]) p:last-of-type,
blockquote:not([class]) cite,
blockquote:not([class]) footer {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  margin-block-start: var(--space-xxs)
}

figure {
  margin: 0
}

figcaption {
  font-size: var(--font-size-xs);
  margin-block-start: var(--space-xxs, .5rem);
  text-align: center
}

hr {
  position: relative;
  margin: var(--space-l) 0;
  border: none;
  border-top: solid var(--border-s) currentColor
}

a {
  color: var(--color-link, unset);
  cursor: var(--cursor-pointer, pointer);
  font-size: inherit;
  line-height: inherit
}

a:hover,
a:focus,
a:active {
  cursor: var(--cursor-pointer, pointer)
}

a:not([class]) {
  --offset: .1em;
  --offset-hover: .25em;
  text-decoration: underline;
  text-underline-offset: var(--offset, .1em);
  transition: all var(--transition)
}

a:not([class]):hover,
a:not([class]):focus {
  --offset: var(--offset-hover, .25em);
  color: inherit;
  text-decoration: underline
}

a[data-variant=naked] {
  text-decoration: none
}

mark,
::selection {
  color: var(--color, unset);
  background-color: var(--color-highlight)
}

small,
sub,
sup {
  font-size: var(--font-size-s)
}

code {
  vertical-align: bottom;
  --code-background: var(--color-neutral-100);
  --code-color: var(--color-neutral-900);
  background: var(--theme-code-background, var(--code-background));
  color: var(--theme-code-color, var(--code-color))
}

@media (prefers-color-scheme: dark) {
  code {
    --code-background: var(--color-neutral-700);
    --code-color: var(--color-neutral-300)
  }
}

kbd {
  border: solid var(--border-s);
  border-radius: var(--border-radius-s);
  font-family: var(--font-family-accent);
  font-size: 1rem;
  padding: .115rem .25rem;
  --kbd-background: var(--color-neutral-700);
  --kbd-border-color: var(--color-neutral-500);
  background-color: var(--theme-kbd-background, var(--kbd-background));
  border-color: var(--theme-kbd-border-color, var(--kbd-border-color))
}

@media (prefers-color-scheme: dark) {
  kbd {
    --kbd-background: var(--color-neutral-900);
    --kbd-border-color: var(--color-neutral-600)
  }
}

img,
picture {
  display: block;
  max-width: 100%
}

@media (prefers-color-scheme: dark) {

  img,
  picture {
    filter: brightness(.8) contrast(1.2)
  }
}

img {
  border: none
}

svg {
  flex-shrink: 0
}

svg:not([class]) {
  height: 2ex;
  width: auto
}

svg:not([class]) path {
  fill: var(--color-current)
}

svg[role=img][width][height] {
  width: revert;
  height: revert
}

iframe {
  border: none
}

tr {
  --tr-background-odd: var(--color-white);
  --tr-background-even: var(--color-neutral-50);
  background-color: var(--theme-tr-background-odd, var(--tr-background-odd))
}

tr:nth-child(2n) {
  background-color: var(--theme-tr-background-even, var(--tr-background-even))
}

@media (prefers-color-scheme: dark) {
  tr {
    --tr-background-odd: var(--color-neutral-800);
    --tr-background-even: var(--color-neutral-700)
  }
}

th {
  background-color: var(--color-neutral-200)
}

fieldset {
  border: solid var(--border-m);
  border-radius: var(--border-radius);
  --fieldset-border-color: var(--color-neutral-300);
  border-color: var(--theme-fieldset-border-color, var(--fieldset-border-color))
}

@media (prefers-color-scheme: dark) {
  fieldset {
    --fieldset-border-color: var(--color-neutral-600)
  }
}

legend {
  --legend-background-color: var(--color-white);
  background-color: var(--theme-legend-background-color, var(--legend-background-color))
}

@media (prefers-color-scheme: dark) {
  legend {
    --legend-background-color: var(--color-neutral-900)
  }
}

input,
textarea,
select,
button {
  font: inherit
}

button[role=combobox],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  border: solid var(--border-m);
  border-radius: var(--border-radius);
  --input-background: var(--color-white);
  --input-border-color: var(--color-black);
  --input-color: var(--color-black);
  background: var(--theme-input-background, var(--input-background));
  border-color: var(--theme-input-border-color, var(--input-border-color));
  color: var(--theme-input-color, var(--input-color))
}

@media (prefers-color-scheme: dark) {

  button[role=combobox],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  textarea,
  select {
    --input-background: var(--color-neutral-800);
    --input-border-color: var(--color-neutral-600);
    --input-color: var(--color-neutral-300)
  }
}

input[type=checkbox],
input[type=radio] {
  border: solid var(--border-m);
  --checkbox-background: var(--color-white);
  --checkbox-border-color: var(--color-neutral-300);
  --checkbox-color: var(--color-neutral-900);
  background: var(--theme-checkbox-background, var(--checkbox-background));
  border-color: var(--theme-checkbox-border-color, var(--checkbox-border-color));
  color: var(--theme-checkbox-color, var(--checkbox-color))
}

input[type=checkbox] {
  border-radius: var(--border-radius)
}

details {
  background: var(--color-neutral-200);
  border-radius: var(--border-radius)
}

dialog,
[role=dialog] {
  box-shadow: 0 0 .5rem var(--color-black);
  padding: var(--space-l);
  --dialog-background: var(--color-neutral-100);
  --dialog-color: var(--color-black);
  --dialog-shadow: 0 0 .5rem var(--color-black);
  background: var(--theme-dialog-background, var(--dialog-background));
  color: var(--theme-dialog-color, var(--dialog-color));
  box-shadow: var(--theme-dialog-shadow, var(--dialog-shadow))
}

dialog::backdrop {
  background-color: #171717d9
}

:focus:not(:focus-visible) {
  outline: 0
}

:focus-visible {
  outline: var(--outline, dotted 2px currentColor);
  outline-offset: var(--outline-offset, 2px)
}

:target {
  scroll-margin-top: 2ex
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: .01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01s !important;
    scroll-behavior: auto !important
  }
}
