---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ meta.siteName }} - Tudo</title>
    <link>{{ meta.url }}</link>
    <atom:link href="{{ meta.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>{{ meta.description }}</description>
    <language>{{ meta.language }}</language>
    <lastBuildDate>{{ now | toRfc822Date }}</lastBuildDate>

    {%- for post in collections.posts | slice(0, 10) %}
    <item>
      <title>[BLOG] {{ post.data.title }}</title>
      <link>{{ meta.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ meta.url }}{{ post.url }}</guid>
      <description>{{ post.data.description }}</description>
      <pubDate>{{ post.data.pubDate | toRfc822Date }}</pubDate>
      <category>Blog</category>
    </item>
    {%- endfor %}

    {%- for note in collections.notes | slice(0, 10) %}
    <item>
      <title>[NOTA] {{ note.data.title or note.content | striptags | truncate(50) }}</title>
      <link>{{ meta.url }}{{ note.url }}</link>
      <guid isPermaLink="true">{{ meta.url }}{{ note.url }}</guid>
      <description>{{ note.content | striptags | truncate(200) }}</description>
      <pubDate>{{ note.data.date | toRfc822Date }}</pubDate>
      <category>Notas</category>
    </item>
    {%- endfor %}
  </channel>
</rss>