---
import { ClientRouter } from "astro:transitions";
import BasicScripts from "@/components/BasicScripts.astro";
import "@fontsource-variable/source-sans-3";

import "@/styles/global.css";
import "@/styles/transitions.css";

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Modern SaaS landing page template with responsive design and modular sections.",
} = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lexend:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body class="text-secondary-900 text-[20px]  bg-white antialiased">
    <div
      id="promo-banner"
      class="mb-6 bg-gray-800 px-4 py-2 text-white shadow-md"
    >
      <div
        class="container mx-auto flex flex-col flex-wrap items-center justify-between gap-2 sm:flex-row"
      >
        <div class="banner-content flex items-center">
          <p class="banner-text text-center text-sm">
            Esse site está em processo de refatoração e redesign. Então se algo
            estiver quebrado, é por causa disso.
          </p>
        </div>
      </div>
    </div>
    <slot />

    <BasicScripts />
  </body>
</html>
