.box {
  padding: 2.5rem;
  border: 1px solid var(--color-border);
  background: var(--color-surface);
}

.box * {
  color: inherit;
}

.box.invert {
  background: var(--color-dark);
  color: var(--color-light);
}
