.card {
  --img-ratio: 3/2;

  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 0.125rem;
  text-decoration: none;
}

.card :is(h2:not([class]), h3:not([class]), h4:not([class])) {
  font-size: var(--font-size-l);
}

.card > :not(h2, h3, h4) {
  font-size: var(--font-size-s);
}

.card :is(h2, h3, h4) > a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card p,
.card button,
.card .button {
  position: relative;
  z-index: 1;
}

.carda:focus {
  text-decoration: underline;
}

.card:focus-within {
  box-shadow: 0 0 0 0.1rem;
}

.card:focus-within a:focus {
  text-decoration: none;
}

.card > img {
  aspect-ratio: var(--img-ratio);
  object-fit: cover;
  width: 100%;
}

.card > div {
  --flow-space: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  max-width: 60ch;
}

.card > div > :last-child {
  margin-top: auto;
}

.card > div > :nth-last-child(2) {
  margin-bottom: var(--space-xs-s);
}

.card[data-state="reversed"] {
  display: flex;
  flex-direction: column-reverse;
}
