.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-m));
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 33rem);
}

.grid[data-layout="thirds"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}

.grid[data-layout="twelfths"] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid[data-layout="lg:10/2"] {
  grid-template-columns: 100%;
}

@media screen(md) {
  .grid[data-layout="lg:10/2"] {
    grid-template-columns: clamp(40rem, 80vw, 60rem);
  }
}

@media screen(lg) {
  .grid[data-layout="lg:10/2"] {
    grid-template-columns: 10fr 2fr;
  }
}
