.switcher {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--switcher-vertical-alignment, flex-start);
  gap: var(--gutter, var(--space-s-l));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
}

.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}
