<a id="skip-link" href="#main-content"
  >Ir para conteúdo principal
  <svg
    aria-hidden="true"
    height="32"
    fill="#fff"
    viewBox="0 -960 960 960"
    width="32"
    xmlns="http://www.w3.org/2000/svg"
    class="icon"
  >
    <path d="M450-160v-526L202-438l-42-42 320-320 320 320-42 42-248-248v526h-60Z"></path>
  </svg>
</a>

<style>
  a {
    display: flex;
    position: absolute;
    top: 0;
    left: -9999px;
    align-items: center;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus,
  a:focus-visible {
    position: fixed;
    top: 0;
    left: var(--space-xs);
    z-index: 1 !important;
    background-color: blue;
    padding: var(--space-xs);
    width: auto;
    height: auto;
    color: var(--color-white);
    text-decoration: none;
  }

  .icon {
    transform: rotate(180deg);
    margin-left: var(--space-3xs);
  }
</style>
