<ul class="flex flex-col gap-3 space-x-2 sm:justify-between md:flex-row">
  <li class="social__item">
    <a
      rel="external"
      class="text-sm text-white underline-offset-8 hover:underline"
      href="https://a11y-webring.club/"
    >
      a11y-webring.club
    </a>
  </li>
  <li class="social__item">
    <a
      rel="external"
      class="text-sm text-white underline-offset-8 hover:underline"
      href="https://a11y-webring.club/prev"
    >
      site anterior
    </a>
  </li>
  <li class="social__item">
    <a
      rel="external"
      class="text-sm text-white underline-offset-8 hover:underline"
      href="https://a11y-webring.club/random"
    >
      site aleatório
    </a>
  </li>
  <li class="social__item">
    <a
      rel="external"
      class="text-sm text-white underline-offset-8 hover:underline"
      href="https://a11y-webring.club/next"
    >
      próximo site
    </a>
  </li>
</ul>
