<section class="approach | flow">
  <h2 class="title text-step-2">Como trabalho</h2>
  <p class="text-step-0">
    Não acredito em checklists mecânicos ou relatórios genéricos. Meu trabalho é entender seu
    contexto, suas limitações e seus objetivos para encontrar soluções práticas e sustentáveis.
  </p>
  <p class="text-step-0">
    Seja através de <strong>código</strong>, <strong>orientação</strong> ou
    <strong>capacitação</strong>, meu foco é sempre deixar seu time mais preparado e seu produto
    mais inclusivo.
  </p>
</section>
