<section class="flex items-start gap-4 mt-10 p-5 border border-border rounded-md">
  <div>
    <h3 class="font-serif text-lg">Sobre {{ site.author }}</h3>
    <p class="my-1">{{ site.bio.short }}</p>

    <p>Esse site é independente, sem anúncios, sem trackeamento de informações e aberto para todos. Sem <em>paywalls</em> e anunciantes, com exceção de livros sugeridos na Amazon.</p>
    <p class="py-2">Você pode também apoiar meu trabalho através de doações pontuais ou regulares, através dos canais:</p>

    {% if site.donate.enabled %}
      <ul class="flex flex-wrap gap-4 my-3">
        <li>
          {% if site.donate.kofi %}
            <a
              href="https://ko-fi.com/{{ site.donate.kofi }}"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold text-blood-red-950 underline underline-offset-4 hover:no-underline"
            >
              Ko-fi
            </a>
          {% endif %}
        </li>
        <li>
          {% if site.donate.paypal %}
            <a
              href="https://www.paypal.com/donate/?hosted_button_id={{ site.donate.paypal }}"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold text-blood-red-950 underline underline-offset-4 hover:no-underline"
            >
              PayPal
            </a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
  </div>
</section>
