<div class="badges">
  <p class="footer__badges-title visually-hidden">Badges & Buttons</p>
  <ul role="list" class="footer__badges">
    <li>
      <img src="/assets/images/badges/a11y-engineer.png" alt="Accessibility Engineer" width="88" height="31"
        loading="lazy" class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/a11y-matters.png" alt="A11Y Matters" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/made-in-bh.png" alt="Made in Belo Horizonte" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/indieweb.png" alt="Part of IndieWeb" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <img src="/assets/images/badges/faith-tech.png" alt="Faith and Technology" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/wcag-aa.png" alt="WCAG 2.1 AA Compliant" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>

    <li>
      <img src="/assets/images/badges/coffee-powered.png" alt="Powered by Coffee" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>

    <li>
      <img src="/assets/images/badges/web-standards.png" alt="Web Standards" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>

    <li>
      <img src="/assets/images/badges/semantic-html.png" alt="Semantic HTML" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>

    <li>
      <a href="/feed.xml">
        <img src="/assets/images/badges/valid-rss.png" alt="RSS Feed Available" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>

    <li>
      <img src="/assets/images/badges/obsidian-user.png" alt="Obsidian User" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>

    <li>
      <img src="/assets/images/badges/open-web.png" alt="Supporting Open Web" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
  </ul>
</div>