<div class="max-sm:px-3">
  <ul class="flex flex-wrap gap-2">
    <li>
      {% imageKeys src="assets/images/badges/made-in-bh.png", alt="Feito em Belo Horizonte", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/11ty.gif", alt="Criado com eleventy", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      {% imageKeys src="assets/images/badges/faith-tech.png", alt="Faith and Technology", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/love-validator.png", alt="Eu amo o validador da W3C", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      <a href="/feed.xml">
        {% imageKeys src="assets/images/badges/valid-html5.gif", alt="HTML5 Valid", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      <a href="/feed.xml">
        {% imageKeys src="assets/images/badges/valid-css.gif", alt="CSS Valid", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/wcag-aa.png", alt="WCAG 2.1 AA Compliant", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      <a href="/feed.xml">
        {% imageKeys src="assets/images/badges/valid-rss.png", alt="RSS Feed Available", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>

    <li>
      {% imageKeys src="assets/images/badges/people-pledge.png", alt="Feito por um humano", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/human.svg", alt="Feito por um humano", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/microformats.png", alt="Suporte a microformats", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/indieweb.png", alt="Part of IndieWeb", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/webmentions.png", alt="Suporte a Webmentions", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
    <li>
      {% imageKeys src="assets/images/badges/coffee-powered.png", alt="Powered by Coffee", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/obsidian-user.png", alt="Obsidian User", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/88x31.gif", alt="Badges 88x31", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/internetarchive.jpg", alt="Internet Archive", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/cc.png", alt="Licenciado por Creative Commons", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/mastodon.gif", alt="Mastodon", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      {% imageKeys src="assets/images/badges/vscodium.jpg", alt="VS Codium", loading="lazy", width="88", height="31", simple=true %}
    </li>
    <li>
      <a href="https://brave.com/pt-br/download/" target="_blank" rel="noopener noreferrer">
        {% imageKeys src="assets/images/badges/brave.gif", alt="Brave Browser", loading="lazy", width="88", height="31", simple=true %}
      </a>
    </li>
  </ul>
</div>