<div>
  <ul class="flex flex-wrap gap-2">
    <li>
      <img src="/assets/images/badges/made-in-bh.png" alt="Feito em Belo Horizonte" width="88" height="31"
        loading="lazy" class="badge pixelated" />
    </li>
    <li>
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/11ty.gif" alt="Criado com eleventy" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <img src="/assets/images/badges/faith-tech.png" alt="Faith and Technology" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/love-validator.png" alt="Eu amo o validador da W3C" width="88" height="31"
        loading="lazy" class="badge pixelated" />
    </li>
    <li>
      <a href="/feed.xml">
        <img src="/assets/images/badges/valid-html5.gif" alt="HTML5 Valid" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <a href="/feed.xml">
        <img src="/assets/images/badges/valid-css.gif" alt="CSS Valid" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <a href="https://www.w3.org/WAI/WCAG2AA-Conformance" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/wcag-aa.png" alt="WCAG 2.1 AA Compliant" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <a href="/feed.xml">
        <img src="/assets/images/badges/valid-rss.png" alt="RSS Feed Available" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>

    <li>
      <img src="/assets/images/badges/people-pledge.png" alt="Feito por um humano" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/human.svg" alt="Feito por um humano" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/microformats.png" alt="Suporte a microformats" width="88" height="31"
          loading="lazy" class="badge pixelated" />
      </a>
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/indieweb.png" alt="Part of IndieWeb" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
    <li>
      <a href="https://indieweb.org" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/webmentions.png" alt="Suporte a Webmentions" width="88" height="31"
          loading="lazy" class="badge pixelated" />
      </a>
    </li>
    <li>
      <img src="/assets/images/badges/coffee-powered.png" alt="Powered by Coffee" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/obsidian-user.png" alt="Obsidian User" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/88x31.gif" alt="Badges 88x31" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>

    <li>
      <img src="/assets/images/badges/internetarchive.jpg" alt="Internet Archive" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/cc.png" alt="Licenciado por Creative Commons" width="88" height="31"
        loading="lazy" class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/mastodon.gif" alt="Mastodon" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <img src="/assets/images/badges/vscodium.jpg" alt="VS Codium" width="88" height="31" loading="lazy"
        class="badge pixelated" />
    </li>
    <li>
      <a href="https://brave.com/pt-br/download/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/badges/brave.gif" alt="Brave Browser" width="88" height="31" loading="lazy"
          class="badge pixelated" />
      </a>
    </li>
  </ul>
</div>