<nav class="region" style="--region-space: var(--space-s)">
  <ol class="cluster" role="list" style="--gutter: var(--space-2xs)">
    <li><a href="/">Home</a></li>
    <li>{% faIcon 'chevron-right', 'solid', '0.8em' %}</li>
    <li><a href="/watching/">{{ title }}</a></li>
    <li>{% faIcon 'chevron-right', 'solid', '0.8em' %}</li>
    <li>{{ title }}</li>
  </ol>
</nav>
