<div class="footer__bottom">
  <div class="footer__copyright">
    <p>
      © 2012 Bruno Pulis •
      Feito com ❤️ em BH •
      Conteúdo sob <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="footer__link" target="_blank"
        rel="noopener noreferrer">CC-BY-SA</a>
    </p>
  </div>

  <nav class="footer__social" aria-label="Redes sociais">
    <ul class="social-links cluster" role="list">
      <li>
        <a href="https://github.com/brunopulis" target="_blank" rel="me noopener noreferrer"
          class="social-link no-indicator" aria-label="GitHub">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@brunopulis" target="_blank" rel="me noopener noreferrer"
          class="social-link no-indicator" aria-label="Mastodon">
          Mastodon
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/brunopulis.com" target="_blank" rel="me noopener noreferrer"
          class="social-link no-indicator" aria-label="Bluesky">
          Bluesky
        </a>
      </li>
      <li>
        <a href="https://youtube.com/@brunopulis" target="_blank" rel="noopener noreferrer"
          class="social-link no-indicator" aria-label="YouTube">
          YouTube
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/brunopulis" target="_blank" rel="noopener noreferrer"
          class="social-link no-indicator" aria-label="LinkedIn">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
</div>