<div class="pt-8 border-gray-800 border-t text-left">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between">
    <div class="flex flex-col">
      <p class="text-white underline underline-offset-8 hover:no-underline text-sm mb-4 md:mb-0">
        © 2012 Bruno Pulis -
        Feito com <span role="img" aria-label="amor">❤️</span> em BH
      </p>
      <p class="text-white underline underline-offset-8 mt-4 hover:no-underline text-sm mb-4 md:mb-0">
        Conteúdo licenciado com: <a href="https://creativecommons.org/licenses/by-sa/4.0/"
          class="text-white underline underline-offset-8 hover:no-underline" target="_blank"
          rel="noopener noreferrer">CC-BY-SA</a>
      </p>
    </div>
    

    <div class="flex flex-col md:flex-row">
      <nav class="footer__social" aria-label="Redes sociais">
        <ul class="flex flex-col md:flex-row gap-2">
          <li>
            <a href="/feed" target="_blank" rel="me noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              RSS
            </a>
          </li>
          <li>
            <a href="https://github.com/brunopulis" target="_blank" rel="me noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              GitHub
            </a>
          </li>
          <li>
            <a href="https://mastodon.social/@brunopulis" target="_blank" rel="me noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              Mastodon
            </a>
          </li>
          <li>
            <a href="https://bsky.app/profile/brunopulis.com" target="_blank" rel="me noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              Bluesky
            </a>
          </li>
          <li>
            <a href="https://youtube.com/@brunopulis" target="_blank" rel="noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              YouTube
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/brunopulis" target="_blank" rel="noopener noreferrer"
              class="text-white underline underline-offset-8 hover:no-underline">
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>