<aside class="cta | section overflow-hidden full">
  <div class="section__inner">
    <div class="wrapper flow">
      <div class="mascot cta" data-direction="rtl">
        <div class="flow region place-self-end">
          <h2>title</h2>
          <div class="desktop-only">title</div>
          <div>lead</div>
        </div>
      </div>
    </div>
  </div>
</aside>