<footer class="region" style="--region-space: var(--space-s-m)">
  <div class="wrapper flow" style="--flow-space: var(--space-s)">
    <nav aria-label="Links do rodapé">
      <ul class="cluster" role="list" style="--gutter: var(--space-m)">
        <li><a href="/explore/">Explorar</a></li>
        <li><a href="/blogroll/" lang="en">Blogroll</a></li>
        <li><a href="/accessibility/">Declaração de Acessibilidade</a></li>
        <li><a href="/stats/">Estatísticas</a></li>
        <li><a href="/privacy/">Privacidade</a></li>
      </ul>
    </nav>
    <hr>

    {% include "partials/webrings.njk" %}

    <div class="cluster" style="--gutter: var(--space-m); --cluster-horizontal-alignment: space-between">
      <p class="meta">
        2012 {{ site.name }} •
        <a href="/feeds/all/rss.xml">RSS</a> •
        Conteúdo: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a>
      </p>

      <ul class="cluster" role="list" aria-label="Redes sociais" style="--gutter: var(--space-s)">
        {% if site.social.github %}
          <li>
            <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="me noopener noreferrer">
              {% faIcon 'github', 'brands', 20 %}
              <span class="visually-hidden">GitHub</span>
            </a>
          </li>
        {% endif %}
        {% if site.social.mastodon %}
          <li>
            <a href="{{ site.social.mastodon }}" target="_blank" rel="me noopener noreferrer">
              {% faIcon 'mastodon', 'brands', 20 %}
              <span class="visually-hidden">Mastodon</span>
            </a>
          </li>
        {% endif %}
        {% if site.social.bluesky %}
          <li>
            <a href="{{ site.social.bluesky }}" target="_blank" rel="me noopener noreferrer">
              {% faIcon 'bluesky', 'brands', 20 %}
              <span class="visually-hidden">Bluesky</span>
            </a>
          </li>
        {% endif %}
        {% if site.social.youtube %}
          <li>
            <a href="{{ site.social.youtube }}" target="_blank" rel="me noopener noreferrer" title="YouTube">
              {% faIcon 'youtube', 'brands', 20 %}
              <span class="visually-hidden">YouTube</span>
            </a>
          </li>
        {% endif %}
        {% if site.social.linkedin %}
          <li>
            <a href="{{ site.social.linkedin }}" target="_blank" rel="me noopener noreferrer" title="LinkedIn">
              {% faIcon 'linkedin', 'brands', 20 %}
              <span class="visually-hidden">LinkedIn</span>
            </a>
          </li>
        {% endif %}
        <li>
          <a href="/feeds/"{% if url and url | startsWith('/feeds/') %} class="font-bold"{% endif %} title="Feeds">
            {% faIcon 'rss', 'solid', 20 %}
            <span class="visually-hidden">Feeds</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
