<a href="#main" class="sr-only">{{ meta.skipContent }}</a>
<header class="sticky top-0 z-50 border-b-2 border-brand-dark-500 bg-brand-dark-950">
  <nav class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between gap-8" id="mainnav"
    aria-label="{{ meta.navigation.ariaTop }}">
    <a href="/"
      class="text-2xl font-black text-brand-dark-500 tracking-tighter hover:text-brand-red-500 transition-colors duration-300">
      {% svg "misc/logo", "Bruno Pulis" %}
    </a>

    <ul class="flex items-center gap-x-8">
      {% for item in navigation.top %}
      <li>
        <a href="{{ item.url }}" {% if page.url==item.text %}aria-current="page" {% endif %}
          class="text-sm font-bold uppercase tracking-widest text-brand-blue-500 hover:text-brand-blue-600border-b-2 border-transparent hover:border-brand-blue-500 transition-all duration-300 {{ itemClass }}">
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>