{% set lastMod = page.inputPath | lastModified %}
{% if lastMod %}
  <footer class="region" style="--region-space: var(--space-l)">
    <hr>
    <p class="meta">
      {% faIcon 'pen-nib', 'solid', '1em' %}
      <span>Última modificação: {{ lastMod | readableDate }}</span>
    </p>
  </footer>
{% endif %}
