<section class="callout flow">
  <div class="flow" style="--flow-space: var(--space-2xs)">
    <h2>
      {{ meta.author.newsletter.title }}
    </h2>
    <p>
      {{ meta.author.newsletter.description }}
    </p>

    <a href="{{ meta.author.newsletter.action }}"
       rel="noopener noreferrer"
       target="_blank"
       class="font-bold">
      Se inscreva
    </a>
  </div>
</section>
