<section class="mt-8">
  <div class="bg-light-silver-100 p-6 rounded-lg">
    <h2 class="mb-2 font-semibold text-blood-red-950 text-lg">
      {{ site.newsletter.title }}
    </h2>
    <p class="mb-4">
      {{ site.newsletter.description }}
    </p>

    <a href="{{ site.newsletter.action }}"
       rel="noopener noreferrer"
       target="_blank"
       class="inline-flex items-center bg-blood-red-950 hover:bg-blood-red-900 my-2 p-3 rounded-lg font-bold text-white transition-colors">
      Se inscreva
    </a>
  </div>
</section>
