{% set relatedPosts = [] %}
{% if tags %}
  {% for post in collections.posts %}
    {% if post.url != page.url %}
      {% set commonTags = 0 %}
      {% for tag in tags %}
        {% if post.data.tags and post.data.tags.includes(tag) %}
          {% set commonTags = commonTags + 1 %}
        {% endif %}
      {% endfor %}
      {% if commonTags > 0 %}
        {% set relatedPosts = (relatedPosts.push({post: post, score: commonTags}), relatedPosts) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if relatedPosts.length > 0 %}
  {% set sortedPosts = relatedPosts | sort(false, false, 'score') | reverse %}
  <section class="region" style="--region-space: var(--space-l)">
    <hr>
    <div class="flow" style="--flow-space: var(--space-s)">
      <h2>
        Posts relacionados
      </h2>

      <div class="grid" style="--grid-min-item-size: 16rem;">
        {% for item in sortedPosts | limit(3) %}
          {% set post = item.post %}
          <article class="card">
            <div class="flow" style="--flow-space: var(--space-2xs)">
              <h3>
                <a href="{{ post.url }}">
                  {{ post.data.title }}
                </a>
              </h3>
              <time class="meta" datetime="{{ post.date | htmlDateString }}">
                {{ post.date | readableDate }}
              </time>
              <p>
                {{ post.data.description or (post.templateContent | striptags | truncate(100)) }}
              </p>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
