<section class="mt-4 py-8 border-border border-gray-200 border-y">
  <div class="">
    <h3 class="mb-2 font-semibold text-errie-black-950 text-sm uppercase tracking-wide">Compartilhe</h3>
    <ul class="flex flex-wrap gap-2">
      <li>
        <a class="text-vista-blue-600 underline underline-offset-4 hover:no-underline" href="mailto:{{site.email}}?subject=Resposta para {{title}}">
          Responder via e-mail
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ title | urlencode }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-vista-blue-600 underline underline-offset-4 hover:no-underline u-syndication"
        >
          Twitter
        </a>
      </li>
      <li>
        <a class="text-vista-blue-600 underline underline-offset-4 hover:no-underline u-syndication"
           href="https://mastodon.social/share?text={{ title | urlencode }}%20{{ site.url }}{{ page.url }}"
           target="_blank"
           rel="noopener noreferrer">
          Mastodon
        </a>
      </li>
      <li>
        <a
          href="https://bsky.app/intent/compose?text={{ title | urlencode }}%20{{ site.url }}{{ page.url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-vista-blue-600 underline underline-offset-4 hover:no-underline u-syndication"
        >
          Bluesky
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
          target="_blank"
          rel="noopener"
          class="text-vista-blue-600 underline underline-offset-4 hover:no-underline u-syndication"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</section>
