---
import type { Language, TranslationKey } from '@i18n/index';
import type { CollectionEntry } from 'astro:content';

import StreamList from './StreamList.astro';

interface Props {
  streams: CollectionEntry<'stream'>[];
  t: (key: TranslationKey) => string;
  locale?: Language;
}

const { streams, t, locale } = Astro.props;
---


<section class="region flow" aria-labelledby="stream-title">
  <div class="flow">
    <h2 class="title" id="stream-title">{t('home.stream.title')}</h2>
    <StreamList streams={streams} t={t} locale={locale} />
  </div>
</section>
