<section aria-label="responses" class="box">
  <div id="webmentions"></div>

  <details>
    <summary>Veja como responder...</summary>
    <div class="details-wrapper">
      <section class="flow">
        <h3>Responder de outro site</h3>
        <p>
          Respostas são coletadas de posts em outros sites. Você postou
          em algum lugar que links para esta página? Se sim, compartilhe o link!
        </p>
        <form id="manual-webmention" action="https://webmention.io/{{ site.url }}/webmention" method="post">
          <input type="url" name="source" placeholder="https://www.exemplo.com" aria-label="URL">
          <input type="hidden" name="target" value="{{ page.url }}">
          <input type="submit" name="submit" value="Compartilhar link">
        </form>
      </section>
    </div>
  </details>
</section>