<div class="mt-6 py-6 border-gray-200 dark:border-gray-700 border-t">
  <h2 class="mb-2 font-bold text-2xl">Webring</h2>
  <p>Webrings que faço parte</p>
  <div class="gap-4 grid grid-cols-1 md:grid-cols-3 mt-12">
    <div class="bg-white p-4 rounded-lg">
      <h2 class="mb-2 font-bold text-2xl" id="a11y-webring-club">A11Y Webring</h2>
      <ul class="flex gap-2">
        <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev" aria-label="Site anterior">🔙</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random" aria-label="Site aleatório">🔄</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next" aria-label="Próximo site">🔜</a></li>
      </ul>
    </div>

    <div class="bg-white p-4 rounded-lg">
      <h2 class="mb-2 font-bold text-2xl" id="a11y-webring-club">IndieWeb Webring</h2>
      <ul class="flex gap-2">
        <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/previous" aria-label="Site anterior">🔙</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/next" aria-label="Próximo site">🔜</a></li>
      </ul>
    </div>

    <div class="bg-white p-4 rounded-lg">
      <h2 class="mb-2 font-bold text-2xl" id="a11y-webring-club">Fediring Webring</h2>
      <ul class="flex gap-2">
        <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev" aria-label="Site anterior">🔙</a></li>
        <li><a class="underline" rel="external" referrerpolicy="strict-origin" href="https://fediring.net/">Fediring</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next" aria-label="Próximo site">🔜</a></li>
      </ul>
    </div>
  </div>
</div>
