<div class="flow" style="--flow-space: var(--space-s-m)">
  <h2>Webrings</h2>

  <div class="grid" style="--grid-placement: auto-fit; --grid-min-item-size: 15rem; --gutter: var(--space-s)">
    <nav
      class="callout flow"
      style="--flow-space: var(--space-s); background-color: var(--color-surface); border-color: var(--color-surface-raised); border-style: solid"
      aria-labelledby="a11y-webring-club"
    >
    <h3 id="a11y-webring-club">a11y-webring.club</h3>
    <p>Esse site é membro do <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
    <ul class="cluster" role="list" style="--gutter: var(--space-xs)">
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Site anterior</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Site aleatório</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Próximo site</a></li>
    </ul>
    </nav>

    <nav
      class="callout flow"
      style="--flow-space: var(--space-s); background-color: var(--color-surface); border-color: var(--color-surface-raised); border-style: solid"
      aria-labelledby="indieweb-ring"
    >
    <h3 id="indieweb-ring">IndieWeb</h3>
    <p>Esse site também participa do <a rel="external" href="https://xn--sr8hvo.ws/">webring da IndieWeb</a>.</p>
    <ul class="cluster" role="list" style="--gutter: var(--space-xs)">
      <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/previous">Site anterior</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/next">Próximo site</a></li>
    </ul>
    </nav>

    <nav
      class="callout flow"
      style="--flow-space: var(--space-s); background-color: var(--color-surface); border-color: var(--color-surface-raised); border-style: solid"
      aria-labelledby="fediring"
    >
    <h3 id="fediring">Fediring</h3>
    <p>Esse site também participa do <a rel="external" href="https://fediring.net/">Fediring</a>.</p>
    <ul class="cluster" role="list" style="--gutter: var(--space-xs)">
      <li><a rel="external" referrerpolicy="strict-origin" href="https://fediring.net/previous?host=brunopulis.com">Site anterior</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://fediring.net/next?host=brunopulis.com">Próximo site</a></li>
    </ul>
    </nav>
  </div>
</div>
