<div class="my-12 max-sm:px-3">
  <div class="flex flex-wrap gap-3 text-sm">
    <span class="text-white">Membro do</span>
    <a href="https://a11y-webring.club"
      class="font-semibold text-white underline underline-offset-8 hover:no-underline">
      a11y-webring.club
    </a>
    <nav class="flex flex-wrap justify-center items-center gap-3" aria-label="Navegação do webring">
      <a href="https://a11y-webring.club/prev" class="text-white underline underline-offset-8 hover:no-underline">←
        anterior</a>
      <a href="https://a11y-webring.club/random"
        class="text-white underline underline-offset-8 hover:no-underline">aleatório</a>
      <a href="https://a11y-webring.club/next"
        class="text-white underline underline-offset-8 hover:no-underline">próximo
        →</a>
    </nav>
  </div>
</div>