<nav aria-label="IndieWeb Webring">
  <ul class="c-webring">
    <li><a class="c-webring__next webring-link" href="https://xn--sr8hvo.ws/previous"><span aria-hidden="true">«</span> Previous</a></li>
    <li><a class="c-webring__homepage webring-link" href="https://xn--sr8hvo.ws">IndieWeb Webring</a></li>
    <li><a class="c-webring__next webring-link" href="https://xn--sr8hvo.ws/next">Next <span aria-hidden="true">»</span></a></li>
  </ul>
</nav>