<p class="text-errie-black-950 text-sm">
  <strong>Webrings</strong>:
  A11Y
  <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev" aria-label="Anterior" class="underline hover:no-underline">←</a>
  <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random" aria-label="Aleatório" class="underline hover:no-underline">↺</a>
  <a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next" aria-label="Próximo" class="underline hover:no-underline">→</a>
  ·
  IndieWeb
  <a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/previous" aria-label="Anterior" class="underline hover:no-underline">←</a>
  <a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/next" aria-label="Próximo" class="underline hover:no-underline">→</a>
  ·
  Fediring
  <a rel="external" referrerpolicy="strict-origin" href="https://fediring.net/" class="underline hover:no-underline">Fediring</a>
</p>
