<div class="flex mb-12 text-sm">
  <p class="mb-2 mr-6 text-white">Membro do
    <a href="https://a11y-webring.club"
      class="font-semibold text-white underline underline-offset-8 hover:no-underline">
      a11y-webring.club
    </a>
  </p>
  <nav aria-label="Navegação do webring" class="flex gap-4">
    <a href="https://a11y-webring.club/prev" class="text-white underline underline-offset-8 hover:no-underline">← anterior</a>
    <a href="https://a11y-webring.club/random" class="text-white underline underline-offset-8 hover:no-underline">aleatório</a>
    <a href="https://a11y-webring.club/next" class="text-white underline underline-offset-8 hover:no-underline">próximo →</a>
  </nav>
</div>
