<is-land on:idle>
  <div class="webring | cluster">
    <div class="webring__content | cluster" data-layout="cluster">
      <span class="color-secondary">Membro do</span>
      <a href="https://a11y-webring.club" class="webring__link"> a11y-webring.club </a>
      <span class="color-tertiary">•</span>
      <a href="https://a11y-webring.club/prev" class="webring__nav">← anterior</a>
      <a href="https://a11y-webring.club/random" class="webring__nav">aleatório</a>
      <a href="https://a11y-webring.club/next" class="webring__nav">próximo →</a>
    </div>
  </div>
</is-land>