---
import { ArrowUp } from "@lucide/astro";
---

<div>
    <a href="#start" id="back-to-top" aria-label="Ir para o topo">
      <ArrowUp />
    </a>
  </div>
</div>


<script>
  const backToTopLink = document.getElementById("back-to-top");

  const toggleBackToTopVisibility = () => {
    backToTopLink!.style.display = window.scrollY > 0 ? "block" : "none";
  };

  window.addEventListener("scroll", toggleBackToTopVisibility);
</script>
