---
import pulisLogo from "@/assets/logo-h.svg";
---

<a
  href="/"
  class="title-font mb-4 flex items-center font-medium text-gray-900 md:mb-0"
  aria-label="Ir para página inicial"
>
  <img src={pulisLogo.src} class="h-10 w-auto" alt="" />
</a>
