---
const { pathname } = Astro.url;
---

<nav
  class="flex flex-wrap items-center justify-center mr-10 text-base md:ml-auto"
  id="menu"
>
  <ul
    class="mt-4 flex flex-col items-center text-xl md:flex-row lg:mt-0 lg:flex lg:space-x-4"
  >
    <li class="mr-2">
      <a
        href="/blog"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/blog' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Blog</a
      >
    </li>
    <li class="mr-2">
      <a
        href="/services"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/services' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Serviços</a
      >
    </li>
     <li class="mr-2">
      <a
        href="/training"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/training' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Treinamentos</a
      >
    </li>
    <li class="mr-2">
      <a
        href="/speaking"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/speaking' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Palestras</a
      >
    </li>
    <li class="mr-2">
      <a
        href="/newsletter"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/newsletter' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Newsletter</a
      >
    </li>
    <li class="mr-2">
      <a
        href="/about"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/about' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Sobre</a
      >
    </li>
    <li class="mr-2">
      <a
        href="/slashes"
        class={`text-errie-black text-[20px] underline-offset-8 hover:underline${
          pathname === '/slashes' ? ' font-bold text-red-950 underline' : ''
        }`}
        >Mais</a
      >
    </li>
  </ul>
</nav>
<div class="flex items-center gap-4">
  <div class="sm:flex sm:gap-4">
    <a
      class="rounded-md bg-red-900 hover:bg-red-950 px-4 py-1.5 text-sm font-medium text-white text-[20px] shadow-sm sm:px-5 sm:py-2.5"
      href="/contact?subject=Contract inquiry from sia.codes"
    >
      Contato
    </a>
  </div>
</div>
<!-- <a
        href="/search"
        class="inline-flex items-center rounded-4xl bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
        aria-label="Ir para página de pesquisa"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </a> -->
