---

---

<div class="promo" id="promo-banner">
  <div class="container mx-auto">
    <p>Esse site está em processo de refatoração e redesign. Então se algo estiver quebrado, é por causa disso.</p>
  </div>
</div>

<style>
  /*  mb-6 bg-gray-800 px-4 py-2 text-white shadow-md */
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    background-color: #1f2937; /* bg-gray-800 */
    padding: 0.5rem 1rem; /* px-4 py-2 */
    color: #ffffff; /* text-white */
    text-align: center;
  }
</style>
