---
import { ClientRouter } from "astro:transitions";
import RSS from "@components/utils/head/RSS.astro";
import Header from "@/components/layouts/Header.astro";
import Footer from "@/components/layouts/Footer.astro";
import Webmentions from "@components/utils/head/Webmentions.astro";
import Preconnect from "@components/utils/head/Preconnect.astro";
import BasicScripts from "@components/BasicScripts.astro";
import BackToTop from "@components/utils/BackToTop.astro";
import "@fontsource-variable/source-sans-3";

import "@styles/global.css";
import "@styles/transitions.css";

export interface Props {
	title: string;
	description?: string;
}

const { title, description = "Bruno Pulis - Engenheiro de Acessibilidade" } =
	Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <RSS />
    <Webmentions />
    <Preconnect />
    <ClientRouter />
  </head>
  <body class="antialiased">
    <Header />
    <slot />
    <Footer />
    <BackToTop />
    <BasicScripts />
  </body>
</html>
